<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show && api.user.profile.actAsOptions.canSeeCSLinks">
  <ul class="cc-list-bullets">
    <li>
      <div>
        <div>
          <span>
              <a data-cc-campus-solutions-link-directive="enrollmentInstruction.csLinks.ucAddClassEnrollment"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
              data-ng-disabled="enrollmentInstruction.isEndOfDropAddTimePeriod || !enrollmentInstruction.csLinks.ucAddClassEnrollment"
              ></a>
              <a href="https://extension.berkeley.edu/static/studentservices/concurrent/#collapseOneAfter"
              title ="View deadlines for concurrent enrollment"
              data-ng-if="!(enrollmentInstruction.isEndOfDropAddTimePeriod || !enrollmentInstruction.csLinks.ucAddClassEnrollment)"
              >(view deadlines)</a>
          </span>
        </div>
        <div data-ng-if="!enrollmentInstruction.csLinks.ucAddClassEnrollment.url">
          Application temporarily unavailable at this time
        </div>
      </div>
    </li>
    <li data-ng-if="enrollmentInstruction.csLinks.ucViewClassEnrollment.url">
      <a data-cc-campus-solutions-link-directive="enrollmentInstruction.csLinks.ucViewClassEnrollment"
        data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      ></a>
    <li data-ng-if="enrollmentInstruction.csLinks.ucEditClassEnrollment.url">
      <a data-cc-campus-solutions-link-directive="enrollmentInstruction.csLinks.ucEditClassEnrollment"
        data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
  </ul>
</div>
<div
  data-ng-if="!api.user.profile.actAsOptions.canSeeCSLinks"
  data-ng-include="'widgets/enrollment/enrollment_hide_links.html'">
</div>
