@import '../../../../assets/stylesheets/colors.scss';

.SemestersSummary {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid $cc-color-very-light-grey;

  .cc-academic-summary-table-units {
    padding-right: 15px !important;
  }
}
