@import '../../../../assets/stylesheets/colors.scss';

.Semester {
  border: 1px solid $cc-color-very-light-grey;
  padding: 10px 15px;
  margin-top: 15px;

  .cc-class-enrollments {
    margin-top: 15px;
  }

  .cc-academic-summary-table-units {
    padding-right: 15px !important;
  }
}

.Semester__header {
  overflow: 'hidden';
}
