@import 'src/react/stylesheets/variables';
@import 'src/react/stylesheets/mixins';

$activeColor: $color-foam;

.message {
  padding: 10px 0;
  border-bottom: 1px solid #eee;

  @include hasDisclosureArrow();

  &:hover {
    background-color: $activeColor;
  }

  &.collapsed {
    @include disclosureArrowClosed();
  }

  &.expanded {
    @include disclosureArrowOpen();
    background-color: $activeColor;

    &.notFocused {
      background-color: $color-bianca;
    }
  }
}
