@import 'src/react/stylesheets/variables';
@import 'src/react/stylesheets/mixins';

$header-bg-color: $color-jewel;
$curve-position: 8px;

// TODO: move these to the mixins file, once they have been updated to use REMs
// and have the line-heights ironed out.
@mixin title1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

@mixin title2 {
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
}

@mixin title3 {
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
}

@mixin tiny-text {
  font-size: 11px;
  line-height: 16px;
}

.wrapper {
  background-color: $white;
  margin-right: $large-spacing;
  margin-top: $large-spacing;
}

.header {
  background-color: $header-bg-color;
  color: $white;
  padding-top: $medium-spacing;

  h1 {
    @include title1;
    color: inherit;
    line-height: 1;
    text-align: center;
  }
}

.headerDecorationWrapper {
  margin-top: $medium-spacing;
  background-image: linear-gradient(
    $header-bg-color,
    $header-bg-color $curve-position,
    $white ($curve-position + 1px)
  );
}

.headerDecoration {
  background-size: 102% auto;
  background-repeat: no-repeat;
  background-position-y: $curve-position;
  background-position-x: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 284 23.28'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath fill='%23137e3e' d='M284,7.47a233.73,233.73,0,0,1-63.53,15c-53.81,4.83-81.33-12.13-145.73-15A405.89,405.89,0,0,0,0,11.21V0H284Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  text-align: center;
}

.body {
  padding: $large-spacing;
}

.dailyScreener {
  background-color: $color-skeptic;
  border-radius: $small-border-radius;
  text-align: center;
  padding: $medium-spacing;

  h2 {
    @include title2;
  }

  p {
    @include tiny-text;
    margin-bottom: $medium-spacing;
  }

  a {
    display: block;
  }
}

.campusUpdates {
  h2 {
    @include title2;
    margin-top: $large-spacing;
    margin-bottom: $medium-spacing;
  }

  p {
    margin-bottom: $medium-spacing;
  }

  button {
    margin-top: $small-spacing;
  }
}

.resources {
  margin-top: $large-spacing;

  h2 {
    @include title2;
    margin-bottom: $medium-spacing;
  }

  ul {
    li {
      position: relative;
      list-style-type: none;
      line-height: 20px;
      margin-left: 16px;
    }

    li:before {
      content: '';
      position: absolute;
      top: 7px;
      left: -16px;
      width: 6px;
      height: 6px;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6' height='6' fill='%2361889E'/%3E%3C/svg%3E%0A");
    }
  }
}
