<td class="cc-academics-semester-incomplete-notice" colspan="{{totalColumns}}" data-ng-if="showSingleColumn && (showGradingLapseDeadline || gradingBasisIsFrozen)">
  <span data-ng-if="showGradingLapseDeadline">
    <a data-cc-campus-solutions-link-directive="{{academicGuideGradesPolicyLink}}">Student Completion Deadline is 30 days before</a>
    <span data-ng-bind="gradingLapseDeadline"></span>
  </span>
  <a data-ng-if="gradingBasisIsFrozen" data-cc-campus-solutions-link-directive="{{academicGuideGradesPolicyLink}}">Frozen</a>
</td>

<td class="cc-academics-semester-incomplete-notice" data-ng-repeat="col in columnIndexes" data-ng-if="!showSingleColumn && (showGradingLapseDeadline || gradingBasisIsFrozen)">
  <span data-ng-if="showGradingLapseDeadline && (col === displayColumnIndex)">
    <a data-cc-campus-solutions-link-directive="{{academicGuideGradesPolicyLink}}">Student Completion Deadline is 30 days before</a>
    <span data-ng-bind="gradingLapseDeadline"></span>
  </span>
  <a data-ng-if="gradingBasisIsFrozen && (col === displayColumnIndex)" data-cc-campus-solutions-link-directive="{{academicGuideGradesPolicyLink}}">Frozen</a>
  <span data-ng-if="col !== displayColumnIndex">&nbsp;</span>
</td>
