<h3 class="cc-widget-list-hover"
    data-ng-class="{'cc-widget-list-hover-opened':(section.show)}"
    data-ng-click="toggleShow($event, null, section, 'Dashboard - New Admit Resources')"
    data-ng-bind="sectionTitle"></h3>
<ul data-ng-if="section.show" class="cc-list-bullets">
  <li data-ng-repeat="(linkName, link) in links">
    <a data-ng-href="{{link.url}}" data-ng-attr-title="{{link.title}}"><span data-ng-bind="link.name"></span></a>
    <p data-ng-bind="link.linkDescription"></p>
  </li>
</ul>
