<div class="medium-8 medium-centered columns cc-column-3 cc-clearfix-container">
  <div class="cc-widget cc-widget-permissions">
    <div class="cc-widget-title">
      <h2 data-ng-bind="title"></h2>
    </div>
    <div class="cc-widget-text">
      <h3 data-ng-bind="header" data-ng-if="header"></h3>
      <div class="cc-text-pre-line" data-ng-bind="text" data-ng-if="text"></div>
      <hr>
      <h3 data-ng-bind="responseHeader" data-ng-if="responseHeader"></h3>
      <div class="cc-text-pre-line" data-ng-bind="responseText" data-ng-if="responseText"></div>
      <div class="cc-text-left">
        <button
          class="cc-button cc-button-blue cc-button-finaid-permissions"
          data-ng-bind="buttonTextApprove"
          data-ng-click="buttonActionApprove()"
          data-ng-show="canPost"
          data-ng-if="buttonTextApprove"
        ></button>
        <a class="cc-button cc-button cc-button-finaid-permissions"
           data-ng-if="buttonGoBack"
           data-ng-show="canPost"
           data-ng-href="/finances/finaid/{{aidYear}}">Return to My Finances</a>
        <a class="cc-button cc-button-blue cc-button-finaid-permissions"
           data-ng-if="buttonGoBack"
           data-ng-show="!canPost"
           data-ng-href="/finances/finaid/{{aidYear}}">Return to My Finances</a>
      </div>
    </div>
  </div>
</div>
