<div class="cc-widget cc-toolbox-widget" data-ng-controller="AcademicDatesController">
  <div class="cc-widget-title">
    <h2>Academic Dates &amp; Deadlines</h2>
  </div>
  <div class="cc-list-link-container">
    <ul class="cc-list-links">
      <li>
        <a href="http://registrar.berkeley.edu/calendar">
          View the Academic Calendar
        </a>
      </li>
      <li>
        <a href="http://registrar.berkeley.edu/add-academic-calendar-bcal">
          Subscribe to the Academic Calendar
        </a>
      </li>
      <li>
        <a href="http://grad.berkeley.edu/academic-progress/deadlines/">
          Graduate Division Degree Deadlines
        </a>
      </li>
    </ul>
  </div>
</div>
