<div class="cc-widget cc-widget-profile">
  <div class="cc-widget-title">
    <h2>Personal Summary</h2>
  </div>
  <div class="cc-widget-text" data-cc-spinner-directive="targetUser.isLoading">
    <div data-ng-if="targetUser.error">
      <h3 data-ng-bind="targetUser.error.summary"></h3>
      <div data-ng-bind="targetUser.error.description"></div>
    </div>
    <div data-ng-if="!targetUser.error">
      <div class="cc-table cc-table-top-border cc-clearfix">
        <table class="cc-widget-profile-table">
          <tbody>
            <tr>
              <th>
                <img
                  data-cc-load-error-directive="profilePicture"
                  data-ng-if="!profilePicture.loadError"
                  class="cc-widget-profile-img"
                  height="96"
                  width="72"
                  data-ng-attr-alt="{{ targetUser.fullName && targetUser.fullName.trim ? targetUser.fullName.trim() + '\'s photo' : 'profile photo' }}"
                  data-ng-src="api/photo/{{ targetUser.ldapUid }}"
                />
                <div
                  data-ng-if="profilePicture.loadError"
                  class="cc-widget-profile-picture-not-available"
                >
                  <i class="fa fa-user"></i>
                </div>
              </th>
              <td>
                <div>
                  <strong data-ng-bind="targetUser.defaultName"></strong>
                  <span class="cc-inline-block"
                    >(<button
                      class="cc-button-link"
                      data-ng-click="targetUser.actAs()"
                      data-ng-disabled="!api.user.profile.isDirectlyAuthenticated"
                    >
                      view as</button
                    >)</span
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="cc-table cc-table-top-border cc-clearfix">
        <table class="cc-widget-profile-table">
          <tbody>
            <tr>
              <th>SID</th>
              <td>
                <strong
                  data-ng-bind="(targetUser.studentId || targetUser.campusSolutionsId)"
                ></strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div data-ng-include="'widgets/academics/college_and_level.html'"></div>
      <div
        data-ng-if="collegeAndLevel.degrees"
        data-ng-include="'widgets/academics/degrees_conferred.html'"
      ></div>
      <div
        class="cc-table cc-table-top-border cc-clearfix"
        data-ng-if="targetUser.addresses || targetUser.phones || targetUser.emails"
      >
        <table class="cc-widget-profile-table">
          <tbody>
            <tr>
              <th>Contact Information</th>
              <td>
                <div
                  class="cc-widget-vertical-padding"
                  data-ng-repeat="address in targetUser.addresses"
                >
                  <div>
                    <strong
                      data-ng-bind-template="{{address.type.description}} Address"
                    ></strong>
                  </div>
                  <div>
                    <div
                      class="cc-text-pre-line"
                      data-ng-bind="address.formattedAddress"
                    ></div>
                    <div
                      data-ng-bind="address.countryCode"
                      data-ng-if="address.countryCode !== 'USA'"
                    ></div>
                  </div>
                </div>
                <br />
                <div
                  class="cc-widget-vertical-padding"
                  data-ng-repeat="phone in targetUser.phones"
                >
                  <div>
                    <strong
                      data-ng-bind-template="{{phone.type.description}} Phone"
                    ></strong>
                    <span data-ng-if="phone.primary">(preferred)</span>
                  </div>
                  <div>
                    <span data-ng-bind="phone.number"></span>
                    <span
                      data-ng-if="phone.extension"
                      data-ng-bind-template="ext. {{phone.extension}}"
                    ></span>
                  </div>
                </div>
                <br />
                <div
                  class="cc-widget-vertical-padding"
                  data-ng-repeat="email in targetUser.emails"
                >
                  <div>
                    <strong
                      data-ng-bind-template="{{email.type.description}} Email"
                    ></strong>
                    <span data-ng-if="email.primary">(preferred)</span>
                  </div>
                  <div class="cc-break-word">
                    <a
                      data-ng-href="mailto:{{email.emailAddress}}"
                      data-ng-bind="email.emailAddress"
                    ></a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="cc-table cc-table-top-border cc-clearfix"
        data-cc-spinner-directive="ucAdvisingResources.isLoading"
      >
        <table class="cc-widget-profile-table">
          <tbody>
            <tr>
              <th>
                Advising Resources
              </th>
              <td>
                <div
                  data-ng-if="ucAdvisingResources.links.studentServiceIndicators.url"
                >
                  <a
                    data-cc-campus-solutions-link-directive="ucAdvisingResources.links.studentServiceIndicators"
                    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                  ></a>
                </div>
                <div
                  data-ng-if="ucAdvisingResources.links.studentAdvisingAssignments.url"
                >
                  <a
                    data-cc-campus-solutions-link-directive="ucAdvisingResources.links.studentAdvisingAssignments"
                    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                  ></a>
                </div>
                <div
                  data-ng-if="ucAdvisingResources.links.studentAdministrativeTranscripts.url"
                >
                  <a
                    data-cc-campus-solutions-link-directive="ucAdvisingResources.links.studentAdministrativeTranscripts"
                    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                  ></a>
                </div>
                <div
                  data-ng-if="ucAdvisingResources.links.studentAcademicProgressReport.url"
                >
                  <a
                    data-cc-campus-solutions-link-directive="ucAdvisingResources.links.studentAcademicProgressReport"
                    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                  ></a>
                </div>
                <div
                  data-ng-if="ucAdvisingResources.links.studentWhatIfReport.url"
                >
                  <a
                    data-cc-campus-solutions-link-directive="ucAdvisingResources.links.studentWhatIfReport"
                    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                  ></a>
                </div>
                <div
                  data-ng-if="ucAdvisingResources.links.studentManageMilestones.url"
                >
                  <a
                    data-cc-campus-solutions-link-directive="ucAdvisingResources.links.studentManageMilestones"
                    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                  ></a>
                </div>
                <div
                  data-ng-if="ucAdvisingResources.links.studentMultiYearAcademicPlanner.url"
                >
                  <a
                    data-cc-campus-solutions-link-directive="ucAdvisingResources.links.studentMultiYearAcademicPlanner"
                    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                    data-cc-campus-solutions-link-directive-cc-cache="advisingAcademics"
                    data-ng-click="expireAcademicsCache()"
                  ></a>
                </div>
                <div
                  data-ng-if="ucAdvisingResources.links.studentAdvisorNotes.url"
                >
                  <a
                    data-cc-campus-solutions-link-directive="ucAdvisingResources.links.studentAdvisorNotes"
                    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                  ></a>
                </div>
                <div data-ng-if="schedulePlanner">
                  <a
                    data-ng-href="/college_scheduler/advisor/{{schedulePlanner.careerCode}}/{{schedulePlanner.termId}}/{{schedulePlanner.studentUid}}"
                    data-cc-outbound-enabled="true"
                    title="View this student's planned schedule for this term."
                  >
                    Schedule Planner
                  </a>
                </div>
                <div
                  data-ng-if="ucAdvisingResources.links.studentWebnowDocuments.url"
                >
                  <a
                    data-cc-campus-solutions-link-directive="ucAdvisingResources.links.studentWebnowDocuments"
                    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
