@import '../../../../assets/stylesheets/colors.scss';

.TransferCredit {
  border: 1px solid $cc-color-very-light-grey;
  padding: 10px 15px;
  margin-top: 15px;
}

.TransferCredit__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-size: 14px;
  }
}

.TransferCredit__body {
  display: flex;
}

.TransferCredit__table-container {
  flex: 1;
}

.TransferCredit__table-container + .TransferCredit__table-container  {
  margin-left: 10px;
}

.TranferCredit__unit-count {
  text-align: right;
}

.TranferCredit__unit-total {
  text-align: right;
  font-weight: bold;
}

.cc-transfer-credit-summary__semester-posted {
  margin-left: 8px;
}
