<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-date="{{enrollmentInstruction.enrollmentPeriod[0] && !isInstructionType(enrollmentInstruction, ['law', 'concurrent']) ? 'After ' + (enrollmentInstruction.enrollmentPeriod[0].date.epoch * 1000 | date:'MMM d'): ''}}"
  data-title="section.title"
></div>

<div data-ng-if="isInstructionType(enrollmentInstruction, ['haasFullTimeMba','haasEveningWeekendMba'])">
  <p class="cc-enrollment-card-notifications-paragraph">
    You may change your non-Haas classes during or after your enrollment period.
  </p>
  <p class="cc-enrollment-card-notifications-paragraph">
    Do not drop or change Haas classes here. Use
    <a href="https://olr.haas.berkeley.edu/">OLR</a> instead.
  </p>
</div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <div
    data-ng-include="'widgets/enrollment/adjust_enrolled.html'">
  </div>
  <div
    data-ng-include="'widgets/enrollment/adjust_waitlisted.html'">
  </div>
</div>

<div class="cc-enrollment-card-section-content" data-ng-if="enrollmentInstruction.termIsSummer && !isInstructionType(enrollmentInstruction, ['law', 'concurrent'])">
  <a data-cc-campus-solutions-link-directive="enrollmentInstruction.csLinks.requestLateClassChanges"
    data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
    data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
  ></a>
</div>
