<div data-ng-if="enrollmentInstruction.termIsSummer && !isInstructionType(enrollmentInstruction, ['haasEveningWeekendMba'])">
  <p>If you drop all your summer classes, you will be subject to <a data-ng-href="{{summerFees.link}}" data-ng-attr-title="{{summerFees.title}}">summer fees</a>.</p>
</div>
<div>
  <strong>Enrolled Classes</strong>
</div>
<div
  data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks"
  class="cc-flex cc-flex-wrap cc-enrollment-card-enrolled-links"
>
  <enrollment-instruction-links
    instruction="enrollmentInstruction"
    from-page="currentPage"
    current-role="api.user.profile.academicRoles.current">
  </enrollment-instruction-links>
</div>

<div data-ng-if="!enrollmentInstruction.enrolledClasses.length">
  You are currently not enrolled in any classes for
  <span data-ng-bind="enrollmentInstruction.termDescr"></span>.
</div>

<!-- TODO: Temp for Spring 2020 only, should be removed after Spring 2020  -->
<div data-ng-if="enrollmentInstruction.termId == '2202' && enrollmentInstruction.csLinks.spring2020Drop">
  <span>
    <a data-cc-campus-solutions-link-directive="enrollmentInstruction.csLinks.spring2020Drop"
      data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
      data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      data-ng-click="api.analytics.sendEvent('Open eform page', 'Click', 'Request Spring 2020 Drop')"></a>: L&S students may use this form to drop a Spring 2020 class. This form closes May 6, 11:59pm.
  </span>
</div><br/>

<div data-ng-if="enrollmentInstruction.enrolledClasses.length">
  <div
    class="cc-table"
    data-ng-class="{'cc-enrollment-card-margin-top' : ($index > 0)}"
    data-ng-repeat="(groupedSectionKey, groupedSection) in enrollmentInstruction.enrolledClassesGrouped"
  >

    <div class="cc-enrollment-card-adjust-early-drop-deadline-notice" data-ng-if="!enrollmentInstruction.isEndOfDropAddTimePeriod && enrollmentInstruction.earlyDropDeadlineClasses">
      Note: The early drop deadline (The second Friday after instruction begins) applies to:
      <span data-ng-bind="enrollmentInstruction.earlyDropDeadlineClasses"></span>
    </div>

    <table>
      <thead>
        <th scope="col" width="100px">
          <span class="cc-text-small" data-ng-bind-template="{{groupedSectionKey}}"></span>
          <span class="cc-visuallyhidden">Class</span>
        </th>
        <th scope="col" width="30px" class="cc-table-right-spacing">
          <span class="cc-visuallyhidden">Component</span>
        </th>
        <th scope="col">When</th>
        <th scope="col" class="cc-table-right">Units</th>
      </thead>
      <tbody>
        <tr data-ng-repeat="class in groupedSection">
          <td data-ng-bind="class.subjectCatalog"></td>
          <td data-ng-attr-title="{{class.ssrComponentDescr}}" class="cc-table-right-spacing">
            <span class="cc-visuallyhidden" data-ng-bind-template="{{class.ssrComponentDescr}} -"></span>
            <span data-ng-bind="class.ssrComponent"></span>
          </td>
          <td>
            <ul class="cc-enrollment-meeting-times">
              <li data-ng-repeat="meetingTime in class.when track by $index" data-ng-bind="meetingTime"></li>
            </ul>
          </td>
          <td class="cc-table-right">
            <span data-ng-if="class.units > 0" data-ng-bind="class.units | number:1"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cc-flex cc-flex-justify-end">
    <div>
      Enrolled Units:
      <strong data-ng-bind="enrollmentInstruction.enrolledClassesTotalUnits | number:1"></strong>
    </div>
  </div>
</div>
