<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show && api.user.profile.actAsOptions.canSeeCSLinks">
  <ul class="cc-list-bullets">
    <li>
      <div>
        <div>
          <a data-cc-campus-solutions-link-v2-directive="enrollmentInstruction.csLinks.ucAddClassEnrollment"
            data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
            data-ng-disabled="enrollmentInstruction.isGradeBaseAvailable || !enrollmentInstruction.csLinks.ucAddClassEnrollment"
          ></a>
        </div>
        <div data-ng-if="!enrollmentInstruction.csLinks.ucAddClassEnrollment.url">
          Application temporarily unavailable at this time
        </div>
        <div data-ng-if="enrollmentInstruction.csLinks.ucAddClassEnrollment.url">
          The deadline to apply
          <span data-ng-if="!enrollmentInstruction.isGradeBaseAvailable">is</span>
          <span data-ng-if="enrollmentInstruction.isGradeBaseAvailable">was</span>
          <span data-ng-bind="enrollmentInstruction.concurrentApplyDeadline"></span>
        </div>
      </div>
    </li>
    <li data-ng-if="enrollmentInstruction.csLinks.ucViewClassEnrollment.url">
      <a data-cc-campus-solutions-link-v2-directive="enrollmentInstruction.csLinks.ucViewClassEnrollment"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    <li data-ng-if="enrollmentInstruction.csLinks.ucEditClassEnrollment.url">
      <a data-cc-campus-solutions-link-v2-directive="enrollmentInstruction.csLinks.ucEditClassEnrollment"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
  </ul>
</div>
<div
  data-ng-if="!api.user.profile.actAsOptions.canSeeCSLinks"
  data-ng-include="'widgets/enrollment/enrollment_hide_links.html'">
</div>
