<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-date="{{enrollmentInstruction.enrollmentPeriod[0] && !isInstructionType(enrollmentInstruction, ['law', 'concurrent', 'haasEveningWeekendMba', 'haasFullTimeMba']) ? (enrollmentInstruction.enrollmentPeriod[0].date.epoch * 1000 | date:'h:mm a':enrollmentInstruction.enrollmentPeriod[0].date.offset) : ''}}"
  data-date-important="{{enrollmentInstruction.enrollmentPeriod[0] && !isInstructionType(enrollmentInstruction, ['law', 'haasEveningWeekendMba', 'haasFullTimeMba']) ? (enrollmentInstruction.enrollmentPeriod[0].date.epoch * 1000 | date:'EEE MMM d':enrollmentInstruction.enrollmentPeriod[0].date.offset): ''}}"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <div data-ng-if="enrollmentInstruction.enrollmentPeriod.length">
    <strong>
      Note: Times for enrollment phases are in the Pacific Time zone.
    </strong>
  </div>

  <div data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks && !enrollmentInstruction.isEndOfDropAddTimePeriod && !isInstructionType(enrollmentInstruction, ['law','haasEveningWeekendMba','haasFullTimeMba'])">
    <div data-ng-if="enrollmentInstruction.isClassScheduleAvailable">
      <a data-cc-campus-solutions-link-directive
        data-cc-campus-solutions-link-directive-url="enrollmentInstruction.links.chooseClasses.url"
        data-cc-campus-solutions-link-directive-name="enrollmentInstruction.links.chooseClasses.name"
        data-cc-campus-solutions-link-directive-title="'Select classes for the upcoming semester.'"
        data-cc-campus-solutions-link-directive-uc-from="true"
        data-cc-campus-solutions-link-directive-uc-from-link="true"
        data-cc-campus-solutions-link-directive-uc-from-text="true"
        data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
        data-cc-campus-solutions-link-directive-cc-cache="enrollment"
      ></a> for the upcoming semester.<br>
    </div>
  </div>
  <div data-ng-if="!enrollmentInstruction.isClassScheduleAvailable && !isInstructionType(enrollmentInstruction, ['haasEveningWeekendMba','haasFullTimeMba'])">
    Ability to enroll coming soon. Please try again later.
  </div>
  <div data-ng-if="!isInstructionType(enrollmentInstruction, ['law','haasEveningWeekendMba','haasFullTimeMba'])">
    <div data-ng-if="!enrollmentInstruction.termIsSummer">
      <div>
        Learn more about <a href="http://registrar.berkeley.edu/Records/tbinfo.html">enrollment rules and information</a>.
      </div>
      <div>
        View the <a href=" http://registrar.berkeley.edu/calendar?terms=current" title="Enrollment Deadline Calendar">enrollment calendar</a> for deadlines.
      </div>
    </div>
    <div data-ng-if="enrollmentInstruction.termIsSummer">
      Enrollment and fee policies for Summer Sessions may differ from those in effect during the fall/spring semesters,
      and you will be subject to the
      <a href="http://summer.berkeley.edu/enrollment-changes/dropping-all-your-courses#cancellation"
        class="external-link" rel="nofollow" title="Follow link">$100 cancellation fee</a>
      if you drop all classes even if those classes have not yet begun. Learn more about Summer Sessions enrollment and
      fee policies at
      <a href="http://summer.berkeley.edu/" class="external-link" rel="nofollow" title="Follow link">summer.berkeley.edu</a>.
    </div>
  </div>

  <div
    data-ng-if="!api.user.profile.actAsOptions.canSeeCSLinks"
    data-ng-include="'widgets/enrollment/enrollment_hide_links.html'">
  </div>

  <div data-ng-if="enrollmentInstruction.enrollmentPeriod.length">
    <div data-ng-if="isInstructionType(enrollmentInstruction, ['law'])"
      class="cc-enrollment-card-margin-bottom">
      Below are your enrollment appointment start times. You will have continuous access to the system until the semester's add/drop deadline:
    </div>
    <h4 class="cc-enrollment-card-headersub-title">Enrollment Period</h4>
    <div class="cc-table">
      <table>
        <thead class="cc-visuallyhidden">
          <th scope="col">Phase</th>
          <th scope="col">Day of the week</th>
          <th scope="col">Date and time</th>
        </thead>
        <tr data-ng-repeat="period in enrollmentInstruction.enrollmentPeriod">
          <th scope="row">
            <span data-ng-bind="period.name" class="cc-text-light"></span>
          </th>
          <td>
            <strong data-ng-bind="period.date.epoch * 1000 | date:'EEE':period.date.offset"></strong>
          </td>
          <td>
            <strong data-ng-bind="period.date.epoch * 1000 | date:'MMM d':period.date.offset"></strong>
            <span aria-hidden>|</span>
            <span class="cc-visuallyhidden">at</span>
            <span data-ng-bind="period.date.epoch * 1000 | date:'h:mm a':period.date.offset"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
