<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-date="{{enrollmentInstruction.enrollmentPeriod[0] && !isInstructionType(enrollmentInstruction, ['concurrent']) ? 'Prior to ' + (enrollmentInstruction.enrollmentPeriod[0].date.epoch * 1000 | date:'MMM d'): ''}}"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <div data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks">

    <ul class="cc-list-links" data-ng-if="!isInstructionType(enrollmentInstruction, ['fpf'])">
      <li>
        <a href="http://classes.berkeley.edu/">
          Academic Guide Class Schedule
        </a>
      </li>
    </ul>

    <ul class="cc-list-links" data-ng-if="isInstructionType(enrollmentInstruction, ['concurrent'])">
      <li>
        <a href="http://schedule.berkeley.edu/">
          Schedule of Classes
        </a>
      </li>
      <li>
        <a href="https://calstudentstore.berkeley.edu/textbook">
          Class Textbooks: ASUC Bookstore
        </a>
      </li>
      <li>
        <a href="http://schedule.berkeley.edu/examf.html">
          Final Exam Schedule
        </a>
      </li>
    </ul>

    <ul class="cc-list-links" data-ng-if="isInstructionType(enrollmentInstruction, ['fpf'])">
      <li>
        <a href="http://fpf.berkeley.edu/your-courses">
          FPF Course Catalog
        </a>
      </li>
      <li>
        <a href="http://guide.berkeley.edu/">
          Berkeley Academic Guide
        </a>
      </li>
    </ul>
    <ul class="cc-list-links" data-ng-if="isInstructionType(enrollmentInstruction, ['default'])">
      <li data-ng-if="enrollmentInstruction.isClassScheduleAvailable">
        <div>
          <a
            data-cc-campus-solutions-link-v2-directive
            data-cc-campus-solutions-link-v2-directive-name="enrollmentInstruction.links.scheduleClasses.name"
            data-cc-campus-solutions-link-v2-directive-url="enrollmentInstruction.links.scheduleClasses.url"
            data-cc-campus-solutions-link-v2-directive-cc-cache="enrollment"
            data-cc-campus-solutions-link-v2-directive-uc-from="true"
            data-cc-campus-solutions-link-v2-directive-uc-from-link="true"
            data-cc-campus-solutions-link-v2-directive-uc-from-text="true"
            data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
          >Search for classes</a>
        </div>
      </li>
      <li>
        <a href="https://calstudentstore.berkeley.edu/textbook">Class Textbooks: ASUC Bookstore</a>
      </li>
    </ul>
    <div>
      <h4>ASUC Sponsored Planning Site</h4>
      <ul class="cc-list-links">
        <li><a href="http://www.berkeleytime.com">Berkeleytime</a></li>
      </ul>
    </div>
  </div>
  <div
    data-ng-if="!api.user.profile.actAsOptions.canSeeCSLinks"
    data-ng-include="'widgets/enrollment/enrollment_hide_links.html'">
  </div>
</div>
