<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-date="{{(enrollmentInstruction.enrollmentPeriod[0] && api.user.profile.features.csAcademicPlanner) ? 'Prior to ' + (enrollmentInstruction.enrollmentPeriod[0].date.epoch * 1000 | date:'MMM d':enrollmentInstruction.enrollmentPeriod[0].date.offset): ''}}"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <div data-ng-if="!enrollmentInstruction.updatePlannerLink">
    Multi-year academic planner is unavailable at this time.
  </div>

  <div data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks">
    <div data-ng-if="enrollmentInstruction.updatePlannerLink">
      Build your multi-year
      <a
        data-cc-campus-solutions-link-directive
        data-cc-campus-solutions-link-directive-name="enrollmentInstruction.updatePlannerLink.name"
        data-cc-campus-solutions-link-directive-url="enrollmentInstruction.updatePlannerLink.url"
        data-cc-campus-solutions-link-directive-uc-from="true"
        data-cc-campus-solutions-link-directive-uc-from-link="true"
        data-cc-campus-solutions-link-directive-uc-from-text="true"
        data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      >academic plan</a>
    </div>
  </div>

  <div
    data-ng-if="!api.user.profile.actAsOptions.canSeeCSLinks"
    data-ng-include="'widgets/enrollment/enrollment_hide_links.html'">
  </div>
</div>
