@import '../../../../stylesheets/variables';

$borderColor: $cc-color-very-light-grey;
$backgroundColor: $cc-color-white-smoke;

.Dropdown {
  background-color: $backgroundColor;
  border: 1px solid $borderColor;
  color: $color-text-alt;
  font-size: 13px;
  line-height: 18px;
  height: 32px;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 32px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  background-image: url('/assets/images/triangle-down.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-position-x: right 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.Dropdown--active {
    background-image: url('/assets/images/triangle-up.svg');
  }

  .Dropdown__overlay {
    position: absolute;
    left: -1px;
    top: -1px;
    border-radius: 5px;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }
}

.Dropdown__option {
  padding: 0 18px 0 18px;
  white-space: nowrap;

  &:hover {
    background-color: $cc-color-curious-blue;
    color: white;
  }
}

.Dropdown__option--selected {
  color: $cc-color-curious-blue;
  background-image: url('/assets/images/blue-bullet.svg');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 8px;

  &:hover {
    background-image: url('/assets/images/white-bullet.svg');
  }
}

@media only screen and (min-width: $small-breakpoint) {
  .Dropdown {
    margin-left: 15px;
  }
}
