// Color variable names obtained from: http://chir.ag/projects/name-that-color

// Neutrals
$color-black: #000;
$color-white: #fff;
$color-bianca: #fcfcf3;

// Grays
$color-black: #000;
$color-mine-shaft: #333;
$color-dove-gray: #666;
$color-dusty-gray: #999;
$color-gallery: #eee;
$color-white: #fff;
$color-wild-sand: #f6f6f6;
$color-silver: #ccc;
$color-tundora: #474747;
$color-mine-shaft: #222;

// Reds
$color-thunderbird: #cf1715;
$color-guardsman-red: #c10006;
$color-cinderella: #fce3e5;

// Oranges
$color-buttercup: #f1a91e;
$color-karry: #ffe9d9;

// Yellows
$color-colonial-white: #fff2bd;

// Greens
$color-jewel: #137e3e;
$color-skeptic: #c8ead6;

// Blues
$color-hoki: #61889e;
$color-foam: #f2f9fe;
$color-midnight-blue: #003262;
$color-venice-blue: #065a7d;
$color-denim: #117cbe;
$color-matisse: #1f7099;

// Blue-Grays
$color-gumbo: #8098a5;
$color-casper: #afc5d2;

// Buttons
$button-disabled-gray: $color-wild-sand;
$button-primary-default-blue: $color-denim;
$button-primary-hover-blue: $color-matisse;
$button-secondary-default-gray: $color-wild-sand;
$button-secondary-hover-gray: $color-gallery;
$button-secondary-border: $color-silver;
$button-font-disabled: $color-silver;
$button-font-primary: $color-white;
$button-font-secondary: $color-dove-gray;
