$black: #000;
$white: #fff;
$light-gray: #ccc;
$very-light-gray: #eee;
$sky-blue: #f2f9fe;
$cc-color-ivory: #fcfcf3;

$corn-silk: #fef7d9;

// Shades of Blue
$cc-color-air-force-blue: #61889e;
$cc-color-alice-blue: #f2f9fe;
$cc-color-berkeley-blue: #003262;
$cc-color-blue-lagoon: #065a7d;
$cc-color-curious-blue: #2683bc;
$cc-color-lochmara: #1f7099;

// Shades of Blue/Gray
$cc-color-bali-hai: #8098a5;
$cc-color-spindle: #afc5d2;

// Shades of Gray
$cc-color-black: #000;
$cc-color-night-rider: #333;
$cc-color-dim-gray: #666;
$cc-color-nobel: #999;
$cc-color-whisper: #eee;
$cc-color-white: #fff;
$cc-color-white-smoke: #f6f6f6;
$cc-color-very-light-grey: #ccc;
$cc-color-zambezi: #5e5d5d;
$cc-color-charcoal: #474747;
$cc-color-nero: #222;

// Shades of Red
$cc-color-dark-tangerine: #f1a91e;
$cc-color-harley-davidson-orange: #cf1715;
$cc-color-venetian-red: #c10006;

// Shades of Green
$cc-color-salem: #0d863d;

// Buttons
$button-disabled-gray: $cc-color-white-smoke;
$button-primary-default-blue: $cc-color-curious-blue;
$button-primary-hover-blue: $cc-color-lochmara;
$button-secondary-default-gray: $cc-color-white-smoke;
$button-secondary-hover-gray: $cc-color-whisper;
$button-secondary-border: $cc-color-very-light-grey;
$button-font-disabled: $cc-color-very-light-grey;
$button-font-primary: $cc-color-white;
$button-font-secondary: $cc-color-dim-gray;
