@import './colors';
@import './foundation_overrides';

// Base variables
$tiny-spacing: 2px;
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 15px;

$small-border-radius: 5px;

// Typography:
$base-font-color: $cc-color-night-rider;
$color-text-alt: $cc-color-dim-gray;
$color-text-link: $cc-color-cerulean;

$base-font-family: Arial, sans-serif;

$base-font-size: 13px;
$title-font-size: 18px;

$hairline-border: 1px solid $very-light-gray;
