@import 'colors';
@import 'foundation_overrides';

// Blocks
button {
  box-shadow: none;
  font-family: $body-font-family;
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
  &:active {
    box-shadow: none;
  }
}
.cc-react-button {
  background: $button-secondary-default-gray;
  border: 1px solid $button-secondary-border;
  border-radius: 5px;
  color: $button-font-secondary;
  cursor: pointer;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 20px;
  &:focus, &:hover {
    background: $button-secondary-hover-gray;
    color: $button-font-secondary;
    text-decoration: none;
  }
}
.cc-react-button[disabled] {
  background: $button-disabled-gray;
  border: none;
  color: $button-font-disabled;
  cursor: auto;
  opacity: 1;
  &:focus, &:hover {
    background: $button-disabled-gray;
    border: none;
    color: $button-font-disabled;
  }
}

// Modifiers
.cc-react-button--blue {
  background: $button-primary-default-blue;
  border: none;
  color: $button-font-primary;
  &:focus, &:hover {
    background: $button-primary-hover-blue;
    color: $color-white;
  }
}
.cc-react-button--link {
  padding: 0;
  &, &:hover, &:focus {
    background-color: transparent;
    border: 0;
    color: $primary-color;
    font-size: 13px;
    font-weight: normal;
  }
  &:hover i, &:focus i {
    text-decoration: underline;
  }
  &:disabled {
    background-color: inherit;
    color: $color-dusty-gray;
    pointer-events: none;
  }
}
