@import 'colors';

// Blocks
.cc-react-icon {
  background-repeat: no-repeat;
  background-size: 16px;
  height: 16px;
  margin-top: 1px;
  width: 16px;
}

// Modifiers
.cc-react-icon--blue {
  color: $cc-color-berkeley-blue;
}

.cc-react-icon--green {
  color: $cc-color-salem !important;
}

.cc-react-icon--orange {
  color: $cc-color-dark-tangerine !important;
}

.cc-react-icon--red {
  color: $cc-color-harley-davidson-orange !important;
}

.cc-react-icon--gold {
  color: $cc-color-dark-tangerine !important;
}
