@import 'colors';
@import 'foundation_overrides';

// Blocks
.cc-react-table {
  overflow-x: auto;
  table {
    background: transparent;
    border: 0;
    border-spacing: 0;
    font-size: 12px;
    margin: 12px 0;
    overflow-y: hidden;
    width: 100%;
    thead {
      background: transparent;
    }
    tr {
      &:nth-of-type(even) {
        background: transparent;
      }
      td, th {
        color: $body-font-color;
        padding: 2px 2px 2px 0;
        vertical-align: top;
      }
      th {
        color: $cc-color-dim-gray;
        font-weight: bold;
        line-height: normal;
      }
    }
  }
  ul {
    margin-left: 35px;
  }
  @media #{$small-only} {
    overflow: auto;
  }
}

// Modifiers
.cc-react-table--right {
  text-align: right;
}
