@import 'colors';

// Modifiers
.cc-react-text--align-right {
  text-align: right;
}
.cc-react-text--bold {
  font-weight: bold;
}
.cc-react-text--normal {
  font-weight: normal;
}
.cc-react-text--red {
  color: $cc-color-harley-davidson-orange;
}
.cc-react-text--small {
  font-size: 11px;
}
