@mixin billing-items-grid {
  display: grid;
  grid-template-columns: 82px 3fr 1fr 120px 10px;
  column-gap: 20px;
  padding: 10px;

  // The description/amount columns have labels that longer than the columns
  // need to be use display: flex and space-between to allow each row to divide
  // the space as appropriate.
  .TableColumn__description-amount {
    display: flex;
    justify-content: space-between;

    .TableColumn__description {
      margin-right: 20px;
    }
  }

  .TableColumn__due {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &.ChargeItem__due {
      flex-direction: column;
      align-items: flex-end;
      justify-content: start;
      color: $color-tundora;
      padding-right: 12px;
    }
  }

  .TableColumn__chevron {
    width: 10px;
    display: grid;
    place-items: center center;
  }

  .TableColumn__amount {
    text-align: right;
  }
}
