@import '../../../stylesheets/variables';

.DownloadButton {
  color: $cc-color-dim-gray;
  background: $cc-color-white-smoke;
  border: 1px solid $cc-color-very-light-grey;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: bold;
}
