@import '../../../stylesheets/variables';

.DownloadButton {
  color: $color-dove-gray;
  background: $color-wild-sand;
  border: 1px solid $color-silver;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: bold;
}
