@import '../../../stylesheets/variables';

.TransactionsCard {
  color: $cc-color-charcoal;
  font-size: $base-font-size;
  min-height: 350px;
}

.transform-y {
  transform: scaleY(-1);
}

.TransactionCard__pretable {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  margin: 15px -15px 0;
  border-bottom: 1px solid #eee;
}

@media only screen and (min-width: $small-breakpoint) {
  .TransactionCard__pretable {
    margin: 15px 0;
    padding: 0;
    border-bottom-width: 0;
  }
}
