<div class="cc-page-widget-profile-section" data-ng-controller="ProfileAddressController" data-cc-spinner-directive>
  <div class="cc-page-widget-profile-section-label">Address</div>
  <div class="cc-page-widget-profile-section-content">
    <div data-ng-repeat="item in items.content" class="cc-page-widget-profile-section-content-item">
      <div>
        <strong data-ng-bind-template="{{item.type.description}} Address"></strong>
      </div>
      <div>
        <div class="cc-text-pre-line" data-ng-bind="item.formattedAddress"></div>
        <div data-ng-bind="item.countryCode" data-ng-if="item.countryCode !== 'USA'"></div>
      </div>
    </div>
  </div>
</div>
