<div class="cc-widget-text cc-page-widget-profile-delegate" data-ng-controller="DelegateController"
  data-cc-spinner-directive="delegate.isLoading">
  <p data-ng-if="delegatedAccessUrl.url">
    <a data-cc-campus-solutions-link-directive data-cc-campus-solutions-link-directive-url="delegatedAccessUrl.url"
      data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
      data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      data-cc-campus-solutions-link-directive-uc-from="true" data-cc-campus-solutions-link-directive-uc-from-link="true"
      data-cc-campus-solutions-link-directive-uc-from-text="true">Create or manage delegates</a>

</div>