<div
  class="cc-widget-text cc-page-widget-profile-title4"
  data-ng-controller="Title4Controller"
  data-cc-spinner-directive="title4.isLoading"
>
  <div
    data-ng-if="!title4.hasFinaid"
    data-ng-include="'widgets/finaid_not_available.html'"
  ></div>
  <div data-ng-if="title4.hasFinaid">
    <div
      class="cc-text-pre-line"
      data-ng-bind="title4.longTitle"
    ></div>
    <button
      class="cc-button-link"
      data-ng-if="!title4.showMessage"
      data-ng-click="title4.showMessage = !title4.showMessage"
    >
      Show more
    </button>
    <button
      class="cc-button-link"
      data-ng-if="title4.showMessage"
      data-ng-click="title4.showMessage = !title4.showMessage"
    >
      Show less
    </button>
    <div data-ng-if="title4.showMessage" class="cc-text-pre-line">
      <div
        class="cc-text-pre-line"
        data-ng-bind="title4.longMessage"
      ></div>
    </div>
    <hr />

    <div
      data-ng-bind="title4.dynamicHeader"
      class="cc-text-pre-line"
    ></div>
    <p></p>
    <div
      data-ng-bind="title4.dynamicBody"
      class="cc-text-pre-line"
    ></div>
    <p></p>
    <form class="cc-page-widget-profile-title4-form">
      <input
        type="checkbox"
        id="cc-page-widget-profile-title4-check"
        data-ng-model="title4.approved"
        data-ng-change="sendResponseT4(title4.approved ? 'Y' : 'N')"
        data-ng-disabled="!api.user.profile.actAsOptions.canPost"
        data-ng-value="title4.approved"
      />
      <label
        for="cc-page-widget-profile-title4-check"
        data-ng-class="{'cc-text-light':(!api.user.profile.actAsOptions.canPost)}"
      >
        <strong>
          <span
            data-ng-bind="title4.dynamicLabel"
          ></span>
        </strong>
      </label>
    </form>
    <p></p>
    <div
      data-ng-bind-html="title4.contactText"
      class="cc-text-pre-line"
    ></div>
    <a class="cc-button cc-button-blue cc-button-title4" href="/finances">
      <span data-ng-if="title4.viaProfile">Go</span>
      <span data-ng-if="!title4.viaProfile">Return</span> to My Finances
    </a>
  </div>
</div>
