@import 'src/react/stylesheets/variables';

@mixin title2 {
  font-size: 15px;
  line-height: 17px;
}

@mixin hasIcon {
  background-repeat: no-repeat;
  background-position-y: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  @include title2;
}

.catalogNumber {
  font-weight: normal;
}

.instructionalSection + .instructionalSection {
  margin-top: 20px;
}

table.sectionDetails {
  tbody {
    tr + tr {
      th,
      td {
        padding-top: 5px;
        background-position-y: 10px;
      }
    }
  }

  tbody tr th {
    color: $color-dove-gray;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: top;
    line-height: 20px;
    @include hasIcon;
  }

  th.instructionMode {
    background-image: url('/assets/images/pin.svg');
  }

  th.schedule {
    background-image: url('/assets/images/calendar.svg');
  }

  th.meetingDetails {
    background-image: url('/assets/images/tag.svg');
  }

  th.individualSessions {
    background-image: url('/assets/images/clock.svg');
  }
}
