<div class="cc-widget" data-ng-controller="AcademicRecordsController">
  <div class="cc-widget-title">
    <h2>Academic Records</h2>
  </div>
  <div>
    <div class="cc-list-link-container" data-cc-spinner-directive="officialTranscript.isLoading">
      <ul class="cc-list-links">
        <li>
          <a data-ng-href="{{lawTranscriptLink.link}}" data-ng-attr-title="{{lawTranscriptLink.title}}">Request LAW Transcript</a>
        </li>
        <li data-ng-if="lawUnofficialTranscriptLink.url">
          <div data-cc-campus-solutions-link-item-directive data-link="lawUnofficialTranscriptLink">
          </div>
        </li>
        <li>
          <a data-ng-class="{'cc-academics-link-disabled':(api.user.profile.delegateActingAsUid)}"
            data-ng-click="requestTranscript()"
            data-ng-disabled="api.user.profile.delegateActingAsUid"
            data-ng-attr-title="{{officialTranscript.postUrlHover}}">Request Transcript</a>
        </li>
        <li data-ng-if="api.user.profile.features.enrollmentVerification && (api.user.profile.isDirectlyAuthenticated || api.user.profile.actingAsUid)">
          <a title="Request Enrollment Verification" href="academics/enrollment_verification">Request Enrollment Verification</a>
        </li>
      </ul>
    </div>
  </div>
</div>
