<div data-cc-academic-plans-directive data-plans="collegeAndLevel.majors" data-options="{labels: {'1': 'Major', 'other': 'Majors'}}" data-type="major"> </div>
<div data-cc-academic-plans-directive data-plans="collegeAndLevel.minors" data-options="{labels: {'1': 'Minor', 'other': 'Minors'}}" data-type="minor"> </div>
<div data-cc-academic-plans-directive data-plans="collegeAndLevel.designatedEmphases" data-options="{labels: {'1': 'Designated Emphasis', 'other': 'Designated Emphases'}}" data-type="designatedEmphasis"> </div>

<div class="cc-table cc-table-top-border cc-clearfix" data-ng-if="!collegeAndLevel.roles.summerVisitor && collegeAndLevel.careers.length">
  <table class="cc-widget-profile-table">
    <tbody>
    <tr>
      <th data-ng-pluralize count="collegeAndLevel.careers.length" when="{'1': 'Academic Career', 'other': 'Academic Careers'}"></th>
      <td>
        <div data-ng-repeat="career in collegeAndLevel.careers"><strong data-ng-bind="career"></strong></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="cc-table cc-table-top-border cc-clearfix" data-ng-if="!collegeAndLevel.roles.summerVisitor && collegeAndLevel.level">
  <table class="cc-widget-profile-table">
    <tbody>
      <tr>
        <th>Level</th>
        <th class="cc-table-subheader" scope="col" data-ng-if="collegeAndLevel.nonApLevel">Including AP</th>
        <td data-ng-if="!collegeAndLevel.nonApLevel"><strong data-ng-bind="collegeAndLevel.level"></strong></td>
      </tr>
      <tr data-ng-if="collegeAndLevel.nonApLevel">
        <td></td>
        <td><strong data-ng-bind="collegeAndLevel.level"></strong></td>
      </tr>
      <tr data-ng-if="collegeAndLevel.nonApLevel">
        <th></th>
        <th class="cc-table-subheader" scope="col">Not Including AP</th>
      </tr>
      <tr data-ng-if="collegeAndLevel.nonApLevel">
        <td></td>
        <td><strong data-ng-bind="collegeAndLevel.nonApLevel"></strong></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="cc-table cc-table-top-border cc-clearfix"
  data-ng-if="!collegeAndLevel.roles.summerVisitor && (collegeAndLevel.termsInAttendance || expectedGradTerm(collegeAndLevel))">
  <table class="cc-widget-profile-table">
    <tbody>
      <tr>
        <th>Terms Information</th>
        <td>
          <div class="cc-widget-profile-section-block" data-ng-if="collegeAndLevel.termsInAttendance">
            <div class="cc-text-light">Terms in Attendance</div>
            <div>
              <strong data-ng-bind="collegeAndLevel.termsInAttendance"></strong>
            </div>
          </div>
          <div class="cc-widget-profile-section-block" data-ng-if="expectedGradTerm(collegeAndLevel)">
            <div class="cc-text-light">Expected Graduation</div>
            <div>
              <strong data-ng-bind="expectedGradTerm(collegeAndLevel)"></strong>
            </div>
            <div class="cc-widget-profile-footnote">
              Consult your college advisor with questions or concerns.
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
