<div class="cc-table cc-table-top-border cc-clearfix cc-degrees-conferred" data-ng-if="collegeAndLevel.degrees">
  <table>
    <tbody>
    <tr>
      <th class="cc-degrees-conferred-title">
        <h4 data-ng-pluralize count="collegeAndLevel.degrees.length" when="{'1': 'Degree Conferred', 'other': 'Degrees Conferred'}"></h4>
      </th>
      <td class="cc-flex-space-between-vertical-15">
        <div data-ng-repeat="degree in collegeAndLevel.degrees">
          <div data-ng-repeat="academicPlan in degree.academicPlans">
            <strong data-ng-bind="academicPlan.plan.description"></strong>&nbsp;awarded on&nbsp;<strong data-ng-bind="degree.dateAwarded | date:'MMM dd, yyyy'"></strong>
          </div>
          <div data-ng-repeat="degreeHonor in degree.honors">
            <span data-ng-bind="degreeHonor.description"></span>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
