<div class="cc-widget cc-degree-progress-card">
  <div class="cc-widget-title">
    <h2>Degree Progress</h2>
  </div>
  <div class="cc-widget-padding">
    <div data-ng-if="degreeProgress.graduate.errored">There was an error retrieving graduate degree progress data.</div>
    <div data-ng-if="!degreeProgress.graduate.progresses.length && !api.user.profile.roles.advisor">
      You have not completed any Graduate Division Milestones. Please contact your department if you believe this is an error.
    </div>
    <div data-ng-if="!degreeProgress.graduate.progresses.length && api.user.profile.roles.advisor">
      This student has not completed any Graduate Division Milestones.
    </div>

    <ul class="cc-graduate-milestones">
      <li data-ng-repeat="plan in degreeProgress.graduate.progresses">
        <h3 data-ng-bind="plan.acadPlan ? plan.acadPlan + ' &mdash; Graduate Division Milestones' : 'Graduate Division Milestones'"></h3>
        <div class="cc-graduate-milestone" data-ng-repeat="requirement in plan.requirements | orderBy:'orderNumber'">
          <div class="cc-graduate-milestone-title">
            <h4 data-ng-bind="requirement.name"></h4>
            <i class="cc-icon fa fa-check cc-icon-green" data-ng-if="requirement.statusCode === 'Y' || requirement.statusCode === 'P'"></i>
            <i class="cc-icon fa fa-exclamation-triangle cc-icon-gold" data-ng-if="requirement.statusCode === 'PF' || requirement.statusCode === 'F'"></i>
          </div>
          <div class="cc-milestone-detail">
            <div data-ng-if="!requirement.attempts.length">
              <span data-ng-bind="requirement.status"></span> <span data-ng-bind="requirement.dateCompleted"></span> <span data-ng-bind="requirement.formNotification"></span>
            </div>
            <div data-ng-if="requirement.proposedExamDate">
              <span>Proposed Exam Date:</span> <span data-ng-bind="requirement.proposedExamDate"></span>
            </div>
            <ul class="cc-milestone-attempts">
              <li data-ng-repeat="attempt in requirement.attempts">
                <span data-ng-bind="attempt.display"></span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    <div class="cc-degree-progress-graduate-links-section" data-ng-if="degreeProgress.graduate.links">
      <h3>Degree Actions</h3>
      <ul class="cc-list-links">
        <li data-ng-if="degreeProgress.graduate.links.applyForAdvancementToCandidacy.url">
          <a data-cc-campus-solutions-link-directive="degreeProgress.graduate.links.applyForAdvancementToCandidacy"
            data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
          ></a>
        </li>
        <li data-ng-if="degreeProgress.graduate.links.applyDoctorsQualifyingExam.url">
          <a data-cc-campus-solutions-link-directive="degreeProgress.graduate.links.applyDoctorsQualifyingExam"
            data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
          ></a>
        </li>
        <li data-ng-if="degreeProgress.graduate.links.submitDoctoralDegreeCandidacyReview.url">
          <a data-cc-campus-solutions-link-directive="degreeProgress.graduate.links.submitDoctoralDegreeCandidacyReview"
            data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
          ></a>
        </li>
        <li data-ng-if="degreeProgress.graduate.links.viewSubmittedForms.url">
          <a data-cc-campus-solutions-link-directive="degreeProgress.graduate.links.viewSubmittedForms"
            data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
