<div class="cc-widget cc-degree-progress-card">
  <div class="cc-widget-title">
    <h2>Degree Progress</h2>
  </div>
  <div class="cc-widget-padding">
    <div data-ng-if="degreeProgress.undergraduate.errored">There was an error retrieving undergraduate degree progress data.</div>
    <ul data-ng-if="!degreeProgress.undergraduate.errored && degreeProgress.undergraduate.progresses">
      <li data-ng-repeat="plan in degreeProgress.undergraduate.progresses">
        <div class="cc-table">
          <table>
            <thead>
              <tr>
                <th>University Requirement</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="requirement in plan.requirements">
                <td data-ng-bind="requirement.name"></td>
                <td>
                  <i class="fa" data-ng-class="{'fa-check-circle cc-icon-green': requirement.status === 'Completed', 'fa-exclamation-triangle cc-icon-gold': requirement.status === 'Incomplete'}"></i>
                  <span data-ng-bind="requirement.status"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
</div>
