<div data-ng-if="degreeProgress.undergraduate.showCard" class="cc-widget cc-undergrad-degree-progress-card">
  <div class="cc-widget-title">
    <h2>Degree Progress</h2>
  </div>
  <div class="cc-widget-padding">
    <div class="cc-degree-progress-section">
      <div data-ng-if="degreeProgress.undergraduate.errored">There was an error retrieving undergraduate degree progress data.</div>
      <div data-ng-if="!degreeProgress.undergraduate.errored && !degreeProgress.undergraduate.progresses.length && !api.user.profile.roles.advisor">
        You do not have degree progress report data. Please contact your advisor for assistance.
      </div>
      <div data-ng-if="!degreeProgress.undergraduate.errored && !degreeProgress.undergraduate.progresses.length && api.user.profile.roles.advisor">
        <p>This student has no degree progress data.</p>
      </div>
      <div data-ng-if="!degreeProgress.undergraduate.errored && degreeProgress.undergraduate.progresses.length">
        <ul>
          <li data-ng-repeat="plan in degreeProgress.undergraduate.progresses">
            <div data-ng-if="plan.reportDate" class="cc-degree-progress-section cc-degree-progress-report-date">
              Degree Progress as of <span data-ng-bind="plan.reportDate"></span>
            </div>
            <div class="cc-table">
              <table>
                <thead>
                  <tr>
                    <th>University Requirement</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="requirement in plan.requirements">
                    <td data-ng-bind="requirement.name"></td>
                    <td>
                      <i class="fa" data-ng-class="{
                          'cc-icon fa fa-check cc-icon-green': requirement.status === 'Satisfied',
                          'cc-icon fa fa-exclamation-triangle cc-icon-gold': requirement.status === 'Not Satisfied',
                          'cc-icon fa fa-clock-o cc-icon-grey': requirement.status === 'In Progress',
                          'cc-icon fa fa-refresh cc-icon-dark-grey': requirement.status === 'Under Review'
                      }"></i>
                      <span data-ng-bind="requirement.status"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <degree-progress-links
      apr-link="degreeProgress.undergraduate.links.academicProgressReport"
      degree-planner-link="degreeProgress.undergraduate.links.degreePlanner"
      show-pnp-calculator="showPnpCalculator"
      show-pnp-calculator-link="!degreeProgress.undergraduate.showPnpCalculator"
      is-advising-student-lookup="isAdvisingStudentLookup" />
  </div>
</div>
