<div data-ng-if="degreeProgress.graduate.showCard" class="cc-widget cc-degree-progress-card">
  <div class="cc-widget-title">
    <h2>Degree Progress</h2>
  </div>
  <div class="cc-widget-padding">
    <div data-ng-if="degreeProgress.graduate.errored">There was an error retrieving graduate degree progress data.</div>
    <div data-ng-if="!degreeProgress.graduate.progresses.length && !api.user.profile.roles.advisor">
      You have not completed any Graduate Division Milestones. Please contact your department if you believe this is an error.
    </div>
    <div data-ng-if="!degreeProgress.graduate.progresses.length && api.user.profile.roles.advisor">
      This student has not completed any Graduate Division Milestones.
    </div>

    <ul class="cc-graduate-milestones">
      <li data-ng-repeat="plan in degreeProgress.graduate.progresses">
        <h3 data-ng-bind="plan.acadPlan ? plan.acadPlan + ' &mdash; Graduate Division Milestones' : 'Graduate Division Milestones'"></h3>
        <div class="cc-graduate-milestone" data-ng-repeat="requirement in plan.requirements | orderBy:'orderNumber'">
          <div class="cc-graduate-milestone-title">
            <h4 data-ng-bind="requirement.name"></h4>
            <i class="cc-icon fa fa-check cc-icon-green" data-ng-if="requirement.statusCode === 'Y' || requirement.statusCode === 'P'"></i>
            <i class="cc-icon fa fa-exclamation-triangle cc-icon-gold" data-ng-if="(requirement.statusCode === 'PF' || requirement.statusCode === 'F') && requirement.attempts && requirement.attempts.length <= 1"></i>
            <i class="cc-icon fa fa-exclamation-circle cc-icon-red" data-ng-if="(requirement.statusCode === 'PF' || requirement.statusCode === 'F') && requirement.attempts && requirement.attempts.length > 1"></i>
          </div>
          <div class="cc-milestone-detail">
            <div data-ng-if="!requirement.attempts.length">
              <span data-ng-bind="requirement.status"></span> <span data-ng-bind="requirement.dateCompleted"></span> <span data-ng-bind="requirement.formNotification"></span>
            </div>
            <div data-ng-if="requirement.proposedExamDate">
              <span>Proposed Exam Date:</span> <span data-ng-bind="requirement.proposedExamDate"></span>
            </div>
            <ul class="cc-milestone-attempts">
              <li data-ng-repeat="attempt in requirement.attempts">
                <span data-ng-bind="attempt.display"></span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
