<div class="cc-widget cc-enrollment-verification">
  <div class="cc-widget-title">
    <h2 data-ng-if="!enrollVerification.academicRoles.lawExclusive">Select Enrollment Verification Method</h2>
    <h2 data-ng-if="enrollVerification.academicRoles.lawExclusive">Law Enrollment Verification</h2>
  </div>
  <div data-cc-spinner-directive="enrollVerification.isLoading">
    <div data-ng-if="enrollVerification.hasMessages">
      <ul class="cc-widget-list">
        <li>
          <div class="cc-enrollment-verification-subtitle">
            <h3 data-ng-bind-html="enrollVerification.messages.viewOnline.messageText"></h3>
          </div>
          <div class="cc-enrollment-verification-message">
            <span data-ng-bind-html="enrollVerification.messages.viewOnline.descrlong"></span>
          </div>
          <div class="cc-enrollment-verification-link">
            <div data-ng-if="api.user.profile.isDirectlyAuthenticated">
              <strong><a data-cc-outbound-enabled="true" href="/clearing_house/clearing_house_url">View or Print Enrollment via Self Service</a></strong>
            </div>
            <div data-ng-if="!api.user.profile.isDirectlyAuthenticated">
              <p class="cc-enrollment-verification-link-disabled">
                <strong>View or Print Enrollment via Self Service</strong><i> (Functionality is not available in view-as mode.)</i>
              </p>
            </div>
          </div>
        </li>
        <li data-ng-if="enrollVerification.academicRoles.law || enrollVerification.profile.roles.exStudent">
          <div class="cc-enrollment-verification-subtitle">
            <h3 data-ng-bind-html="enrollVerification.messages.lawVerification.messageText"></h3>
          </div>
          <div class="cc-enrollment-verification-message">
            <span data-ng-bind-html="enrollVerification.messages.lawVerification.descrlong"></span>
          </div>
        </li>
        <li data-ng-if="!enrollVerification.academicRoles.lawExclusive">
          <div class="cc-enrollment-verification-subtitle">
            <h3 data-ng-bind-html="enrollVerification.messages.requestOfficial.messageText"></h3>
          </div>
          <div class="cc-enrollment-verification-message">
            <span data-ng-bind-html="enrollVerification.messages.requestOfficial.descrlong"></span>
          </div>
          <div class="cc-enrollment-verification-link">
            <div data-ng-if="api.user.profile.isDirectlyAuthenticated">
              <strong data-ng-if="enrollVerification.requestOfficialVerificationLink.url">
                <a data-cc-campus-solutions-link-directive="enrollVerification.requestOfficialVerificationLink"
                  data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                  data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                ></a>
              </strong>
            </div>
            <div data-ng-if="!api.user.profile.isDirectlyAuthenticated">
              <p class="cc-enrollment-verification-link-disabled">
                <strong>Request Official Verification</strong><i> (Functionality is not available in view-as mode.)</i>
              </p>
            </div>
          </div>
        </li>
        <li data-ng-if="!enrollVerification.academicRoles.lawExclusive">
          <div class="cc-enrollment-verification-message cc-enrollment-verification-footer">
            <p>Learn more about <a data-ng-href="{{enrollmentVerificationServices.url}}" data-ng-attr-title="{{enrollmentVerificationServices.title}}">enrollment verification services.</a></p>
          </div>
        </li>
      </ul>
    </div>
    <div class="cc-widget-text" data-ng-if="!enrollVerification.hasMessages">
      There was a problem reaching campus services.  Please try again later.
    </div>
  </div>
</div>
