<div class="cc-widget cc-academic-plan-card">
  <div class="cc-widget-title">
    <h2 class="cc-left">Academic Plan</h2>
  </div>
  <div class="cc-widget-padding" data-ng-if="legacyReportStatus && legacyReportStatus.code !== 'NONE'">
    <p class="cc-academic-plan-card-legacy-report-status">
      <i class="fa fa-exclamation-circle cc-icon-red"></i>
      <span data-ng-bind="legacyReportStatus.message"></span>
    </p>
    <a data-cc-campus-solutions-link-directive="legacyReportStatus.link" data-ng-if="legacyReportStatus.link.url"></a>
  </div>

  <div class="cc-widget-padding" data-ng-if="advisorLinks.updatePlanUrl.url">
    <h3>
      <a data-cc-campus-solutions-link-directive="advisorLinks.updatePlanUrl"
        data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
        data-cc-campus-solutions-link-directive-cc-cache="advisingAcademics"
        data-ng-click="expireAcademicsCache()"
      >Update Multi-Year Planner</a>
    </h3>
  </div>

  <div class="cc-flex-space-between-vertical-15">
    <ul class="cc-widget-list cc-widget-list-border-top">
        <li
          data-ng-repeat="semester in planSemesters"
          class="cc-widget-list-hover cc-table"
          data-ng-class="{'cc-widget-list-hover-opened':(semester.show)}"
          data-cc-accessible-focus-directive
          data-ng-click="api.widget.toggleShow($event,  null, semester, 'Student Overview - Academic Plan')">
          <div>
            <h3 class="cc-left">
              <span data-ng-bind="semester.name"></span> <span data-ng-bind="semester.notation" class="cc-text-red"></span>
            </h3>
            <br>
            <div data-ng-show="semester.show">
              <div class="cc-widget-text" data-ng-if="!semester.plannedClasses.length && !semester.hasEnrolledClasses && !semester.summaryFromTranscript && !semester.hasWithdrawalData">
                No Plan Provided
                <span data-ng-bind="semester.name"></span>.
              </div>
              <div class="cc-widget-text" data-ng-if="semester.hasWithdrawalData">
                Withdrew
                <span data-ng-bind="semester.withdrawalStatus.withcnclFromDate"></span> (Reason:<span data-ng-bind="semester.withdrawalStatus.withcnclReasonDescr"></span>)
              </div>
              <div data-ng-if="semester.plannedClasses.length">
                <table>
                  <thead>
                    <tr>
                      <th width="60%" scope="col">Planned</th>
                      <th width="40%" scope="col" title="Units">Units</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="class in semester.plannedClasses">
                      <td data-ng-bind-template="{{class.subjectArea.code}} {{class.catalogNumber.formatted}}"></td>
                      <td data-ng-bind="class.units | number:1"></td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <tr>
                      <td width="60%" scope="col" class="cc-table-right">Total Units: </td>
                      <td width="25%" scope="col"><strong><span data-ng-bind="semester.plannedUnits | number:1"></span></strong></td>
                      <td width="15%" scope="col"></td>
                  </tr>
                </table>
                <br>
              </div>
              <div data-ng-if="semester.hasEnrolledClasses || semester.summaryFromTranscript">
                <table data-ng-if="semester.summaryFromTranscript && semester.hasClassTranscript">
                  <thead>
                    <tr>
                      <th width="60%" scope="col">Enrolled</th>
                      <th width="25%" scope="col" title="Units">Units</th>
                      <th data-ng-if="api.user.profile.canViewGrades" width="15%" scope="col" title="Grades">Grade</th>
                    </tr>
                  </thead>
                  <tbody data-ng-repeat="class in semester.enrolledClasses">
                    <tr data-ng-if="class.transcript" data-ng-repeat="transcript in class.transcript">
                      <td>
                        <span data-ng-bind="class.course_code"></span>
                        <span data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
                      </td>
                      <td data-ng-bind="transcript.units | number:1"></td>
                      <td data-ng-bind="transcript.grade" data-ng-if="api.user.profile.canViewGrades"></td>
                    </tr>
                  </tbody>
                </table>
                <table data-ng-if="semester.summaryFromTranscript && !semester.hasClassTranscript">
                  <thead>
                    <tr>
                      <th width="60%" scope="col">Enrolled</th>
                      <th width="25%" scope="col" title="Units">Units</th>
                      <th data-ng-if="api.user.profile.canViewGrades" width="15%" scope="col" title="Grades">Grade</th>
                    </tr>
                  </thead>
                  <tbody data-ng-repeat="class in semester.enrolledClasses">
                    <tr data-ng-if="!class.transcript && section.is_primary_section" data-ng-repeat-start="section in class.sections">
                      <td>
                        <span data-ng-bind="class.course_code"></span>
                        <span data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
                      </td>
                      <td data-ng-bind="section.units | number:1" ></td>
                      <td data-ng-if="api.user.profile.canViewGrades && class.midpointGrade">
                        <span data-ng-click="api.util.preventBubble($event);api.widget.toggleShow($event, null, section, 'Student Overview - Academic Plan')" class="cc-non-anchored-link">
                          <i class="fa fa-exclamation-triangle cc-icon-gold"></i> ?
                        </span>
                      </td>
                      <td data-ng-if="api.user.profile.canViewGrades && !class.midpointGrade">&mdash;</td>
                    </tr>
                    <tr data-ng-repeat-end data-ng-if="class.midpointGrade && section.show">
                      <td colspan="3">
                        <table>
                          <tr>
                            <td>
                              <i class="fa fa-exclamation-triangle cc-icon-gold"></i>
                              Your midpoint grade is: <strong><span data-ng-bind="class.midpointGrade"></span></strong><br />
                              Your success is important to us.  Midpoint grades do not appear on transcripts. <br />
                              Please contact your instructor or an advisor as soon as possible. <br />
                              <span data-ng-click="api.util.preventBubble($event);api.widget.toggleShow($event, null, section, 'Student Overview - Academic Plan')" class="cc-non-anchored-link">Hide</span>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table data-ng-if="!semester.summaryFromTranscript">
                  <thead>
                    <tr>
                      <th width="60%" scope="col">Enrolled</th>
                      <th width="25%" scope="col" title="Units">Units</th>
                      <th data-ng-if="api.user.profile.canViewGrades" width="15%" scope="col" title="Grades">Grade</th>
                    </tr>
                  </thead>
                  <tbody data-ng-repeat="class in semester.enrolledClasses">
                    <tr data-ng-repeat-start="section in class.sections" data-ng-if="section.is_primary_section && !section.waitlisted && !class.transcript">
                      <td>
                        <span data-ng-bind="class.course_code"></span>
                        <span data-ng-if="class.multiplePrimaries && section.section_label" data-ng-bind="section.section_label"></span>
                        <span data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
                      </td>
                      <td data-ng-bind="section.units | number:1"></td>
                      <td data-ng-if="api.user.profile.canViewGrades && class.midpointGrade">
                        <span data-ng-click="api.util.preventBubble($event);api.widget.toggleShow($event, null, section, 'Student Overview - Academic Plan')" class="cc-non-anchored-link">
                          <i class="fa fa-exclamation-triangle cc-icon-gold"></i> ?
                        </span>
                      </td>
                      <td data-ng-if="api.user.profile.canViewGrades && !class.midpointGrade">&mdash;</td>
                    </tr>
                    <tr data-ng-repeat-end data-ng-if="class.midpointGrade && section.show">
                      <td colspan="3">
                        <table>
                          <tr>
                            <td>
                              <i class="fa fa-exclamation-triangle cc-icon-gold"></i>
                              Your midpoint grade is: <strong><span data-ng-bind="class.midpointGrade"></span></strong><br />
                              Your success is important to us.  Midpoint grades do not appear on transcripts. <br />
                              Please contact your instructor or an advisor as soon as possible. <br />
                              <span data-ng-click="api.util.preventBubble($event);api.widget.toggleShow($event, null, section, 'Student Overview - Academic Plan')" class="cc-non-anchored-link">Hide</span>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr data-ng-if="class.transcript" data-ng-repeat="transcript in class.transcript">
                      <td>
                        <span data-ng-bind="class.course_code"></span>
                        <span data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
                      </td>
                      <td data-ng-bind="transcript.units | number:1"></td>
                      <td data-ng-bind="transcript.grade" data-ng-if="api.user.profile.canViewGrades"></td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <tr>
                      <td width="60%" scope="col" class="cc-table-right">Total Units: </td>
                      <td width="25%" scope="col"><strong><span data-ng-bind="semester.enrolledUnits | number:1"></strong></td>
                      <td width="15%" scope="col"></td>
                  </tr>
                </table>
                <br>
              </div>
              <div data-ng-if="semester.hasWaitlisted">
                <table>
                  <thead>
                    <tr>
                      <th width="60%" scope="col">Waitlisted</th>
                      <th width="25%" scope="col" title="Units">Units</th>
                      <th data-ng-if="api.user.profile.canViewGrades" width="15%" scope="col" title="Position">Position</th>
                    </tr>
                  </thead>
                  <tbody data-ng-if="!semester.summaryFromTranscript" data-ng-repeat="class in semester.enrolledClasses">
                    <tr data-ng-repeat="section in class.sections" data-ng-if="section.waitlisted">
                      <td>
                        <span data-ng-bind="class.course_code"></span>
                        <span data-ng-if="class.multiplePrimaries && section.section_label" data-ng-bind="section.section_label"></span>
                        <span data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
                      </td>
                      <td data-ng-bind="section.units | number:1"></td>
                      <td data-ng-bind="section.waitlistPosition" class="cc-table-right"></td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <tr>
                      <td width="60%" scope="col" class="cc-table-right">Total Units: </td>
                      <td width="25%" scope="col"><strong><span data-ng-bind="semester.waitlistedUnits | number:1"></strong></td>
                      <td width="15%" scope="col"></td>
                  </tr>
                </table>
                <br>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
</div>
