<div class="cc-widget cc-widget-finaid-housing" data-ng-controller="FinaidHousingController">
  <div class="cc-widget-title">
    <h2 class="cc-left" data-ng-bind="housing.title || 'Housing'"></h2>
    <a
      data-ng-if="housing.link.url && !housing.errored"
      class="cc-right cc-widget-title-link"
      data-cc-campus-solutions-link-directive="housing.link"
      data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
      data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      data-cc-campus-solutions-link-directive-uc-from="true"
      data-cc-campus-solutions-link-directive-uc-from-link="true"
      data-cc-campus-solutions-link-directive-uc-from-text="true"
    ></a>
  </div>

  <div class="cc-widget-text" data-cc-spinner-directive="housing.isLoading">
    <div data-ng-if="housing.errored" data-ng-include="'widgets/finaid_errored.html'"></div>
    <div data-ng-if="!housing.errored">
      <div data-ng-if="housingValuesArePresent()">
        <div class="cc-table cc-widget-finaid-table">
            <table>
              <thead>
                <tr>
                  <th scope="col" width="30%">Term</th>
                  <th scope="col" width="70%">Housing Option</th>
                </tr>
                <tbody data-ng-repeat="term in housing.values">
                  <tr>
                    <td data-ng-bind="term.subvalue[0]"></td>
                    <td data-ng-bind="term.subvalue[1]"></td>
                  </tr>
                </tbody>
              </thead>
        </div>
        <div data-ng-if="housing.instruction">
          <hr aria-hidden="true">
          <div data-ng-bind="housing.instruction.descrlong"></div>
        </div>
        <div class="cc-widget-finaid-housing-fall-pathway-link" data-ng-if="housing.pathways_message && housing.pathways_link">
          <span data-ng-bind="housing.pathways_message.descrlong"></span>
          <a
            data-ng-if="housing.pathways_link.url"
            data-cc-campus-solutions-link-directive="housing.pathways_link"
            data-cc-campus-solutions-link-directive-name="'Estimate Fall\'s cost of attendance'"
            data-cc-campus-solutions-link-directive-title="'Estimate Fall\'s cost of attendance for a first-year pathway'"
          ></a>
        </div>
      </div>
      <div data-ng-if="!housingValuesArePresent()">
        You do not have Housing information
        <span data-ng-if="finaidYear.name" data-ng-bind-template="for {{finaidYear.name}}"></span>
      </div>
    </div>
  </div>
</div>
