<div
  class="cc-widget cc-widget-finaid-profile"
  data-ng-controller="FinaidProfileController"
>
  <div class="cc-widget-title">
    <h2>Financial Aid &amp; Scholarships Profile</h2>
  </div>
  <div
    class="cc-widget-text"
    data-cc-spinner-directive="finaidProfile.isLoading"
  >
    <div
      class="cc-widget-finaid-profile-message"
      data-ng-bind="finaidProfile.message"
    ></div>
    <div data-ng-if="!finaidProfile.itemGroups.length">
      <i class="fa fa-exclamation-circle cc-icon-gold"></i>
      Profile data is unavailable. Please contact
      <a href="http://studentcentral.berkeley.edu"
         title="Contact Cal Student Central"
         target="_blank"
         rel="noopener noreferrer">Cal Student Central
        <span class="cc-visuallyhidden">, this link opens in new window</span></a> for assistance.
    </div>
    <div data-ng-if="finaidProfile.itemGroups.length">
      <div class="cc-clearfix-container">
        <h3 class="cc-page-finaid-header cc-left">
          Financial Aid Profile
        </h3>
      </div>
      <div
        data-ng-repeat="items in finaidProfile.itemGroups"
        class="cc-widget-finaid-profile-itemgroup"
      >
        <div data-ng-repeat="item in items"
             data-ng-if="item.value || (item.values && item.values.length)"
             class="cc-clearfix-container">
          <div class="cc-left">
            <strong
              data-ng-bind="item.title"
            ></strong>
            <a
              data-ng-if="item.link.url && api.user.profile.actAsOptions.canSeeCSLinks"
              data-cc-campus-solutions-link-directive
              data-cc-campus-solutions-link-directive-url="item.link.url"
              data-cc-campus-solutions-link-directive-cc-cache="finaid"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
              data-cc-campus-solutions-link-directive-uc-from="true"
              data-cc-campus-solutions-link-directive-uc-from-link="true"
              data-cc-campus-solutions-link-directive-uc-from-text="true"
            >
              <span data-ng-bind="item.link.title"></span>
              <span
                class="cc-visuallyhidden"
                data-ng-bind="category.title"
              ></span>
            </a>
          </div>
          <div
            class="cc-right"
            data-ng-bind="item.value"
            data-ng-if="item.value"
          ></div>
          <div class="cc-right" data-ng-if="item.values && item.values.length">
            <div data-ng-repeat="value in item.values" class="cc-text-right">
              <div data-ng-bind="value.subvalue.join(' &bull; ')"></div>
            </div>
          </div>
        </div>
      </div>
      <hr aria-hidden="true" />
      <div class="cc-clearfix-container">
        <h3 class="cc-page-finaid-header cc-left">
          Financial Aid Agreements
        </h3>
      </div>
      <div class="cc-widget-finaid-profile-itemgroup">
        <div class="cc-clearfix-container">
          <div class="cc-left">
            <strong>Title IV</strong>
            <a
              ng-if="api.user.profile.actAsOptions.canSeeCSLinks"
              href="/finances/finaid/t4/auth"
            >
              Update
              <span class="cc-visuallyhidden"
              >Update Title IV Authorization</span
              >
            </a>
          </div>
          <div data-ng-bind="title4Description" class="cc-right" ></div>
        </div>
        <div class="cc-clearfix-container">
          <div class="cc-left">
            <strong>Terms & Conditions</strong>
            <a
              data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks"
              ng-href="/finances/finaid/{{ finaidProfile.aidYear }}/tc"
            >
              <span data-ng-if="termsAndConditionsDescription === 'Accepted'"
              >View</span
              >
              <span data-ng-if="termsAndConditionsDescription !== 'Accepted'"
              >Update</span
              >
              <span class="cc-visuallyhidden">Terms and Conditions</span>
            </a>
          </div>
          <div data-ng-bind="termsAndConditionsDescription" class="cc-right"></div>
        </div>
      </div>
    </div>
  </div>
</div>
