<div class="cc-widget" data-ng-controller="FinaidCommunicationsController">
  <div class="cc-widget-title">
    <h2>Communications</h2>
  </div>
  <div data-cc-spinner-directive="communicationsInfo.isLoading">
    <div data-ng-if="errored" data-ng-include="'widgets/finaid_errored.html'"></div>
    <div data-ng-if="!errored">
      <div class="cc-status-holds">
        <div class="cc-widget-subtitle">
          <h3>Holds</h3>
        </div>
        <div class="cc-widget-padding">
          <div data-ng-include="'widgets/holds.html'"></div>
        </div>
      </div>
      <div>
        <div class="cc-widget-subtitle">
          <h3>Tasks</h3>
        </div>

        <h3 class="cc-widget-tasks-section-label" data-ng-if="filteredTasks.length">
          <span>Task</span>
          <span class="cc-right">Status Date</span>
        </h3>

        <financial-aid-tasks year="communicationsInfo.aidYear.id"></financial-aid-tasks>

        <div class="cc-widget-text">
          <hr>
          <ul class="cc-list-bullets">
            <li>
              Financial Aid
              <a data-cc-campus-solutions-link-directive="communicationsInfo.csLinks.verificationAndAppeals"
                data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
              ></a>
            </li>
            <li>
              Financial Aid
              <a data-cc-campus-solutions-link-directive="communicationsInfo.csLinks.optionalDocuments"
                data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
              ></a>
            </li>
            <li data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks">
              Financial Aid
              <a data-cc-campus-solutions-link-directive="communicationsInfo.csLinks.optionalDocumentsUpload"
                data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                data-cc-campus-solutions-link-directive-cc-cache="finaid"
              >Optional Documents Upload</a>
            </li>
          </ul>
        </div>
      </div>

      <financial-aid-messages year="communicationsInfo.aidYear.id"></financial-aid-messages>

      <div data-ng-if="archiveUrl.length">
        <div class="cc-widget-subtitle">
          <h3>Archive</h3>
        </div>
        <div
          data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks"
          data-ng-include="'widgets/activity_archive.html'"
        ></div>
      </div>
    </div>
  </div>
</div>
