<div
  class="cc-widget cc-widget-finaid-awards"
  data-ng-controller="FinaidAwardsController"
>
  <div
    class="cc-widget-title cc-flex cc-flex-space-between cc-flex-align-center"
  >
    <h2>Awards</h2>
    <div
      class="cc-right cc-widget-title-link cc-nowrap"
      data-ng-if="finaidAwards.awards.grandtotal.total.amount"
    >
      <a data-ng-href="/finances/finaid/awards/{{ finaidYear.id }}">
        <strong>View By Term </strong><i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
  <div data-cc-spinner-directive="finaidAwardsInfo.isLoading">
    <div
      data-ng-if="finaidSummaryInfo.errored"
      class="cc-widget-text"
      data-ng-include="'widgets/finaid_errored.html'"
    ></div>
    <div data-ng-if="!finaidSummaryInfo.errored">
      <div data-ng-if="finaidAwards.awards.grandtotal.total.amount">
        <div class="cc-widget-text cc-widget-finaid-awards-message">
          <div data-ng-bind-html="finaidAwards.messages.messageInfo"></div>
        </div>
        <div
          data-ng-if="finaidAwards.linkFinaidSummary && canSeeFinAidSummaryLink"
          class="cc-widget-finaid-awards-link-title cc-widget-finaid-awards-icon-report"
        >
          Multi-Year Summary
        </div>
        <div
          data-ng-if="finaidAwards.linkFinaidSummary && canSeeFinAidSummaryLink && !isDelegate"
          class="cc-widget-finaid-awards-link"
        >
          <a
            data-ng-if="finaidAwards.linkFinaidSummary"
            data-cc-campus-solutions-link-directive="finaidAwards.linkFinaidSummary"
            data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
          ></a>
        </div>
        <div
          data-ng-if="finaidAwards.linkFinaidSummary && canSeeFinAidSummaryLink && isDelegate"
          class="cc-widget-finaid-awards-link"
        >
          <a
            data-ng-if="finaidAwards.linkFinaidSummary"
            data-cc-campus-solutions-link-directive="finaidAwards.linkFinaidSummaryDelegate"
            data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
          ></a>
        </div>

        <award-comparison-link
          year="finaidAwardsInfo.aidYear"
        ></award-comparison-link>

        <div
          data-ng-repeat="key in finaidAwardsInfo.keysGiftWork"
          data-ng-include="'widgets/finaid_awards_section.html'"
          data-onload="section = finaidAwards.awards[key]"
          data-ng-if="(finaidAwards.awards[key].total.amount > 0 ||
                      (finaidAwards.awards[key].total.title === 'Gift Aid'  && finaidAwards.awards[key].links[0]))"
        ></div>
        <div
          data-ng-if="finaidAwards.awards.hasLoans"
          data-ng-include="'widgets/finaid_awards_loans.html'"
        ></div>
        <div
          data-ng-repeat="key in finaidAwardsInfo.keysLoans"
          data-ng-include="'widgets/finaid_awards_section.html'"
          data-onload="section = finaidAwards.awards[key]"
          data-ng-if="finaidAwards.awards[key]"
        ></div>
        <div
          data-ng-if="finaidAwards.awards.grandtotal.total.amount"
          data-ng-include="'widgets/finaid_awards_grandtotal.html'"
        ></div>
      </div>
      <div
        class="cc-widget-text"
        data-ng-if="!finaidAwards.awards.grandtotal.total.amount"
      >
        There is currently no awards information available for this aid year.
      </div>
    </div>
  </div>
</div>
