<div class="cc-text-small" data-ng-if="finaidSummary.finaidYears.length">
  <div data-ng-if="!finaidSummaryInfo.errored">
    <a data-ng-if="shoppingSheet.url && api.user.profile.actAsOptions.canSeeCSLinks"
      data-cc-campus-solutions-link-directive
      data-cc-campus-solutions-link-directive-url="shoppingSheet.url"
      data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
      data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      data-cc-campus-solutions-link-directive-uc-from="true"
      data-cc-campus-solutions-link-directive-uc-from-link="true"
      data-cc-campus-solutions-link-directive-uc-from-text="true"
    ><i class="fa fa-file-text"></i> Shopping Sheet</a>
  </div>
  <div>
    <a href="http://financialaid.berkeley.edu/">Learn more about Financial Aid</a>
  </div>
</div>
