<div class="cc-flex cc-flex-space-between cc-flex-space-between-horizontal-5 cc-flex-align-base cc-page-finaid-header-container cc-page-finaid-header-container-dark cc-widget-finaid-awards-section-item-loans">
  <div>
    <h3 class="cc-page-finaid-header cc-text-uppercase">Loans</h3>
  </div>
  <div data-ng-if="finaidAwards.awards.loans.links && api.user.profile.actAsOptions.canSeeCSLinks">
    <a data-ng-repeat="link in finaidAwards.awards.loans.links"
      data-cc-campus-solutions-link-directive
      data-cc-campus-solutions-link-directive-name="link.title"
      data-cc-campus-solutions-link-directive-url="link.url"
      data-cc-campus-solutions-link-directive-cc-cache="finaid"
      data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
      data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      data-cc-campus-solutions-link-directive-uc-from="true"
      data-cc-campus-solutions-link-directive-uc-from-link="true"
      data-cc-campus-solutions-link-directive-uc-from-text="true"
      data-ng-class="{'cc-widget-finaid-awards-section-link-separator': ($index > 0)}"
    >
    </a>
  </div>
</div>
