<div class="cc-text-small" data-ng-if="financialAidSummary.aidYears.length">
  <hr aria-hidden="true">
  <div data-ng-if="!financialAidSummary.errored">
    <a data-ng-if="financialAidSummary.selected.shoppingSheetLink.url && api.user.profile.actAsOptions.canSeeCSLinks"
      data-cc-campus-solutions-link-directive="financialAidSummary.selected.shoppingSheetLink"
      data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
      data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      data-cc-campus-solutions-link-directive-uc-from="true"
      data-cc-campus-solutions-link-directive-uc-from-link="true"
      data-cc-campus-solutions-link-directive-uc-from-text="true"
    >{{financialAidSummary.selected.shoppingSheetLink.name}}<i class="fa fa-file-text"></i></a>
  </div>
  <div data-ng-if="financialAidSummary.links.financialAidTranscript.url">
    <ul class="cc-list-links">
      <li><a data-ng-if="financialAidSummary.links.financialAidWebsite.url"
        data-cc-campus-solutions-link-directive="financialAidSummary.links.financialAidWebsite"
      ></a></li>
      <li><a data-ng-if="financialAidSummary.links.financialAidTranscript.url"
        data-cc-campus-solutions-link-directive="financialAidSummary.links.financialAidTranscript"
      ></a></li>
  </div>
  <div data-ng-if="!financialAidSummary.links.financialAidTranscript.url">
      <a data-ng-if="financialAidSummary.links.financialAidWebsite.url"
        data-cc-campus-solutions-link-directive="financialAidSummary.links.financialAidWebsite"
      ></a>
  </div>
</div>
