<div class="cc-widget cc-widget-finaid-summary" data-ng-controller="FinaidSummaryController">
  <div class="cc-widget-title">
    <h2 class="cc-left">Financial Aid and Scholarships</h2>
  </div>
  <div class="cc-widget-text" data-cc-spinner-directive="financialAidSummary.isLoading">
    <a data-ng-if="financialAidSummary.isMainPage && !financialAidSummary.errored && financialAidSummary.aidYears.length" class="cc-button cc-button-blue" data-ng-href="finances/finaid/{{financialAidSummary.selected.finaidYear.id}}">
      <strong>View Awards</strong>
    </a>
    <div data-ng-if="!financialAidSummary.errored">
      <div data-ng-if="financialAidSummary.aidYears.length">
        <hr data-ng-if="!isMainFinaid" aria-hidden="true">
        <div data-ng-include="'widgets/finaid_summary_aidyear.html'"></div>
        <div data-ng-include="'widgets/finaid_summary_semester.html'"></div>
        <hr data-ng-if="financialAidSummary.selected.finaidYear.availableSemesters.length" aria-hidden="true">
        <div>
          <div data-ng-if="financialAidSummary.tasksCount > 0">
            <a data-ng-href="{{financialAidSummary.url}}" data-ng-disabled="isMainFinaid">
              <i class="fa fa-bell cc-icon" data-ng-class="{'cc-icon-gold':(isMainFinaid), 'cc-non-anchored-link':(!isMainFinaid)}"></i><span data-ng-bind="financialAidSummary.tasksCount"></span>&nbsp;incomplete
            </a>
            <span data-ng-pluralize count="financialAidSummary.tasksCount" when="{'1': 'financial aid task', 'other': 'financial aid tasks'}"></span>
          </div>
          <div data-ng-include="'widgets/finaid_summary_netcost.html'"></div>
          <div data-ng-include="'widgets/finaid_summary_fundingoffered.html'"></div>
        </div>
      </div>
      <div data-ng-if="!financialAidSummary.aidYears.length" data-ng-include="'widgets/finaid_not_available.html'"></div>
    </div>
    <div data-ng-if="financialAidSummary.errored">
      <div data-ng-include="'widgets/finaid_errored.html'"></div>
    </div>
    <div data-ng-include="'widgets/finaid_summary_footer.html'"></div>
  </div>
</div>
