<div class="cc-widget cc-widget-finaid-summary" data-ng-controller="FinaidSummaryController">
  <div class="cc-widget-title cc-flex cc-flex-space-between cc-flex-align-center">
    <h2 class="cc-left" style="padding-right: 0">Financial Aid & Scholarships</h2>
    <div class="cc-right cc-widget-title-link cc-nowrap" data-ng-if="financialAidSummary.isMainPage && !financialAidSummary.errored && financialAidSummary.aidYears.length">
        <a data-ng-href="finances/finaid/{{financialAidSummary.selected.finaidYear.id}}"
        data-ng-click="api.analytics.sendEvent('Open new CLC page', 'Click', 'View Awards link')">
          <strong>View Awards </strong><i class="fa fa-arrow-right"></i>
        </a>
    </div>
  </div>
  <div class="cc-widget-text" data-cc-spinner-directive="financialAidSummary.isLoading">
    <div data-ng-if="financialAidSummary.isMainPage && !financialAidSummary.errored && financialAidSummary.aidYears.length"  
        style="margin-bottom: 15px">
    <a class="cc-button cc-button-blue" 
      data-ng-href="finances/finaid/{{financialAidSummary.selected.finaidYear.id}}"
      data-ng-click="api.analytics.sendEvent('Open new CLC page', 'Click', 'View Awards button')"
      style="margin-bottom: 15px">
      <strong>View Awards</strong>
    </a>
  </div>
    <div data-ng-if="!financialAidSummary.errored">
      <div data-ng-if="financialAidSummary.aidYears.length">
        <div data-ng-include="'widgets/finaid_summary_aidyear.html'"></div>
        <div data-ng-include="'widgets/finaid_summary_semester.html'"></div>

        <aid-year-task-count year="financialAidSummary.selected.finaidYear.id"></aid-year-task-count>
        
        <div>
          <div data-ng-if="financialAidSummary.tasksCount > 0">
            <a data-ng-href="finances/finaid/{{financialAidSummary.selected.finaidYear.id}}" data-ng-disabled="isMainFinaid">
              <i class="fa fa-bell cc-icon" data-ng-class="{'cc-icon-gold':(isMainFinaid), 'cc-non-anchored-link':(!isMainFinaid)}"></i><span data-ng-bind="financialAidSummary.tasksCount"></span>&nbsp;incomplete
            </a>
            <span data-ng-pluralize count="financialAidSummary.tasksCount" when="{'1': 'financial aid task', 'other': 'financial aid tasks'}"></span>
          </div>
          <div data-ng-include="'widgets/finaid_summary_netcost.html'"></div>
          <div data-ng-include="'widgets/finaid_summary_fundingoffered.html'"></div>
        </div>
      </div>
      <div data-ng-if="!financialAidSummary.aidYears.length" data-ng-include="'widgets/finaid_not_available.html'"></div>
    </div>
    <div data-ng-if="financialAidSummary.errored">
      <div data-ng-include="'widgets/finaid_errored.html'"></div>
    </div>
    <div data-ng-include="'widgets/finaid_summary_footer.html'"></div>
  </div>
</div>
