<div data-ng-if="financialAidSummary.selected.totalNetCost" class="cc-table cc-widget-finaid-summary-netcost-summary">
  <table>
    <tbody>
      <tr>
        <th>Estimated Cost of Attendance</th>
        <td>
          <span data-ng-if="isMainFinaid"
            class="cc-right"
            data-cc-amount-directive="financialAidSummary.selected.totalCostOfAttendance"
            data-cc-amount-directive-color="false"
          ></span>
          <a data-ng-if="!isMainFinaid"
             class="cc-right"
             data-cc-amount-directive="financialAidSummary.selected.totalCostOfAttendance"
             data-cc-amount-directive-color="false"
             data-ng-href="finances/finaid/{{financialAidSummary.selected.finaidYear.id}}"
             title="View Estimated Cost of Attendance"
          ></a>
        </td>
      </tr>
      <tr>
        <th>
          <span>Gift Aid and Waivers</span>
          <span class="cc-text-light">(Money you don't repay)</span>
        </th>
        <td
          class="cc-right"
          data-cc-amount-directive="financialAidSummary.selected.totalGiftAidAndWaivers"
          data-cc-amount-directive-color="false"
        ></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Net Cost</th>
        <td
          class="cc-right"
          data-cc-amount-directive="financialAidSummary.selected.totalNetCost"
          data-cc-amount-directive-color="false"
        ></td>
      </tr>
    </tfoot>
  </table>
</div>
