<div data-cc-spinner-directive="committees.isLoading">
  <div class="cc-widget cc-higher-degree-committee">
    <div class="cc-widget-title">
      <h2>
        <span data-ng-pluralize
          count="studentCommittees.length"
          when="
            {
              '0': 'Higher Degree Committee',
              'one': 'Higher Degree Committee',
              'other': 'Higher Degree Committees'
            }">
        </span>
      </h2>
    </div>
    <div class="cc-widget-padding">
      <div class="cc-higher-degree-committees-section">
        <ul class="cc-higher-degree-committees-list">
          <li ng-repeat="committee in studentCommittees"
              class="cc-widget-list-hover "
              data-cc-accessible-focus-directive
              data-ng-class="{'cc-widget-list-hover-opened':(committee.show)}"
              data-ng-click="api.widget.toggleShow($event, null, committee, 'My Academics - Higher Degree Committee')"
          >
            <div>
              <h3 data-ng-bind="committee.header.type"></h3>
              <h4 data-ng-bind="committee.header.program"></h4>
              <div data-ng-if="!committee.milestoneAttempts.length">
                <i data-ng-class="committee.header.statusIcon"></i>
                <strong><span data-ng-bind="committee.header.statusMessage"></span></strong>
              </div>
              <ul>
                <li data-ng-repeat="attempt in committee.milestoneAttempts" class="cc-text-light">
                  <i data-ng-class="committee.header.statusIcon"></i>
                  <strong><span data-ng-bind="attempt.display"></span></strong>
                </li>
              </ul>
              <div data-ng-if='committeeRequestChangeLink.url'>
                <a data-cc-campus-solutions-link-directive="committeeRequestChangeLink"
                  data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                  data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                >Request Change To Higher Degree Committee</a>
              </div>
              <div data-ng-include="'widgets/academics/higher_degree_committee.html'"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


