<ul class="cc-popover-items" data-ng-click="api.popover.clickThrough('Status')">
  <li class="cc-popover-item"
    data-ng-repeat="registration in regStatus.registrations | orderBy:'-id'"
    data-ng-if="api.user.profile.roles.student && api.user.profile.features.regstatus">
    <a href="/academics" data-ng-if="registration.regStatus.summary !== 'Officially Registered' && registration.regStatus.explanation">
      <div class="cc-launcher-status-description">
        <i class="cc-icon fa" data-ng-class="regStatusIcon(registration.regStatus.summary)"></i>
        <strong><span data-ng-bind="registration.term.name"></span>: </strong> <span data-ng-bind="registration.regStatus.summary"></span><br>
      </div>
      <div class="cc-launcher-status-description" data-ng-if="registration.showCnp">
        <div>
          <i class="cc-icon fa" data-ng-class="cnpStatusIcon(registration)"></i>
          <span data-ng-bind-html="registration.cnpStatus.popoverSummary"></span>
        </div>
      </div>
    </a>
  </li>
  <li class="cc-popover-item" data-ng-if="api.user.profile.features.csHolds && (holds.length || holds.errored)">
    <a href="/academics">
      <div class="cc-launcher-status-description">
        <i class="fa"
           data-ng-class="{'fa-exclamation-circle cc-icon-red': holds.length,
           'fa-exclamation-triangle cc-icon-gold': holds.errored}"></i>
        <strong>Holds:</strong> <span data-ng-if="!holds.errored" data-ng-bind="holds.length"></span>
        <span data-ng-if="holds.errored">Currently Unavailable</span>
      </div>
    </a>
  </li>
  <li class="cc-popover-item" data-ng-if="minimumAmountDue && minimumAmountDue > 0">
    <a href="/finances">
      <div class="cc-launcher-status-description">
        <i class="fa"
           data-ng-class="{'fa-exclamation-circle cc-icon-red': totalPastDueAmount > 0,
           'fa-exclamation-triangle cc-icon-red': minimumAmountDue > 0 && totalPastDueAmount <= 0}"></i>
        <strong>Amount Due Now:</strong> <span data-ng-bind="minimumAmountDue | currency"></span>
      </div>
    </a>
  </li>
</ul>
