<div class="cc-widget cc-print-hide" data-ng-controller="StudentResourcesController">
  <div class="cc-widget-title">
    <h2>Student Resources</h2>
  </div>
  <div data-cc-spinner-directive="isLoading">
    <div class="cc-widget-padding" data-ng-if="!studentResources">
      Resource links unavailable.
    </div>
    <div class="cc-widget-padding" data-ng-if="studentResources">
      <div>
        <h3>Submit a Form</h3>
        <ul class="cc-list-bullets">

          <li data-ng-if="isUndergraduate && studentResources.changeOfAcademicPlanAdd.url">
            <div>
              <div class="cc-inline-block"
                data-cc-campus-solutions-link-item-directive
                data-link="studentResources.changeOfAcademicPlanAdd"
              ></div>:
              <span>Add, drop, or modify your major, minor, subplan, graduation term, designated emphasis, or degree.</span>
            </div>
          </li>

          <li data-ng-if="studentResources.emergencyLoanFormAdd.url">
            <div
              data-cc-campus-solutions-link-item-directive
              data-link="studentResources.emergencyLoanFormAdd"
            ></div>
          </li>
          <li data-ng-if="studentResources.veteransBenefitsAdd.url">
            <div
              data-cc-campus-solutions-link-item-directive
              data-link="studentResources.veteransBenefitsAdd"
            ></div>
          </li>
          <li data-ng-if="studentResources.withdrawFromSemesterAdd.url && !isLawStudent">
            <div
              data-cc-campus-solutions-link-item-directive
              data-link="studentResources.withdrawFromSemesterAdd"
            ></div>
          </li>

          <li data-ng-if="(isGraduateStudent || isLawStudent) && studentResources.changeOfAcademicPlanAdd.url">
            <div>
              <div class="cc-inline-block"
                data-cc-campus-solutions-link-item-directive
                data-link="studentResources.changeOfAcademicPlanAdd"
              ></div>:
              <span>Add, drop, or modify your major, minor, subplan, graduation term, designated emphasis, or degree.</span>
            </div>
          </li>
          <li data-ng-if="(isGraduateStudent || isLawStudent) && studentResources.higherDegreesCommitteeForm.url">
            <div>
              <div class="cc-inline-block"
                data-cc-campus-solutions-link-item-directive
                data-link="studentResources.higherDegreesCommitteeForm"
              ></div>:
              <span>Advance to Candidacy, apply for the Qualifying Exam, or Change your Higher Education Degree Committee.</span>
            </div>
          </li>
          <li data-ng-if="(isGraduateStudent || isLawStudent) && studentResources.specialEnrollmentPetition.url">
            <div
              data-cc-campus-solutions-link-item-directive
              data-link="studentResources.specialEnrollmentPetition"
            ></div>
          </li>
          <li data-ng-if="(isGraduateStudent || isLawStudent) && studentResources.submitDegreeCandidacyForm.url">
            <div
              data-cc-campus-solutions-link-item-directive
              data-link="studentResources.submitDegreeCandidacyForm"
            ></div>
          </li>
        </ul>
      </div>

      <div>
        <h3>Manage your Forms</h3>
        <ul class="cc-list-bullets">
          <li data-ng-if="studentResources.viewSubmittedForms.url">
            <div
              data-cc-campus-solutions-link-item-directive
              data-link="studentResources.viewSubmittedForms"
            ></div>
          </li>
          <li data-ng-if="studentResources.updatePendingForms.url">
            <div
              data-cc-campus-solutions-link-item-directive
              data-link="studentResources.updatePendingForms"
            ></div>
          </li>
          <li data-ng-if="studentResources.emergencyLoanFormView.url">
            <div
              data-cc-campus-solutions-link-item-directive
              data-link="studentResources.emergencyLoanFormView"
            ></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
