<div class="cc-widget cc-print-hide" data-ng-controller="StudentResourcesController">
  <div class="cc-widget-title">
    <h2>Student Resources</h2>
  </div>
  <div data-cc-spinner-directive="isLoading">
    <div class="cc-widget-padding" data-ng-if="!studentResources">
      Resource links unavailable.
    </div>
    <div class="cc-widget-padding" data-ng-if="studentResources">
      <div>
        <h3>Submit a Form</h3>
        <ul class="cc-list-bullets">

          <li data-ng-if="isUndergraduate && studentResources.changeOfAcademicPlanAdd.url">
            <div class="cc-inline-block">
              <a data-cc-campus-solutions-link-directive="studentResources.changeOfAcademicPlanAdd"
                data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
              ></a>: <span>Add, drop, or modify your major, minor, subplan, graduation term, designated emphasis, or degree.</span>
            </div>
          </li>

          <li data-ng-if="studentResources.emergencyLoanFormAdd.url && !isSummerVisitor">
            <a data-cc-campus-solutions-link-directive="studentResources.emergencyLoanFormAdd"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
            ></a>
          </li>

          <li data-ng-if="studentResources.veteransBenefitsAdd.url">
            <a data-cc-campus-solutions-link-directive="studentResources.veteransBenefitsAdd"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
            ></a>
          </li>

          <li data-ng-if="studentResources.withdrawFromSemesterAdd.url && !isLawStudent">
            <a data-cc-campus-solutions-link-directive="studentResources.withdrawFromSemesterAdd"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
            ></a>
          </li>

          <li data-ng-if="(isGraduateStudent || isLawStudent) && studentResources.changeOfAcademicPlanAdd.url">
            <div class="cc-inline-block">
              <a data-cc-campus-solutions-link-directive="studentResources.changeOfAcademicPlanAdd"
                data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
              ></a>: <span>Add, drop, or modify your major, minor, subplan, graduation term, designated emphasis, or degree.</span>
            </div>
          </li>

          <li data-ng-if="(isGraduateStudent || isLawStudent) && studentResources.higherDegreesCommitteeForm.url">
            <div class="cc-inline-block">
              <a data-cc-campus-solutions-link-directive="studentResources.higherDegreesCommitteeForm"
                data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
              ></a>: <span>Advance to Candidacy, apply for the Qualifying Exam, or Change your Higher Education Degree Committee.</span>
            </div>
          </li>

          <li data-ng-if="(isGraduateStudent || isLawStudent) && studentResources.specialEnrollmentPetition.url">
            <a data-cc-campus-solutions-link-directive="studentResources.specialEnrollmentPetition"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
            ></a>
          </li>

          <li data-ng-if="(isGraduateStudent || isLawStudent) && studentResources.submitDegreeCandidacyForm.url">
            <a data-cc-campus-solutions-link-directive="studentResources.submitDegreeCandidacyForm"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
            ></a>
          </li>
        </ul>
      </div>

      <div>
        <h3>Manage your Forms</h3>
        <ul class="cc-list-bullets">
          <li data-ng-if="studentResources.viewSubmittedForms.url">
            <a data-cc-campus-solutions-link-directive="studentResources.viewSubmittedForms"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
            ></a>
          </li>
          <li data-ng-if="studentResources.updatePendingForms.url">
            <a data-cc-campus-solutions-link-directive="studentResources.updatePendingForms"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
            ></a>
          </li>
          <li data-ng-if="studentResources.emergencyLoanFormView.url && !isSummerVisitor">
            <a data-cc-campus-solutions-link-directive="studentResources.emergencyLoanFormView"
              data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
              data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
