<div class="cc-widget cc-transfer-credit" data-ng-controller="TransferCreditController">
  <div data-ng-if="transferCredits.hasUnits">
    <div class="cc-widget-title">
      <h2>Transfer Credit</h2>
    </div>
    <div data-cc-spinner-directive="transferCredits.isLoading" class="cc-widget-padding cc-flex-space-between-vertical-15">
      <a data-ng-if="studentLinks.tcReportLink.url && !advisorLinks.tcReportLink.url"
        data-cc-campus-solutions-link-directive="studentLinks.tcReportLink"
        data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      ></a>
      <a data-ng-if="advisorLinks.tcReportLink.url"
        data-cc-campus-solutions-link-directive="advisorLinks.tcReportLink"
        data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
      ></a>

      <div data-ng-if="transferCredits.law.summary" class="cc-table cc-widget-border">
        <table>
          <thead><tr>
            <th scope="col">Type</th>
            <th scope="col" class="cc-table-right">Law Units</th>
            <th scope="col" class="cc-table-right">Units</th>
          </tr></thead>
          <tbody class="cc-widget-table-hover"
                 data-ng-class="{'cc-widget-table-hover-opened':(transferCredits.law.show)}"
                 data-cc-accessible-focus-directive
                 data-ng-click="api.widget.toggleShow($event, null, transferCredits.law, 'Transfer Credit')">
            <tr class="cc-transfer-credit-section-header">
              <td>{{transferCredits.law.summary.careerDescr}} Transfer Course Units</td>
              <td class="cc-text-right" data-ng-bind="transferCredits.law.summary.totalTransferUnitsLaw | number:3"></td>
              <td class="cc-text-right cc-toggle-triangle" data-ng-bind="transferCredits.law.summary.totalTransferUnits | number:3"></td>
            </tr>
            <tr data-ng-show="transferCredits.law.show" data-ng-repeat="detail in transferCredits.law.detailed">
              <td>
                <span data-ng-bind="detail.school"></span>
                <div class="cc-requirements-designation" data-ng-if="detail.requirementDesignation"><span data-ng-bind="detail.requirementDesignation"></span></div>
              </td>
              <td class="cc-text-right" data-ng-bind="detail.lawUnits | number:3"></td>
              <td class="cc-text-right" data-ng-bind="detail.units | number:3"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div data-ng-if="transferCredits.graduate.summary" class="cc-table cc-widget-border">
        <table>
          <thead><tr>
            <th scope="col">Type</th>
            <th scope="col" class="cc-table-right">Units</th>
          </tr></thead>
          <tbody class="cc-widget-table-hover"
                 data-ng-class="{'cc-widget-table-hover-opened':(transferCredits.graduate.show)}"
                 data-cc-accessible-focus-directive
                 data-ng-click="api.widget.toggleShow($event, null, transferCredits.graduate, 'Transfer Credit')">
            <tr class="cc-transfer-credit-section-header">
              <td>{{transferCredits.graduate.summary.careerDescr}} Course Units</td>
              <td class="cc-text-right cc-toggle-triangle" data-ng-bind="transferCredits.graduate.summary.totalTransferUnits | number:3"></td>
            </tr>
            <tr data-ng-show="transferCredits.graduate.show" data-ng-repeat="detail in transferCredits.graduate.detailed">
              <td data-ng-bind="detail.school"></td>
              <td class="cc-text-right" data-ng-bind="detail.units | number:3"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div data-ng-if="transferCredits.undergraduate.summary" class="cc-table cc-widget-border">
        <table>
          <thead><tr>
            <th scope="col">Type</th>
            <th scope="col" class="cc-table-right">Units</th>
          </tr></thead>
          <tbody class="cc-widget-table-hover"
                 data-ng-class="{'cc-widget-table-hover-opened':(transferCredits.undergraduate.show)}"
                 data-cc-accessible-focus-directive
                 data-ng-click="api.widget.toggleShow($event, null, transferCredits.undergraduate, 'Transfer Credit')"
                 data-ng-if="transferCredits.undergraduate.summary.totalTransferUnits">
            <tr class="cc-transfer-credit-section-header">
              <td>{{transferCredits.undergraduate.summary.careerDescr}} Course Units</td>
              <td class="cc-text-right cc-toggle-triangle">
                <span data-ng-bind="transferCredits.undergraduate.summary.totalTransferUnits | number:3"></span>
              </td>
            </tr>
            <tr data-ng-show="transferCredits.undergraduate.show" data-ng-repeat="detail in transferCredits.undergraduate.detailed">
              <td data-ng-bind="detail.school"></td>
              <td class="cc-text-right" data-ng-bind="detail.units | number:3"></td>
            </tr>
            <tr data-ng-show="transferCredits.undergraduate.show" data-ng-if="transferCredits.undergraduate.summary.totalTransferUnitsNonAdjusted">
              <td colspan="2" class="cc-text-right">
                <span data-ng-bind-template="(Non-Adjusted Course Units: {{transferCredits.undergraduate.summary.totalTransferUnitsNonAdjusted | number:3}})">
                </span>
              </td>
            </tr>
          </tbody>
          <tbody class="cc-widget-table-hover"
                 data-ng-class="{'cc-widget-table-hover-opened':(transferCredits.undergraduate.testUnits.show)}"
                 data-cc-accessible-focus-directive
                 data-ng-click="api.widget.toggleShow($event, null, transferCredits.undergraduate.testUnits, 'Transfer Credit')"
                 data-ng-if="transferCredits.undergraduate.summary.alevelTestUnits || transferCredits.undergraduate.summary.apTestUnits || transferCredits.undergraduate.summary.ibTestUnits">
          <tr class="cc-transfer-credit-section-header">
            <td>{{transferCredits.undergraduate.summary.careerDescr}} Exam Units</td>
            <td class="cc-text-right cc-toggle-triangle" data-ng-bind="transferCredits.undergraduate.summary.alevelTestUnits + transferCredits.undergraduate.summary.apTestUnits + transferCredits.undergraduate.summary.ibTestUnits | number:3"></td>
          </tr>
          <tr data-ng-if="transferCredits.undergraduate.summary.apTestUnits" data-ng-show="transferCredits.undergraduate.testUnits.show">
            <td>Advanced Placement (AP)</td>
            <td class="cc-text-right" data-ng-bind="transferCredits.undergraduate.summary.apTestUnits | number:3"></td>
          </tr>
          <tr data-ng-if="transferCredits.undergraduate.summary.ibTestUnits" data-ng-show="transferCredits.undergraduate.testUnits.show">
            <td>International Baccalaureate (IB)</td>
            <td class="cc-text-right" data-ng-bind="transferCredits.undergraduate.summary.ibTestUnits | number:3"></td>
          </tr>
          <tr data-ng-if="transferCredits.undergraduate.summary.alevelTestUnits" data-ng-show="transferCredits.undergraduate.testUnits.show">
            <td>GCE Advanced-Level (A-Level)</td>
            <td class="cc-text-right" data-ng-bind="transferCredits.undergraduate.summary.alevelTestUnits | number:3"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
