<div data-cc-spinner-directive="academics.isLoading" class="cc-transfer-credit">
  <div data-ng-if="transferCredit.ucTransferCrseSch.items.length || transferCredit.ucTestComponent.totalTestUnits > 0" class="cc-widget">
    <div class="cc-widget-title">
      <h2>Transfer Credit</h2>
    </div>
    <div class="cc-table">
      <table class="cc-table-padding cc-transfer-credit-table">
        <thead>
          <tr class="cc-table-subheader">
            <th scope="col">
              <h3>Type</h3>
            </th>
            <th scope="col"></th>
            <th class="cc-table-right cc-transfer-credit-table-right-padding" scope="col">
              <h3>Units</h3>
            </th>
          </tr>
        </thead>
        <tbody class="cc-widget-table-hover"
          data-ng-class="{'cc-widget-table-hover-opened':(transferCredit.ucTransferCrseSch.show)}"
          data-cc-accessible-focus-directive
          data-ng-click="api.widget.toggleShow($event, null, transferCredit.ucTransferCrseSch, 'Transfer Credit')"
          data-ng-if="transferCredit.ucTransferCrseSch.items.length">
          <tr class="cc-transfer-credit-table-parent-row">
            <td colspan="1">Transfer Units</td>
            <td class="cc-table-right cc-toggle-triangle cc-transfer-credit-table-right-padding" colspan="2">
              <span data-ng-bind="transferCredit.ucTransferCrseSch.unitsNonAdjusted | number:3"></span>
              <span data-ng-if="transferCredit.ucTransferCrseSch.unitsTotal && (transferCredit.ucTransferCrseSch.unitsTotal !== transferCredit.ucTransferCrseSch.unitsNonAdjusted)" data-ng-bind-template="(Non-Adjusted: {{transferCredit.ucTransferCrseSch.unitsTotal | number:3}})"></span>
            </td>
          </tr>
          <tr data-ng-show="transferCredit.ucTransferCrseSch.show" data-ng-repeat="item in transferCredit.ucTransferCrseSch.items">
            <td colspan="2">
              <span data-ng-bind="item.institution"></span>
            </td>
            <td class="cc-table-right cc-transfer-credit-table-right-padding" colspan="1">
              <span data-ng-bind="item.ucbUnits | number:3"></span>
            </td>
          </tr>
        </tbody>
        <tbody class="cc-widget-table-hover"
          data-ng-class="{'cc-widget-table-hover-opened':(transferCredit.ucTestComponent.show)}"
          data-cc-accessible-focus-directive
          data-ng-click="api.widget.toggleShow($event, null, transferCredit.ucTestComponent, 'Transfer Credit')"
          data-ng-if="transferCredit.ucTestComponent.totalTestUnits > 0">
          <tr data-ng-if="transferCredit.ucTransferCrseSch.items.length"><td class="cc-transfer-credit-table-border" colspan="3"></td></tr>
          <tr class="cc-transfer-credit-table-parent-row">
            <td colspan="2">Test Units</td>
            <td class="cc-table-right cc-toggle-triangle cc-transfer-credit-table-right-padding" colspan="1">
              <span data-ng-bind="transferCredit.ucTestComponent.totalTestUnits | number:3"></span>
            </td>
          </tr>
          <tr data-ng-if="transferCredit.ucTestComponent.apUnits" data-ng-show="transferCredit.ucTestComponent.show">
            <td colspan="2">
              <span>Advanced Placement (AP)</span>
            </td>
            <td class="cc-table-right cc-transfer-credit-table-right-padding" colspan="1">
              <span data-ng-bind="transferCredit.ucTestComponent.apUnits | number:3"></span>
            </td>
          </tr>
          <tr data-ng-if="transferCredit.ucTestComponent.ibUnits" data-ng-show="transferCredit.ucTestComponent.show">
            <td colspan="2">
              <span>International Baccalaureate (IB)</span>
            </td>
            <td class="cc-table-right cc-transfer-credit-table-right-padding" colspan="1">
              <span data-ng-bind="transferCredit.ucTestComponent.ibUnits | number:3"></span>
            </td>
          </tr>
          <tr data-ng-if="transferCredit.ucTestComponent.alevelUnits" data-ng-show="transferCredit.ucTestComponent.show">
            <td colspan="2">
              <span>GCE Advanced-Level (A-level)</span>
            </td>
            <td class="cc-table-right cc-transfer-credit-table-right-padding" colspan="1">
              <span data-ng-bind="transferCredit.ucTestComponent.alevelUnits | number:3"></span>
            </td>
          </tr>
        </tbody>
        <tbody data-ng-if="studentLinks.tcReportLink.url && !advisorLinks.tcReportLink.url">
          <tr><td class="cc-transfer-credit-table-border" colspan="3"></td></tr>
          <tr class="cc-transfer-credit-table-parent-row">
            <td colspan="3">
              <a
                data-cc-campus-solutions-link-directive="studentLinks.tcReportLink"
                data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
              ></a>
            </td>
          </tr>
        </tbody>
        <tbody data-ng-if="advisorLinks.tcReportLink.url">
          <tr><td class="cc-transfer-credit-table-border" colspan="3"></td></tr>
          <tr class="cc-transfer-credit-table-parent-row">
            <td colspan="3">
              <a
                data-cc-campus-solutions-link-directive="advisorLinks.tcReportLink"
                data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
