@import '../../../../stylesheets/variables';

$color-colonial-white: #fff2bd;
$color-karry: #ffe9d9;

.Badge {
  color: #333;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 21px;
  height: 20px;
  background-color: $color-gallery;
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 4px;
}

.Badge--icon {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 4px;
}

.Badge--not-due {
  background-color: $color-colonial-white;

  &.Badge--icon {
    // icon #F1A91E
    background-image: url('/assets/images/not-yet-due.svg');
    background-size: 13px;
  }
}

.Badge--due {
  background-color: $color-karry;

  &.Badge--icon {
    background-image: url('/assets/images/due-now.svg');
    background-size: 13px;
  }
}

.Badge--overdue {
  background-color: $color-cinderella;
  &.Badge--icon {
    background-image: url('/assets/images/exclamation-circle.svg');
    background-size: 13px;
  }
}
