@import '../stylesheets/variables';

.ButtonGroup {
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;

  .GroupedButton {
    font-size: 13px;
    color: $color-text-alt;
    line-height: 14px;
    padding: 8px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-silver;
    border-left-width: 0;
    border-right-width: 0;

    &:first-child {
      border-left-width: 1px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-right-width: 1px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .GroupedButton--inactive + .GroupedButton--inactive {
    border-left-width: 1px;
  }

  .GroupedButton--active + .GroupedButton--inactive {
    border-left-width: 0;
  }

  .GroupedButton.GroupedButton--active {
    font-weight: bold;
    color: $color-text-link;
    border: 1px solid $color-denim;
    background: $color-foam;
  }

  .GroupedButton.GroupedButton--inactive {
    color: $color-dove-gray;
    background: $color-wild-sand;
    border-color: $color-silver;

    &:hover {
      color: $color-text-link;
    }
  }
}
