@import '../stylesheets/variables';

.Card {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
}

.Card__title {
  margin: -15px -15px 0px;
  padding: 7px 15px;
  background: #eee;

  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Card__error {
  display: flex;
  align-items: center;
  margin-top: $medium-spacing;

  img {
    margin-right: 5px;
  }
}
