@import 'src/react/stylesheets/variables';

.noticeWrapper {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;

  &.yellow {
    background-color: $color-half-dutch-white;
  }

  &.gray {
    background-color: $color-gallery;
  }
}

.iconContainer {
  width: 24px;
  margin-top: 2px;
  flex-shrink: 0;
}

.messageContainer {
  div {
    p {
      margin-bottom: 10px;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
