@import '../stylesheets/variables';

.Tabs {
  border-bottom: 1px solid $cc-color-whisper;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
}

.Tab {
  display: inline-block;
  margin-bottom: -1px;
  padding: 2px 20px;
  color: $cc-color-curious-blue-2;

  &:first-child {
    margin-left: 10px;
  }
}

.Tab--active {
  border-bottom: 1px solid $cc-color-curious-blue-2;
  font-weight: bold;
}
