<div class="bc-canvas-application bc-page-site-mailing-list">

  <div data-ng-if="isLoading" data-cc-spinner-directive></div>

  <div data-ng-show="!isLoading && !displayError">
    <h1 class="bc-header bc-header1">Mailing List</h1>

    <div role="alert" class="bc-alert bc-alert-error" data-ng-if="alerts.error.length">
      <i class="fa fa-error fa-exclamation-triangle cc-left bc-icon-red bc-canvas-notice-icon"></i>
      <div class="bc-page-site-mailing-list-notice-message">
        <div data-ng-repeat="error in alerts.error" data-ng-bind="error"></div>
      </div>
    </div>

    <div data-ng-if="listCreated" class="bc-alert bc-alert-success">
      A Mailing List has been created at <strong data-ng-bind-template="{{mailingList.name}}@{{mailingList.domain}}"></strong>.
      Messages can now be sent through this address.
    </div>

    <div data-ng-if="!listCreated" class="bc-alert">
      No Mailing List has yet been created for this site.
    </div>

    <p class="bc-page-site-mailing-list-text">
      bCourses Mailing Lists allow Teachers, TAs, Lead TAs and Readers to send email to everyone in a bCourses site by
      giving the site its own email address. Messages sent to this address from the <strong>official berkeley.edu email
      address</strong> of a Teacher, TA, Lead TA or Reader will be sent to the official email addresses of all site
      members. Students and people not in the site cannot send messages through Mailing Lists.
    </p>

    <form class="bc-canvas-page-form bc-canvas-form" data-ng-if="!listCreated">
      <div class="bc-form-actions">
        <button data-ng-click="createMailingList()" class="bc-canvas-button bc-canvas-button-primary" aria-controls="cc-page-reader-alert">
          <span data-ng-if="!isCreating">Create mailing list</span>
          <span data-ng-if="isCreating"><i class="fa fa-spinner fa-spin"></i> Creating ...</span>
        </button>
      </div>
    </form>
  </div>

  <div data-ng-if="displayError" class="bc-notice-error-container">
    <div data-ng-include="'canvas_embedded/_shared/canvas_errors.html'"></div>
  </div>

</div>
