@import '../../../stylesheets/colors';
@import '../../../stylesheets/variables';

.linkContainer {
  margin-bottom: 15px;
}

.linkTitle {
  color: $color-dove-gray;
  display: flex;
  font-size: 13px;
  font-weight: bold;
}

.linkSubTitle {
  color: $color-mine-shaft;
  font-size: 11px;
  font-weight: normal;
}

.linkSubText {
  padding-left: 20px;
}

.icon {
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 12px 11px;
  color: $color-dove-gray;
  padding-left: 20px;
}

.iconApr {
  background-image: url('/assets/images/academicprogressreport.svg');
}

.iconAprWhatIf {
  background-image: url('/assets/images/question-solid.svg');
}

.iconDegreePlanner {
  background-image: url('/assets/images/tools.svg');
}

.iconGradeEstimator {
  background-image: url('/assets/images/calculator.svg');
}

.noPaddingLeft {
  padding-left: 0;
}
