<div class="cc-academic-summary-border-wrapper">
  <div class="row cc-academic-summary-content cc-clearfix" >
    <h4 data-ng-if="!semester.hasWithdrawalData && semester.hasEnrollmentData "><a class="cc-left" data-ng-href="/academics/semester/{{semester.slug}}" data-ng-bind="semester.name"></a></h4>
    <h4 class="cc-left" data-ng-if="(!semester.hasEnrollmentData && semester.hasStudyProgData) || semester.hasWithdrawalData || !semester.hasEnrollmentData " data-ng-bind="semester.name"></h4>
    <div class="cc-left cc-academics-semester-status" data-ng-if="semester.hasWithdrawalData">
      <span data-ng-bind="semester.withdrawalStatus.withcnclTypeDescr"></span>&nbsp;<span data-ng-bind="semester.withdrawalStatus.withcnclFromDate"></span>
    </div>
    <span class="cc-left cc-academics-semester-status" data-ng-if="semester.hasStudyProgData" data-ng-bind="semester.studyProg.studyprogTypeDescr"></span>
  </div>
  <div class="cc-academic-summary-content cc-clearfix">
    <ul class="cc-right cc-text-right">
      <li data-ng-if="semester.honors.DEANS">
        <span data-ng-bind="semester.honors.DEANS.description"></span>
      </li>
      <li data-ng-if="semester.honors.HONRDT">
        <span data-ng-bind="semester.honors.HONRDT.description"></span>&nbsp;<span data-ng-bind="semester.honors.HONRDT.awardDate"></span>
      </li>
    </ul>
  </div>
  <div class="cc-table cc-academic-summary-content">
    <table data-ng-if="semester.hasEnrolledClasses && !semester.hasWithdrawalData" class="cc-class-enrollments">
      <thead>
        <tr>
          <th>Class</th>
          <th>Title</th>
          <th class="cc-table-right cc-academic-summary-table-units">Un.</th>
          <th ng-if="semester.totalLawUnits" class="cc-table-right cc-academic-summary-table-units">Law Un.</th>
          <th data-ng-if="api.user.profile.canViewGrades">Gr.</th>
          <th data-ng-if="api.user.profile.canViewGrades" class="cc-table-right">Pts.</th>
        </tr>
      </thead>
      <tbody data-ng-repeat="class in semester.classes">
        <tr data-ng-repeat="section in class.sections" data-ng-if="section.is_primary_section && !section.waitlisted">
          <td>
            <span data-ng-if="class.multiplePrimaries && section.url">
              <a data-ng-href="{{section.url}}">
                <span data-ng-bind-template="{{class.course_code}} {{section.section_label}}"></span>
                <span class="cc-nowrap" data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
              </a>
            </span>

            <span data-ng-if="class.multiplePrimaries && !section.url">
              <span data-ng-bind-template="{{class.course_code}} {{section.section_label}}"></span>
              <span class="cc-nowrap" data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
            </span>

            <span data-ng-if="!class.multiplePrimaries && class.url">
              <a data-ng-href="{{class.url}}">
                <span data-ng-bind="class.course_code"></span>
                <span class="cc-nowrap" data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})" ></span>
              </a>
            </span>

            <span data-ng-if="!class.multiplePrimaries && !class.url">
              <span data-ng-bind="class.course_code"></span>
              <span class="cc-nowrap" data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
            </span>
          </td>
          <td>
            <div data-ng-bind="class.title"></div>
            <div data-ng-bind="section.requirementsDesignation" class="cc-requirement"></div>
          </td>
          <td class="cc-text-right cc-academic-summary-table-units" data-ng-bind="section.units | number:1"></td>
          <td ng-if="semester.totalLawUnits && (section.lawUnits || section.lawUnits === 0)" class="cc-text-right cc-academic-summary-table-units" data-ng-bind="section.lawUnits | number:1"></td>
          <td ng-if="semester.totalLawUnits && !(section.lawUnits || section.lawUnits === 0)" class="cc-text-right cc-academic-summary-table-units">&mdash;</td>
          <td data-ng-if="api.user.profile.canViewGrades && section.grading.grade" data-ng-bind="section.grading.grade"></td>
          <td data-ng-if="api.user.profile.canViewGrades && !section.grading.grade">&mdash;</td>
          <td class="cc-text-right" data-ng-if="api.user.profile.canViewGrades && section.grading.grade_points" data-ng-bind="section.grading.grade_points"></td>
          <td class="cc-text-right" data-ng-if="api.user.profile.canViewGrades && !section.grading.grade_points">&mdash;</td>
        </tr>
      </tbody>
      <tfoot data-ng-if="semester.showUnitTotal">
        <tr>
          <th data-ng-bind="semester.isGradingComplete ? 'Earned Total:' : 'Enrolled Total:'" colspan="2" scope="row" class="cc-table-right cc-academic-summary-table-units"></th>
          <td data-ng-bind="semester.totalUnits" class="cc-table-right cc-academic-summary-table-units"></td>
          <td ng-if="semester.totalLawUnits" data-ng-bind="semester.totalLawUnits" class="cc-table-right cc-academic-summary-table-units"></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
