<div class="cc-academic-summary-border-wrapper">
  <div class="row">
    <div class="small-6 columns">
      <h4 class="cc-academic-summary-enrollment-header">
        <a data-ng-if="semester.hasEnrollmentData && semester.slug" data-ng-bind="semester.name" data-ng-href="/academics/semester/{{semester.slug}}"></a>
        <span data-ng-if="!semester.hasEnrollmentData || !semester.slug" data-ng-bind="semester.name"></span>
      </h4>
    </div>
  </div>
  <div class="cc-table cc-academic-summary-table">
    <table>
      <thead>
        <tr>
          <th width="20%">Class</th>
          <th width="55%">Title</th>
          <th class="cc-table-right cc-academic-summary-table-units" width="10%">Units</th>
          <th data-ng-if="api.user.profile.canViewGrades" width="5%">Grade</th>
          <th class="cc-table-right" data-ng-if="api.user.profile.canViewGrades" width="10%">Points</th>
        </tr>
      </thead>
      <tbody data-ng-if="!semester.summaryFromTranscript" data-ng-repeat="class in semester.classes">
        <tr data-ng-repeat="section in class.sections" data-ng-if="section.is_primary_section && !section.waitlisted && !class.transcript">
          <td>
            <span data-ng-if="class.multiplePrimaries && section.url">
              <a data-ng-href="{{section.url}}">
                <span data-ng-bind-template="{{class.course_code}} {{section.section_label}}"></span>
                <span class="cc-nowrap" data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
              </a>
            </span>

            <span data-ng-if="class.multiplePrimaries && !section.url">
              <span data-ng-bind-template="{{class.course_code}} {{section.section_label}}"></span>
              <span class="cc-nowrap" data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
            </span>

            <span data-ng-if="!class.multiplePrimaries && class.url">
              <a data-ng-href="{{class.url}}">
                <span data-ng-bind="class.course_code"></span>
                <span class="cc-nowrap" data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})" ></span>
              </a>
            </span>

            <span data-ng-if="!class.multiplePrimaries && !class.url">
              <span data-ng-bind="class.course_code"></span>
              <span class="cc-nowrap" data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})"></span>
            </span>
          </td>
          <td data-ng-bind="class.title"></td>
          <td class="cc-text-right cc-academic-summary-table-units" data-ng-bind="section.units | number:1"></td>
          <td data-ng-if="api.user.profile.canViewGrades">&mdash;</td>
          <td data-ng-if="api.user.profile.canViewGrades">&mdash;</td>
        </tr>
        <tr data-ng-if="class.transcript" data-ng-repeat="transcript in class.transcript">
          <td data-ng-if="class.url"><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a>
          <td data-ng-if="!class.url" data-ng-bind="class.course_code"></td>
          <td data-ng-bind="class.title"></td>
          <td class="cc-text-right cc-academic-summary-table-units" data-ng-bind="transcript.units | number:1"></td>
          <td data-ng-if="api.user.profile.canViewGrades" data-ng-bind="transcript.grade"></td>
          <td class="cc-text-right" data-ng-if="api.user.profile.canViewGrades && transcript.grade_points" data-ng-bind="transcript.grade_points"></td>
          <td class="cc-text-right" data-ng-if="api.user.profile.canViewGrades && !transcript.grade_points">&mdash;</td>
        </tr>
      </tbody>
      <tbody data-ng-if="semester.summaryFromTranscript" data-ng-repeat="class in semester.classes">
        <tr data-ng-if="class.transcript" data-ng-repeat="transcript in class.transcript">
          <td data-ng-if="class.url"><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a>
          <td data-ng-if="!class.url" data-ng-bind="class.course_code"></td>
          <td data-ng-bind="class.title"></td>
          <td class="cc-text-right cc-academic-summary-table-units" data-ng-bind="transcript.units | number:1"></td>
          <td data-ng-if="api.user.profile.canViewGrades" data-ng-bind="transcript.grade"></td>
          <td class="cc-text-right" data-ng-if="api.user.profile.canViewGrades && transcript.grade_points" data-ng-bind="transcript.grade_points"></td>
          <td class="cc-text-right" data-ng-if="api.user.profile.canViewGrades && !transcript.grade_points">&mdash;</td>
        </tr>
        <tr data-ng-if="!class.transcript && section.is_primary_section" data-ng-repeat="section in class.sections">
          <td data-ng-if="class.url"><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a>
          <td data-ng-if="!class.url" data-ng-bind="class.course_code"></td>
          <td data-ng-bind="class.title"></td>
          <td class="cc-text-right cc-academic-summary-table-units" data-ng-bind="section.units | number:1"></td>
          <td data-ng-if="api.user.profile.canViewGrades">&mdash;</td>
          <td class="cc-text-right" data-ng-if="api.user.profile.canViewGrades">&mdash;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
