<div class="cc-table cc-academic-summary-content">
  <table>
    <tbody>
      <tr>
        <th>Name</th>
        <td data-ng-bind="primaryName.formattedName"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="cc-table cc-table-top-border cc-academic-summary-content">
  <table>
    <tbody>
      <tr>
        <th>Student ID</th>
        <td data-ng-bind="api.user.profile.sid"></td>
      </tr>
    </tbody>
  </table>
</div>
<div data-cc-academic-plans-directive data-ng-if="collegeAndLevel.majors.length" data-plans="collegeAndLevel.majors" data-options="{labels: {'1': 'Major', 'other': 'Majors'}}" data-type="major" class="cc-academic-summary-content"></div>
<div data-cc-academic-plans-directive data-ng-if="collegeAndLevel.minors.length" data-plans="collegeAndLevel.minors" data-options="{labels: {'1': 'Minor', 'other': 'Minors'}}" data-type="minor" class="cc-academic-summary-content"></div>
<div data-cc-academic-plans-directive data-ng-if="collegeAndLevel.designatedEmphases.length" data-plans="collegeAndLevel.designatedEmphases" data-options="{labels: {'1': 'Designated Emphasis', 'other': 'Designated Emphases'}}" data-type="designatedEmphasis" class="cc-academic-summary-content"></div>
<div data-ng-if="!api.user.profile.academicRoles.current.summerVisitor && collegeAndLevel.careers.length" data-cc-academic-careers-directive data-careers="collegeAndLevel.careers" class="cc-academic-summary-content"></div>
<div class="cc-table cc-table-top-border cc-academic-summary-content" data-ng-if="!api.user.profile.academicRoles.current.summerVisitor && collegeAndLevel.level">
  <table>
    <tbody>
      <tr>
        <th>Level</th>
        <th class="cc-academic-summary-row-header" data-ng-if="collegeAndLevel.nonApLevel">Including AP</th>
        <th class="cc-academic-summary-row-header" data-ng-if="collegeAndLevel.nonApLevel">Not Including AP</th>
        <td data-ng-if="!collegeAndLevel.nonApLevel"><span data-ng-bind="collegeAndLevel.level"></span></td>
      </tr>
      <tr data-ng-if="collegeAndLevel.nonApLevel">
        <td></td>
        <td><span data-ng-bind="collegeAndLevel.level"></span></td>
        <td><span data-ng-bind="collegeAndLevel.nonApLevel"></span></td>
      </tr>
    </tbody>
  </table>
</div>
<div data-cc-expected-graduation-terms-directive
  data-ng-if="collegeAndLevel.termsInAttendance || graduation.undergraduate.expectedGraduationTerm || graduation.gradLaw.expectedGraduationTerms.length"
  data-termsInAttendance="collegeAndLevel.termsInAttendance"
  data-graduation="graduation"
  class="cc-academic-summary-content"
></div>
<div class="cc-table cc-table-top-border cc-academic-summary-content" data-ng-if="!api.user.profile.academicRoles.current.summerVisitor && (gpaUnits.totalUnits > 0 || gpaUnits.totalLawUnits > 0)">
  <table>
    <tbody>
      <tr>
        <th scope="rowgroup" rowspan="{{gpaUnits.rowCount}}">Cumulative Units</th>
        <th scope="row" rowspan="1" class="cc-academic-summary-subhead">Total Units</th>
        <td><span data-ng-bind="gpaUnits.totalUnits"></span></td>
      </tr>
      <tr data-ng-if="gpaUnits.totalLawUnits">
        <th scope="row" rowspan="1" class="cc-academic-summary-subhead">Law Units</th>
        <td><span data-ng-bind="gpaUnits.totalLawUnits"></span></td>
      </tr>
      <tr data-ng-if="gpaUnits.totalTransferAndTestingUnits">
        <th scope="row" rowspan="1" class="cc-academic-summary-subhead">Transfer Units</th>
        <td><span data-ng-bind="gpaUnits.totalTransferAndTestingUnits"></span></td>
      </tr>
      <tr data-ng-if="gpaUnits.totalUnitsTakenNotForGpa">
        <th scope="row" rowspan="1" class="cc-academic-summary-subhead">P/NP Total</th>
        <td><span data-ng-bind="gpaUnits.totalUnitsTakenNotForGpa"></span></td>
      </tr>
      <tr data-ng-if="gpaUnits.totalUnitsPassedNotForGpa">
        <th scope="row" rowspan="1" class="cc-academic-summary-subhead">P/NP Passed</th>
        <td><span data-ng-bind="gpaUnits.totalUnitsPassedNotForGpa"></span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="cc-table cc-table-top-border cc-academic-summary-content" data-ng-if="!api.user.profile.academicRoles.current.summerVisitor && showGpa">
  <table>
    <tbody data-ng-if="gpaUnits.gpa.length < 2">
      <tr>
        <th>Cumulative GPA</th>
        <td><span data-ng-bind="gpaUnits.gpa[0].cumulativeGpaFloat"></span></td>
      </tr>
    </tbody>
    <tbody data-ng-if="gpaUnits.gpa.length >= 2">
      <tr data-ng-repeat="gpa in gpaUnits.gpa">
        <th data-ng-if="$first" scope="rowgroup" rowspan="{{gpaUnits.gpa.length}}">Cumulative GPA</th>
        <th scope="row" rowspan="1" class="cc-academic-summary-subhead" data-ng-bind="gpa.roleDescr"></th>
        <td><span data-ng-bind="gpa.cumulativeGpaFloat"></span></td>
      </tr>
    </tbody>
  </table>
</div>
<div data-ng-if="collegeAndLevel.degrees" data-ng-include="'widgets/academics/degrees_conferred.html'" class="cc-academic-summary-content cc-academic-summary-border-bottom"></div>
