<div class="cc-widget cc-academic-summary">
  <div class="cc-widget-title">
    <h2 class="cc-left">Academic Summary</h2>
    <button class="cc-button cc-button-blue cc-right cc-widget-title-button" data-ng-click="printPage()">
      <i class="fa fa-print"></i> Print
    </button>
  </div>
  <div data-cc-spinner-directive="academicSummary.isLoading">
    <h3>Student Profile</h3>
    <div class="cc-academic-summary-margin-bottom" data-ng-include="'widgets/academic_summary/academic_summary_student_profile.html'"></div>
    <div data-ng-if="showTransferCredit || showSemesters">
      <h3>Enrollment</h3>
      <span data-ng-if="api.user.profile.features.hubTermApi">
        <strong>Note: </strong>Enrollment data for current term and back to Spring 2010 (where applicable) is displayed. <button class="cc-button-link" data-ng-show="!showMore" data-ng-click="showMore=!showMore">Show more</button>
        <span data-ng-if="showMore"> If enrollments exist in terms prior to Spring 2010, the data will be displayed in Summer 2017. If you require a full record now, please order a transcript.</span>
      </span>
    </div>
    <div data-ng-if="showTransferCredit" data-ng-include="'widgets/academic_summary/academic_summary_transfer_credit.html'"></div>
    <div data-ng-if="showSemesters" data-ng-repeat="semester in semesters | orderBy:'-'" data-ng-include="'widgets/academic_summary/academic_summary_semesters.html'"></div>
    <div data-ng-if="showSemesters && (gpaUnits.totalLawUnits > 0 || api.user.profile.roles.law)" class="cc-academic-summary-border-wrapper">
        <div class="cc-table cc-academic-summary-content">
          <table class="cc-class-enrollments">
            <caption><h4>Summary</h4></caption>
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="cc-table-right cc-academic-summary-table-units">Un.</th>
                <th class="cc-table-right cc-academic-summary-table-units">Law Un.</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th colspan="2" scope="row" class="cc-table-right cc-academic-summary-table-units">Earned Total:</th>
                <td data-ng-bind="gpaUnits.totalUnits.toFixed(1)" class="cc-table-right cc-academic-summary-table-units"></td>
                <td data-ng-bind="gpaUnits.totalLawUnits.toFixed(1)" class="cc-table-right cc-academic-summary-table-units"></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
  </div>
</div>
