@import '../../../stylesheets/variables';

.EmploymentAppointments {
  p {
    margin-bottom: 10px;
  }

  h3 {
    color: $cc-color-charcoal;

    span {
      font-weight: normal;
      font-size: 13px;
    }
  }
}

.ButtonContainer {
  text-align: center;
}

.InstructingAppointments__header {
  display: flex;
  flex-direction: row;
  margin-top: $large-spacing;

  h3 {
    flex: 0;
    margin-right: 5px;
  }

  p {
    margin-bottom: 10px;
  }
}

.InstructingClassRow {
  display: flex;
  flex-direction: row;
}

.InstructingClassRow__title {
  flex: 1;
}
