<div class="cc-list-link-container">
  <div data-ng-repeat="section in sections">
    <h3 data-ng-bind="section.sectionTitle"></h3>
    <ul class="cc-list-bullets">
      <li data-ng-repeat="link in section.links" data-ng-if="link.url">
        <div class="cc-inline-block">
          <a data-cc-campus-solutions-link-directive="link"
            data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
          ></a><span data-ng-if="link.linkdescriptiondisplay" data-ng-bind-template=": {{ link.linkdescription }}"></span>
        </div>
      </li>
    </ul>
  </div>
</div>
