<div class="cc-list-link-container">
  <h3>Tools</h3>
  <ul class="cc-list-links">
    <li data-ng-if="csLinks.ucReportingCenter.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucReportingCenter"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucEformsActionCenter.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucEformsActionCenter"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucEformsWorkCenter.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucEformsWorkCenter"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucAppointmentSystem.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucAppointmentSystem"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucClassSearch.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucClassSearch"
      ></div>
    </li>
  </ul>

  <h3>Student Specific Links</h3>
  <ul class="cc-list-links">
    <li data-ng-if="csLinks.ucAdvisingAssignments.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucAdvisingAssignments"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucServiceIndicators.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucServiceIndicators"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucAdministrativeTranscript.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucAdministrativeTranscript"
      ></div>
    </li>
    <li data-ng-if="api.user.profile.features.csAcademicProgressReport && links.ucAcademicProgressReport.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="links.ucAcademicProgressReport"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucWhatIfReports.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucWhatIfReports"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucTransferCreditReport.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucTransferCreditReport"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucMilestones.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="csLinks.ucMilestones"
      ></div>
    </li>
    <li data-ng-if="csLinks.ucMultiYearAcademicPlannerGeneric.url">
      <a
        data-ng-href="{{csLinks.ucMultiYearAcademicPlannerGeneric.url}}"
        data-ng-bind="csLinks.ucMultiYearAcademicPlannerGeneric.name"
        data-ng-attr-title="{{csLinks.ucMultiYearAcademicPlannerGeneric.title}}"
      ></a>
    </li>
    <li data-ng-if="links.webNowDocuments.url">
      <div
        data-cc-campus-solutions-link-item-directive
        data-link="links.webNowDocuments"
      ></div>
    </li>
  </ul>
</div>
