<div class="cc-list-link-container">
  <h3>Tools</h3>
  <ul class="cc-list-links">
    <li data-ng-if="csLinks.ucReportingCenter.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucReportingCenter"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucEformsActionCenter.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucEformsActionCenter"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucEformsWorkCenter.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucEformsWorkCenter"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucAppointmentSystem.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucAppointmentSystem"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucClassSearch.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucClassSearch"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
  </ul>

  <h3>Student Specific Links</h3>
  <ul class="cc-list-links">
    <li data-ng-if="csLinks.ucAdvisingAssignments.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucAdvisingAssignments"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucServiceIndicators.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucServiceIndicators"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucAdministrativeTranscript.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucAdministrativeTranscript"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucAcademicProgressReport.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucAcademicProgressReport"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucWhatIfReports.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucWhatIfReports"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucTransferCreditReport.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucTransferCreditReport"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucMilestones.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucMilestones"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.ucMultiYearAcademicPlannerGeneric.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.ucMultiYearAcademicPlannerGeneric"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
    <li data-ng-if="csLinks.webNowDocuments.url">
      <a data-cc-campus-solutions-link-v2-directive="csLinks.webNowDocuments"
        data-cc-campus-solutions-link-v2-directive-cc-page-name="currentPage.name"
        data-cc-campus-solutions-link-v2-directive-cc-page-url="currentPage.url"
      ></a>
    </li>
  </ul>
</div>
