<div class="cc-widget cc-widget-advising-resources" data-ng-controller="AdvisingResourcesController">
  <div class="cc-widget-title">
    <h2>Advising Resources</h2>
  </div>
  <div data-cc-spinner-directive="advisingResources.isLoading">
    <div class="cc-list-link-container" data-ng-if="ucAdvisingResources.ucAdvisingFavoriteReports.length">
      <h3>Favorite Reports</h3>
      <ul class="cc-list-links">
        <li data-ng-repeat="report in ucAdvisingResources.ucAdvisingFavoriteReports">
          <a data-cc-campus-solutions-link-directive
            data-cc-campus-solutions-link-directive-name="report.name"
            data-cc-campus-solutions-link-directive-url="report.url"
            data-cc-campus-solutions-link-directive-uc-from="true"
            data-cc-campus-solutions-link-directive-uc-from-link="true"
            data-cc-campus-solutions-link-directive-uc-from-text="true"
            data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
            data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
          ></a>
        </li>
      </ul>
    </div>

    <div data-ng-include="'widgets/advisor/advising_links.html'"></div>
  </div>
</div>
