@import 'src/react/stylesheets/variables';
@import 'src/react/stylesheets/mixins';

$danger-color: $color-thunderbird;

.taskWrapper {
  &.selected {
    background-color: $color-foam;
  }

  &.selected.notFocused {
    background: $color-bianca;
  }

  &.hasDetail {
    @include hasDisclosureArrow();

    &.notSelected {
      @include disclosureArrowClosed();
    }
    &.selected {
      @include disclosureArrowOpen();
    }
  }

  &::after {
    right: 7px;
  }

  border-left: 4px solid $color-silver;
  margin-right: 10px;
}

.overdue {
  border-left: 4px solid $danger-color;
}
