@import '../../../../stylesheets/variables';

.ItemPayment .flex {
  display: flex;
  justify-content: space-between;
}

.ItemPayment + .ItemPayment {
  margin-top: 10px;
}

.ItemPayment__paid-on {
  color: $cc-color-dim-gray;
}

.ItemPayment__amount {
  padding-right: 12px;
}
