@import '../../../../stylesheets/variables';

.ItemAdjustment {
  display: flex;
  background-image: url('/assets/images/timeline-center.svg');
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 15px;
  margin-left: -4px;
  line-height: 23px;

  .ItemAdjustment__date {
    width: 114px;
  }

  &.ItemAdjustment--change {
    color: $color-dove-gray;

    .ItemAdjustment__description {
      font-style: italic;
    }
  }

  &.ItemAdjustment--last {
    color: $color-dove-gray;
  }

  &.ItemAdjustment--show-more {
    background-image: url('/assets/images/timeline-center-blue.svg');
    color: $color-denim;
    cursor: pointer;
  }

  &.ItemAdjustment--too-many {
    background-image: url('/assets/images/timeline-empty.svg');
    color: $color-dove-gray;
  }

  &:first-child {
    background-image: url('/assets/images/timeline-top-cap.svg');
    background-position-y: 6px;
  }

  &:last-child {
    background-position-y: -10px;
    background-image: url('/assets/images/timeline-bottom-cap.svg');
  }
}
