@import '../../../../stylesheets/variables';

.TransactionHistory {
  h3 {
    font-size: $base-font-size;
    margin-top: 0;
  }
}

.ItemDetails .TransactionHistory {
  grid-column: 1/1;
};

@media only screen and (min-width: $small-breakpoint) {
  .ItemDetails .TransactionHistory {
    grid-column: 1/3;
  };
}

.ItemAdjustments {
  margin-left: 5px;
}

.NoChanges {
  color: $color-dove-gray;
}
