.EmploymentAppointments {
  p {
    margin-bottom: 10px;
  }

  h3 {
    color: #444;

    span {
      font-weight: normal;
      font-size: 13px;
    }
  }
}

.InstructingAppointments__header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  h3 {
    flex: 0;
    margin-right: 5px;
  }

  p {
    margin-bottom: 10px;
  }
}

.InstructingClassRow {
  display: flex;
  flex-direction: row;
}
.InstructingClassRow__title {
  flex: 1;
}
