@import '../../../../stylesheets/variables';
@import '../billing-items-grid.scss';

.BillingItemsHeaders {
  display: none;
}

@media only screen and (min-width: $small-breakpoint) {
  .BillingItemsHeaders {
    @include billing-items-grid;
    color: $color-dove-gray;
    border-bottom: 1px solid #eee;
  }
}
