@import '../../../../stylesheets/variables';

.ShowMore {
  padding: 10px 10px 0;
  color: $cc-color-curious-blue;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.ShowMore__message {
  margin-right: 5px;
}
