<!DOCTYPE html>
<html lang="en" data-ng-controller="CalcentralController">

<head>
  <meta charset="utf-8">

  <title data-ng-bind="title">CalCentral</title>

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="CalCentral is a new resource for the UC Berkeley community.">

  <!-- Set a web app capable website -->
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="CalCentral">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- https://mathiasbynens.be/notes/touch-icons -->
  <link href="/assets/images/icon-small@2x.png" rel="apple-touch-icon">
  <link href="/assets/images/icon-72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="/assets/images/icon-76.png" rel="apple-touch-icon" sizes="76x76">
  <link href="/assets/images/icon-60@2x.png" rel="apple-touch-icon" sizes="120x120">
  <link href="/assets/images/icon-72@2x.png" rel="apple-touch-icon" sizes="144x144">
  <link href="/assets/images/icon-76@2x.png" rel="apple-touch-icon" sizes="152x152">
  <link href="/assets/images/icon-60@3x.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/assets/images/192.png" rel="icon" sizes="192x192">

  <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <link href="/assets/images/favicon_16x16.png" rel="icon" sizes="16x16" type="image/png">
  <link href="/assets/images/favicon_32x32.png" rel="icon" sizes="32x32" type="image/png">

  <noscript>
    <meta http-equiv="Refresh" content="0; URL=/enable-javascript.html"></noscript>
  <base href="/">
</head>

<body data-ng-class="{'cc-page-splash':(controllerName==='SplashController'),'cc-offcanvas-show':(offCanvasMenu.show)}"
  data-ng-show="api.user.events.isLoaded" data-cc-iosfix-directive>

  <div data-ng-include="'accessibility.html'"></div>
  <div data-ng-include="'ieold.html'"></div>

  <alumni-overlay data-ng-if="api.user.profile.features.alumniHomepage && api.user.profile.roles.alumniFormer &&
    !api.user.profile.academicRoles.historical.law &&
    !api.user.profile.roles.faculty && !api.user.profile.roles.staff &&
    !api.user.profile.actingAsUid"></alumni-overlay>
  <div data-ng-include="'launcher.html'"></div>

  <div data-ng-if="!(api.user.profile.features.alumniHomepage && api.user.profile.roles.alumniFormer &&
                !api.user.profile.academicRoles.historical.law &&
                !api.user.profile.roles.faculty && !api.user.profile.roles.staff && 
                !api.user.profile.actingAsUid)"
    data-ng-class="{'cc-off-canvas-container':(controllerName !== 'SplashController'), 'cc-offcanvas-footer-offset':(controllerName === 'SplashController')}"
    data-ng-swipe-left="offCanvasMenu.show=false">


    <div class="cc-offcanvas-left cc-print-hide" id="cc-navigation">
      <div data-ng-include="'navigation.html'"></div>
    </div>
    <div
      data-ng-class="{'cc-offcanvas-right':(controllerName !== 'SplashController'), 'cc-offcanvas-footer-offset':(controllerName === 'SplashController')}">
      <div class="row cc-container-main"
        data-ng-class="{'collapse':(controllerName === 'DashboardController' || controllerName === 'AcademicsController')}"
        id="cc-main-content" role="main">
        <alert-bar data-ng-if="controllerName !== 'SplashController'">
        </alert-bar>
        <div class="cc-clearfix-container" data-ng-view></div>
      </div>
      <div data-ng-if="(controllerName !== 'SplashController')" data-ng-include="'footer.html'"></div>
    </div>
  </div>

  <div class="footer-sticky-container" data-ng-if="(controllerName === 'SplashController')"
    data-ng-include="'footer.html'"></div>
  <div data-ng-include="'acting_as.html'"></div>
  <div data-ng-include="'advisor_acting_as.html'"></div>
  <div data-ng-include="'delegate_acting_as.html'"></div>
</body>

</html>