@import '../../../../assets/stylesheets/colors.scss';

table.student-profile {
  border-spacing: 0;
  border-width: 0;
  width: 100%;

  tr {
    th {
      color: $cc-color-dim-gray;
    }

    td {
      color: $cc-color-night-rider;
    }

    th, td {
      background: white;
      border-bottom: 1px solid $cc-color-very-light-grey;
      padding: 10px 0;
      vertical-align: top;
    }
  }

  tr:last-child {
    th, td {
      border-bottom-width: 0;
    }
  }
}

table.student-profile__subtable {
  border-spacing: 0;
  border-width: 0;
  width: 100%;
  margin-bottom: 0;

  tr {
    th {
      color: $cc-color-dim-gray;
    }

    td {
      color: $cc-color-night-rider;
    }

    th, td {
      background: white;
      padding: 0;
      padding-top: 3px;
      border-bottom-width: 0;
      vertical-align: top;
      font-size: 13px;
    }
  }
}

h3.cc-enrollment-header {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
