.cc-academic-plan-card {
  .cc-academic-plan-card-oldest-terms-note {
    margin: 0 15px 15px;
  }
  .cc-academic-plan-card-sub-title {
    font-size: 11px;
  }
  .cc-academic-plan-card-units {
    padding-right: 12px;
  }
  .cc-academic-plan-incomplete-notice {
    padding-bottom: 10px;
    padding-top: 0;
  }
}
