.cc-academic-summary {
  .cc-academic-summary-border-wrapper {
    border: 1px solid $cc-color-very-light-grey;
    margin: 15px;
    &:first-child {
      margin-top: 0;
    }
  }
  .cc-academic-summary-enrollment-header {
    display: inline-block;
    margin: 10px 15px 5px;
  }
  .cc-academic-summary-margin-bottom {
    margin-bottom: 15px;
  }
  .cc-academic-summary-row-header {
    color: $cc-color-dim-gray;
    vertical-align: bottom;
  }
  .cc-academic-summary-subhead {
    color: $cc-color-dim-gray;
    padding: 0;
    vertical-align: bottom;
    width: 20%;
  }
  .cc-academic-summary-sub-plan {
    margin-left: 10px;
  }
  .cc-academic-summary-content {
    margin: 0 15px 10px;

    .cc-academic-summary-table-spacing {
      padding: 0;
    }
    .cc-academic-summary-table-units {
      padding-right: 15px;
    }
    .cc-academic-summary-table-multiple {
      padding-left: 10px;
    }
    .cc-academics-semester-status {
      margin: 3px 0 6px 10px;
      > span {
        vertical-align: inherit;
      }
    }
    .cc-section-block:not(:last-child) {
      margin: 0 0 5px;
    }
  }
  .cc-degrees-conferred {
    td {
      padding-top: 6px;
    }
  }
  .cc-table-top-border {
    padding-top: 10px;
  }
  h3 {
    padding: 15px 15px 10px;
  }
  table {
    caption {
      text-align: left;
    }
    td {
      padding-top: 0;
      vertical-align: bottom;
    }
    th {
      font-size: 14px;
      margin: 0;
      padding: 2px 10px 2px 0;
      width: 30%;
      &.cc-academic-summary-subhead {
        font-size: 13px;
      }
    }
    strong {
      color: $cc-color-dim-gray;
    }
    &.cc-class-enrollments {
      .cc-requirement {
        color: $cc-color-dim-gray;
        font-size: 12px;
        line-height: 12px;
      }
      td {
        padding-bottom: 6px;
        vertical-align: top;
      }
      thead > tr > th {
        &:nth-child(1) {
          width: 20%;
        }
        &:nth-child(2) {
          width: 45%;
        }
        &:nth-child(3), &:nth-child(4), &:nth-child(6) {
          width: 10%;
        }
        &:nth-child(5) {
          width: 5%;
        }
      }
      tfoot {
        background: none;
      }
    }
  }
  @media print {
    a[href]::after {
      content: "";
    }
  }
}
