// Buttons
//
// sg-wrapper:
// <div class=""><sg-wrapper-content/></div>
//
// Styleguide 2

// Base Button
//
// markup:
// <button>This is a button</button>
//
// :hover    - Underlined with pointer cursor
// :focus    - Underlined with pointer cursor
// :active   - No shadow
//
// Styleguide 2.1
button {
  box-shadow: none;
  font-family: $body-font-family;
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
  &:active {
    box-shadow: none;
  }
}

// Button Class
//
// markup:
// <button class="button">This is a button</button>
//
// Styleguide 2.2
.button {
  background-color: $cc-color-spray;
  &.medium {
    font-size: 13px;
    font-weight: normal;
    padding: 7px 12px;
  }
  &.button.small {
    font-size: 13px;
    padding: 4px 6px;
  }
  &.tiny {
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

// CalCentral Button
//
// Colored grey by default
//
// markup:
// <button class="cc-button">Learn More</button>
// <button class="cc-button" disabled>This button is Disabled</button>
//
// Styleguide 2.3
.cc-button {
  background: linear-gradient($cc-color-white, $cc-color-whisper), $cc-color-white;
  border: 1px solid $cc-color-very-light-grey;
  border-radius: 5px;
  color: $cc-color-night-rider;
  cursor: pointer;
  display: inline;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 6px 10px;
  &:focus, &:hover {
    background: linear-gradient($cc-color-white, $cc-color-very-light-grey), $cc-color-very-light-grey;
    color: $cc-color-night-rider;
    text-decoration: none;
  }
}
.cc-button[disabled] {
  background: $cc-color-white-smoke !important;
  border: 1px solid $cc-color-very-light-grey !important;
  color: $cc-color-very-light-grey !important;
  cursor: auto !important;
  opacity: 1 !important;
  &:focus, &:hover {
    background: $cc-color-white-smoke !important;
    color: $cc-color-very-light-grey !important;
  }
}

// Button Colors
//
// Styleguide 2.4

// Blue Button
//
// Used with primary action buttons
// Use in conjunction with `cc-button` style
//
// markup:
// <a href="#" class="cc-button cc-button-blue">Learn More</a>
// <a href="#" class="cc-button cc-button-blue" disabled>Learn More - Disabled</a>
//
// Styleguide 2.4.1
.cc-button-blue {
  background: $cc-color-curious-blue;
  border: 1px solid transparent;
  color: $cc-color-white;
  &:focus, &:hover {
    background: $cc-color-lochmara;
    color: $cc-color-white;
  }
  &.cc-button-large {
    background: linear-gradient($cc-color-curious-blue, $cc-color-lochmara), $cc-color-lochmara;
    &:focus, &:hover {
      background: linear-gradient($cc-color-curious-blue, $cc-color-blue-lagoon);
    }
  }
}
.cc-button-blue[disabled] {
  background: $cc-color-bali-hai !important;
  &:focus, &:hover {
    background: $cc-color-bali-hai !important;
  }
}

// Button Sizes
//
// Styleguide 2.5

// Medium Button
//
// markup:
// <button class="cc-button cc-button-blue cc-button-medium">View</button>
//
// Styleguide 2.5.1
.cc-button-medium {
  font-size: 11px;
  font-weight: normal;
  padding: 8px 14px;
}

// Large Button
//
// markup:
// <button class="cc-button cc-button-blue cc-button-large">Sign In</button>
//
// Styleguide 2.5.2
.cc-button-large {
  font-size: 16px;
  font-weight: normal;
  padding: 8px 10px;
}

// Button Modifiers
//
// Styleguide 2.6

// Button Plus Icon
//
// markup:
// <i class="fa fa-plus cc-button-plus-icon"></i>
//
// Styleguide 2.6.1
.cc-button-plus-icon {
  color: $cc-color-salem;
}

// Button Links
//
// Styleguide 2.7

// Button Link
//
// Used to style a button as a link. Recommended for Javascript actions
// that do not result in a new page loading.
//
// markup:
// <button class="cc-button-link">Show more</button>
//
// Styleguide 2.7.1
.cc-button-link {
  padding: 0;
  &, &:hover, &:focus {
    background-color: transparent;
    border: 0;
    color: $primary-color;
    font-size: 13px;
    font-weight: normal;
  }
  &:hover i, &:focus i {
    text-decoration: underline;
  }
  &:disabled {
    background-color: inherit;
    color: $cc-color-nobel;
    pointer-events: none;
  }
}

// Transparent Button
//
// markup:
// <button class="cc-button-transparent">Learn More</button>
//
// Styleguide 2.7.2
.cc-button-transparent {
  background: transparent;
  border: 0;
  color: $body-font-color !important;
  padding: 0;
  &:focus, &:hover {
    background: transparent;
    i {
      color: $cc-color-nobel !important;
    }
  }
}

// Selected Button
//
// markup:
// <a class="cc-button cc-button-selected"><i class="fa fa-user"></i> Selected</a>
// <a class="cc-button"><i class="fa fa-user"></i> Not Selected</a>
//
// Styleguide 2.8
.cc-button-selected {
  background: linear-gradient($cc-color-very-light-grey, $cc-color-nobel), $cc-color-nobel;
  color: $cc-color-white;
  z-index: 1;
  &:focus, &:hover {
    background: linear-gradient($cc-color-very-light-grey, $cc-color-nobel), $cc-color-nobel;
    color: $cc-color-white;
  }
  i {
    color: $cc-color-white;
  }
}

// Button Group
//
// markup:
// <ul class="cc-button-group">
//   <li><a class="cc-button">Button 1</a></li>
//   <li><a class="cc-button">Button 2</a></li>
//   <li><a class="cc-button">Button 3</a></li>
// </ul>
//
// Styleguide 2.9
.cc-button-group {
  li {
    float: left;
    line-height: 1;
    margin: 0 0 0 -1px;
    &:first-child {
      margin: 0;
      .cc-button {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
    }
    &:last-child {
      .cc-button {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
  .cc-button {
    border-radius: 0;
    width: 100%;
  }
  .cc-button-rounded {
    border-radius: 5px;
  }
}

// styleguide:ignore:start
.cc-button-star {
  background: transparent;
  font-size: 10px;
  padding: 0;
  &:active {
    background: transparent;
    .cc-button-star-icon-outer {
      color: $cc-color-black;
    }
  }
  &:focus {
    background: transparent;
    .cc-button-star-icon-outer {
      color: $cc-color-black;
    }
  }
  &:hover {
    background: transparent;
    .cc-button-star-icon-outer {
      color: $cc-color-black;
    }
  }
}

.cc-button-star-icon {
  color: $cc-color-white;
  font-size: 20px;
  &.cc-button-star-saved {
    color: $cc-color-yellow;
  }
}

.cc-button-star-icon-outer {
  color: $cc-color-dim-gray;
  &:hover {
    color: $cc-color-black;
  }
  &.cc-button-star-saved {
    color: $cc-color-dim-gray;
  }
}

.cc-even-1 {
  li {
    width: 100%;
  }
}

.cc-even-2 {
  li {
    width: 50%;
  }
}

.cc-even-3 {
  li {
    width: 33.33333%;
  }
}

.cc-even-4 {
  li {
    width: 25%;
  }
}

// styleguide:ignore:end
