.cc-undergrad-degree-progress-card {

  .cc-degree-progress-info-container {
    background-color: $color-gallery;
    padding: 10px;
  }

  // TODO: Replace this and COVIDEnrollmentNotice with all-purpose notice/alert component - SISRP-52662
  .cc-degree-progress-info-message {
    background-image: url('/assets/images/exclamation-circle-solid.svg');
    background-position-y: 4px;
    background-repeat: no-repeat;
    background-size: 14px 12px;

    padding-left: 24px;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .cc-degree-progress-section {
    margin-bottom: 10px;
  }

  .cc-degree-progress-report-date {
    color: $color-dove-gray;
    font-size: 13px;
  }

  .cc-degree-progress-footer {
    margin: 15px 0 0;
  }
}

.cc-degree-progress-card ul.cc-graduate-milestones > li {
  margin-bottom: 15px;

  .cc-graduate-milestone {
    margin: 5px 20px 0 0;

    .cc-graduate-milestone-title {
      position: relative;
      i {
        left: 0;
        margin: 2px 0 0;
        position: absolute;
      }
      h4 {
        display: inline;
        margin: 0 0 0 20px;
      }
    }
    .cc-milestone-detail {
      margin-left: 20px;

      ul.cc-milestone-attempts {
        color: $color-dusty-gray;
        margin-left: 0;

        li:first-child {
          color: $body-font-color;
        }
      }
    }
  }
  .cc-degree-progress-graduate-links-section {
    border-top: 1px solid $color-gallery;
    margin-top: 15px;
    padding-top: 10px;
  }
}
