.cc-degree-progress-card {
  ul {
    li > div {
      margin: 0 20px;

      h4 {
        margin-bottom: 0;
      }
    }
    &.cc-milestone-attempts {
      color: $cc-color-lighter-medium-grey;

      :first-child {
        color: $body-font-color;
      }
    }
  }
  .cc-degree-progress-graduate-checkmark {
    margin-right: 8px;
    width: 10px;
  }
  .cc-degree-progress-graduate-links-section {
    border-top: 1px solid $cc-color-widget-background;
    margin-top: 15px;
    padding-top: 10px;
  }
}
