.cc-undergrad-degree-progress-card {
  .cc-degree-progress-report-date {
    color: $cc-color-nobel;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .cc-degree-progress-footer {
    margin: 15px 0 0;
  }
}

.cc-degree-progress-card ul.cc-graduate-milestones>li {
  margin-bottom: 15px;

  .cc-graduate-milestone {
    margin: 5px 20px 0 0;

    .cc-graduate-milestone-title {
      position: relative;
      i {
        left: 0;
        margin: 2px 0 0;
        position: absolute;
      }
      h4 {
        display: inline;
        margin: 0 0 0 20px;
      }
    }
    .cc-milestone-detail {
      margin-left: 20px;

      ul.cc-milestone-attempts {
        color: $cc-color-nobel;
        margin-left: 0;

        li:first-child {
          color: $body-font-color;
        }
      }
    }
  }
  .cc-degree-progress-graduate-links-section {
    border-top: 1px solid $cc-color-whisper;
    margin-top: 15px;
    padding-top: 10px;
  }
}
