.cc-degrees-conferred {
  .cc-degrees-conferred-container {
    position: relative;
    .cc-degrees-conferred-data {
      padding-left: 20px;
    }
    .cc-degrees-conferred-icon {
      position: absolute;
      top: 0;
    }
  }
}
