.cc-enrollment-card {
  .cc-enrollment-card-text-tabs-container {
    font-size: 14px;
    padding: 15px 15px 0 25px;
    .cc-enrollment-card-text-tabs-item {
      color: $cc-color-curious-blue;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
    .cc-enrollment-card-text-tabs-active {
      color: $cc-color-night-rider;
      font-weight: bold;
    }
  }

  .cc-enrollment-card-notifications {
    margin: 0 10px;
  }
  .cc-enrollment-card-enrolled-links {
    margin: 0 0 10px;
    > div:not(:last-child) {
      padding-right: 5px;
      &::after {
        content: "|";
      }
    }
  }
  .cc-enrollment-card-head {
    margin: 0 10px;
    padding: 0 10px;
  }
  .cc-enrollment-card-notifications-paragraph {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .cc-enrollment-card-header-title {
    font-size: 14px;
  }
  .cc-enrollment-card-date {
    padding-right: 10px;
  }
  .cc-enrollment-card-headersub-title {
    font-size: 13px;
  }
  .cc-enrollment-card-icon {
    padding-right: 5px;
  }
  .cc-enrollment-card-margin-bottom {
    margin-bottom: 10px;
  }
  .cc-enrollment-card-margin-top {
    margin-top: 10px;
  }
  .cc-enrollment-card-section {
    padding: 5px 10px;
  }
  .cc-enrollment-card-section-content {
    margin: 10px 0;
  }
}
