.cc-exam-results-page {
  table {
    padding-bottom: 8px;
    td, th {
      border-bottom: 1px solid $cc-color-whisper;
      padding: 8px;
    }
    th {
      &:nth-child(1), &:nth-child(3) {
        width: 10%;
      }
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        min-width: 50px;
      }
      &:nth-child(4) {
        min-width: 40px;
        width: 15%;
      }
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
