.cc-widget-finaid-summary-label {
  display: block;
  width: 85px;
}
.cc-widget-finaid-summary-select-year-container {
  width: 100px;
}
.cc-widget-finaid-summary-available-semesters {
  margin-left: 75px;
}
.cc-widget-finaid-summary-indent {
  margin-left: 10px;
}
.cc-widget-finaid-summary-message-title {
  display: block;
  margin-bottom: 5px;
}
.cc-widget-finaid-summary-message-text {
  margin-bottom: 10px;
  white-space: pre-line;
}
.cc-widget-finaid-summary-netcost-summary {
  background-color: $cc-color-whisper;
  border: 1px solid $cc-color-whisper;
  margin: 20px 0;
  padding: 5px 10px;

  hr {
    border-bottom: 1px solid $cc-color-whisper;
  }
}
.cc-widget-finaid-summary-funding-offered {
  .cc-padded {
    padding: 0 20px 0 0;
  }
  .cc-text-bold {
    font-size: 14px;
  }
  .cc-widget-list {
    padding: 0;

    .cc-widget-list-hover {
      padding: 5px 0 0;

      &:not(tr):not(.cc-widget-list-hover-notriangle) {
        &::before {
          top: 9px;
        }
      }
    }
    .cc-widget-list-hover-opened:not(tr):not(.cc-widget-list-hover-notriangle) {
      &::before {
        top: 11px;
      }
    }
  }
}

