.cc-widget-finaid-summary {
  .cc-widget-finaid-summary-title-item {
    width: 100%;
  }

  .cc-widget-finaid-summary-label {
    display: block;
    width: 85px;
  }
  .cc-widget-finaid-summary-select-year-container {
    width: 104px;
  }
  .cc-widget-finaid-summary-available-semesters {
    margin-left: 75px;
  }
  .cc-widget-finaid-summary-indent {
    margin-left: 10px;
  }
  .cc-widget-finaid-summary-multiple-aid-years {
    margin-bottom: 8px;
  }
  .cc-widget-finaid-summary-netcost-summary {
    background-color: $cc-color-whisper;
    border: 1px solid $cc-color-whisper;
    margin: 20px 0 0;
    padding: 5px 10px;

    table {
      tr th, tr td {
        color: $body-font-color;
        font-weight: 400;
      }
      tr td {
        width: 72px;
      }
    }
  }
  .cc-widget-finaid-summary-value-container {
    width: 72px;
  }

  .cc-widget-finaid-summary-funding-offered {
    margin: 20px 0 0;
    padding: 0 0 0 10px;
    table th td, table tr td {
      font-size: 12px;
      padding-right: 24px;
    }
    .cc-padded {
      padding: 0 6px 0 0;
    }
    .cc-text-bold {
      font-size: 14px;
    }
  }
  i.fa-file-text {
    float: left;
    padding: 2px 4px 0 0;
  }
}
