.junction-header-text {
  color: $bc-color-gold;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6;
  margin: 5px 0 5px 10px;
  padding: 6px 9px 2px;
}
.junction-header-links {
  color: $cc-color-whisper;
  float: right;
  padding: 4px 4px 0;
  text-align: right;
  width: 30%;
  ul {
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
    > li {
      margin: 0;
      padding: 0;
      &.active a, a:hover, a:focus {
        background: $cc-color-air-force-blue;
        border-radius: 5px;
        color: $cc-color-white;
      }
      &.active a {
        font-weight: bold;
      }
      > a {
        color: $cc-color-whisper;
        display: block;
        float: right;
        margin: 5px 0 5px 10px;
        padding: 2px 5px;
        position: relative;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
      i {
        padding-right: 5px;
      }
    }
  }
}
