.cc-loan-history-summary {
  .cc-summary-amount {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .cc-summary-header {
    margin-bottom: 2px;
  }
  .cc-summary-link {
    display: block;
    margin-bottom: 2px;
  }
}
