.cc-svg-calcentral-logo-gold {
  fill: $color-buttercup;
}
.cc-svg-calcentral-logo-white {
  fill: $color-white;
}

@media print {
  .cc-svg-calcentral-logo-gold, .cc-svg-calcentral-logo-white {
    fill: $color-black;
  }
}
