.cc-widget-profile {
  .cc-degrees-conferred {
    .cc-degrees-conferred-title {
      margin: 0;
      width: 92px;
      h4 {
        color: $cc-color-dim-gray;
      }
    }
  }
  .cc-widget-profile-gpa {
    .cc-widget-profile-gpa-list {
      margin: 0;
    }
    .cc-widget-profile-gpa-career {
      display: inline-block;
      padding: 0;
      text-align: left;
      width: 35%;
    }
    .cc-widget-profile-gpa-cumulative {
      display: inline-block;
      width: 15%;
    }
    .cc-widget-profile-gpa-hide-button-block {
      display: block;
      margin-top: 4px;
    }
    .cc-widget-profile-gpa-hide-button-inline {
      display: inline-block;
      margin-left: 4%;
    }
  }
  .cc-widget-profile-message-text {
    line-height: 1.6;
    margin-bottom: 0;
  }
  .cc-widget-profile-picture {
    padding: 0 10px 10px 0;
  }
  .cc-widget-profile-content {
    margin-left: 92px;
    padding-bottom: 10px;
  }
  .cc-widget-profile-footnote {
    font-size: 12px;
    font-style: italic;
  }
  .cc-widget-profile-section-block {
    margin: 0 0 5px;
  }
  .cc-widget-profile-table {
    th {
      width: 92px;
    }
  }
  .cc-widget-profile-indent {
    margin-left: 10px;
  }
  .cc-widget-profile-content-fullname {
    font-size: 16px;
  }
  .cc-widget-profile-picture-not-available {
    background: $cc-color-very-light-grey;
    display: block;
    font-size: 80px;
    height: 96px;
    padding-top: 10px;
    text-align: center;
    width: 72px;
    i {
      color: $cc-color-white;
    }
  }
  .cc-widget-profile-section {
    margin: 0 !important;

    table > tbody > tr > th {
      width: 92px;
    }
  }
}
