// _profile_image.scss
.cc-widget-profile-img {
  border: 1px solid $cc-color-nobel;
  height: 96px;
  width: 72px;
}

.cc-widget-delegate-student-img {
  background-image: url('../images/svg/photo_unavailable_bear_72x96.svg');
  height: 96px;
  width: 72px;
}
