// Canvas Application Overrides
.bc-canvas-application {
  .cc-page-roster .cc-roster-search .cc-right {
    margin-top: 8px;
  }
  .cc-page-roster .cc-inline-select {
    height: auto;
  }
  .cc-page-roster .cc-page-roster-photos-list {
    li {
      height: auto;
    }
  }
  .cc-page-roster div.cc-roster-view-mode {
    display: none;
  }
  .cc-page-roster div.cc-roster-search-enroll-status {
    display: none;
  }
}

.cc-roster-input {
  background: $cc-color-white;
  border: 1px solid $cc-color-button-border;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px 10px 5px 8px;
  width: 200px;
}

.cc-page-roster {
  background: $cc-color-white;
  overflow: hidden;
  padding: 20px;

  .cc-roster-search {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $cc-color-button-border;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 7px 0 5px;

    .cc-button-spaced {
      margin: 0 5px;
    }

    .cc-inline-select {
      height: 26px;
      width: 200px;
    }

    .cc-roster-search-option {
      padding-right: 10px;
      .cc-button-group {
        margin-top: 2px;
        li a {
          line-height: 2;
          padding: 6px 20px;
        }
      }
    }

    .cc-roster-search-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .cc-roster-search-horizontal-radio label {
        display: inline;
      }
    }
  }

  .cc-page-roster-image-unavailable {
    background-image: url('../images/svg/photo_unavailable_official_72x96.svg');
    height: 96px;
    margin: 0 auto;
    max-width: 72px;
  }

  .cc-page-roster-photos-list {
    li {
      display: block;
      float: left;
      height: 240px;
      padding: 5px;
      text-align: center;
      width: 173px;

      img {
        height: 96px;
        max-width: 72px;
      }
    }
  }

  .cc-page-roster-student-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cc-page-roster-table-list-description {
    margin-bottom: 10px;
  }

  @media print {
    overflow: visible;
    padding: 0;

    a[href]::after {
      content: none;
    }

    .cc-academics-class-enrollment-table {
      table tr th {
        padding: 2px;
        vertical-align: top;
      }
      table tr td {
        font-size: 10px;
        line-height: normal;
        padding: 2px;
      }
    }

    .cc-page-roster-image-unavailable::before {
      content: url('../images/svg/photo_unavailable_official_72x96.svg');
    }

    .cc-page-roster-student-name {
      display: block;
      overflow: visible;
      text-overflow: string;
      white-space: normal;
    }

    .cc-page-roster-photos-list {
      li {
        height: auto;
        margin-top: 15px;
        page-break-inside: avoid;
      }
    }

    .cc-roster-header {
      display: block;
    }

    .cc-roster-search {
      display: none;
    }
  }
}
.cc-button-selected-roster {
  z-index: 0;
}
