.cc-sidebar {
  background: $cc-color-jellybean;
  margin-top: 1px;
  padding-left: 0;
  padding-right: 0;
  h3 {
    border-top: 1px solid $cc-color-spindle;
    color: $cc-color-spindle;
    font-size: 16px;
    margin: 0;
    padding: 10px 15px 0;
  }
  ul {
    margin: 10px 0;
  }
  li {
    &.active a, a:hover, a:focus {
      background: $cc-color-air-force-blue;
      border-radius: 5px;
      color: $cc-color-white;
    }
    &.active a {
      font-weight: bold;
    }
    > a {
      color: $cc-color-whisper;
      display: block;
      margin: 1px 10px 0;
      padding: 2px 5px;
      position: relative;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.cc-sidebar-content {
  padding: 15px 25px;
  h1 {
    line-height: .9em;
    margin-left: 0;
    margin-top: 0;
  }
}
.cc-sidebar, .cc-sidebar-content {
  @include cc-column-sameheight;
}
@media #{$small-only} {
  .cc-sidebar-content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    h1 {
      margin: 10px;
    }
  }
}
