.cc-student-success-card {
  .cc-student-success-subtitle {
    line-height: 8px;
    margin: 15px 15px 12px;
    span {
      display: inline;
      font-size: 15px;
      font-weight: normal;
    }
  }
  .cc-student-success-chart-container {
    display: inline-block;
    height: 100px;
    width: 100%;
  }
  .cc-student-success-sub-gpa {
    color: $cc-color-harley-davidson-orange;
  }
  .cc-student-success-chart-blue {
    color: $cc-color-bahama-blue;
  }
  .cc-student-success-subsection {
    margin: 0 15px 12px;
  }
}
