// Tasks and Assigments widget
.cc-widget-tasks {
  .cc-button-group {
    margin-top: 10px;
    .cc-button {
      text-transform: capitalize;
    }
  }
  .cc-widget-list-hover {
    padding: 10px;
  }
  .cc-alert-text {
    margin-bottom: 5px;
  }
  .cc-widget-tasks-addtask-calendar-icon {
    margin: 2px;
  }
  .cc-widget-text {
    margin-bottom: 0;
  }
  .cc-widget-tasks-no-padding-bottom {
    padding-bottom: 0;
  }
  .cc-widget-tasks-bottom-margin {
    margin-bottom: 16px;
  }
  .cc-widget-tasks-button {
    display: block;
    text-align: center;
  }
  .cc-widget-tasks-button-top-margin {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  // alistapart.com/article/holygrail#section3
  .cc-widget-tasks-col {
    float: left;
    position: relative;
  }
  .cc-widget-tasks-col-left {
    margin-left: -100%;
    width: 30px;
  }
  .cc-widget-tasks-col-title {
    padding: 0 85px 0 30px;
    width: 100%;
  }
  .cc-widget-tasks-col-date {
    margin-right: -100%;
    padding-right: 10px;
    right: 85px;
    text-align: right;
    width: 85px;
  }
  .cc-widget-tasks-col-title-header {
    padding: 0 150px 0 30px;
    width: 100%;
  }
  .cc-widget-tasks-col-date-header {
    margin-right: -100%;
    padding-right: 10px;
    right: 150px;
    text-align: right;
    width: 140px;
  }
  .cc-widget-tasks-date-input .ng-invalid {
    margin-bottom: 2px;
  }
  .cc-widget-tasks-form {
    line-height: 1;
    margin-top: 5px;
  }
  .cc-widget-tasks-item-no-action-needed {
    color: $cc-color-nobel;
  }
  .cc-widget-tasks-item-completed-date {
    font-size: 11px;
  }
  .cc-widget-tasks-list {
    input[type="checkbox"] {
      margin-left: 2px;
    }

    .cc-widget-list-selected {
      .cc-widget-tasks-col-title {
        margin-bottom: 10px;
      }
    }
    .cc-widget-tasks-form {
      border: 0;
      margin: 0;
    }
    .cc-widget-tasks-date-sub {
      font-size: 11px;
    }
    .cc-widget-tasks-title-sub {
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  .cc-widget-tasks-list-header {
    color: $cc-color-nobel;
    font-size: 12px;
    font-weight: bold;
    margin-left: 4px;
    padding: 10px;
  }
  .cc-widget-tasks-list-header-special {
    color: $cc-color-nobel;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    .cc-widget-tasks-list-header-special-title {
      font-size: 16px;
      padding-left: 10px;
    }
    .cc-widget-tasks-list-header-special-date {
      padding-right: 30px;
    }
    .cc-widget-tasks-list-header-overdue-title {
      color: $cc-color-harley-davidson-orange;
    }
  }
  .cc-widget-tasks-list-subsection-header {
    color: $cc-color-nobel;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 38px 10px;
  }
  .cc-widget-tasks-list-wrapper {
    padding-bottom: 15px;
  }
  .cc-widget-tasks-more {
    padding: 5px 10px 0 30px;
    div {
      margin-bottom: 10px;
    }
  }
  .cc-widget-tasks-no-items {
    p {
      margin-bottom: 0;
      padding: 0 20px 5px;
    }
  }
  .cc-widget-tasks-no-items-first {
    margin-bottom: 12px;
    margin-top: 12px;
    padding-top: 12px;
  }
  .cc-widget-task-section-being-processed-count {
    color: $cc-color-nobel;
    padding: 3px;
  }
  .cc-widget-task-section-due-within-week-count {
    color: $cc-color-dark-orange;
    padding: 3px;
  }
  .cc-widget-task-section-incomplete-count {
    background: $cc-color-azure;
    color: $cc-color-chathams-blue;
    padding: 3px;
  }
  .cc-widget-tasks-section-bottom-margin {
    margin-bottom: 10px;
  }
  .cc-widget-tasks-section-header-completed {
    font-size: 15px;
    padding: 25px 0 10px 10px;
  }
  .cc-widget-tasks-section-header-incomplete {
    padding: 10px 15px;
  }
  .cc-widget-tasks-section-label {
    clear: both;
    color: $cc-color-dim-gray;
    font-size: 14px;
    margin: 10px 30px 0 10px;
    overflow: hidden;
  }
  .cc-widget-tasks-section-label-count {
    background: $cc-color-very-light-grey;
    color: $cc-color-white;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
  }
  .cc-widget-tasks-section-label-red {
    color: $cc-color-harley-davidson-orange;
  }
  .cc-widget-tasks-section-wrapper {
    border-bottom: 1px solid $cc-color-very-light-grey;
  }
  .cc-widget-tasks-section-wrapper-no-bottom-border {
    border-bottom: 0;
  }
  .cc-widget-tasks-section-wrapper-top-border {
    border-top: 1px solid $cc-color-very-light-grey;
  }
  .cc-widget-tasks-subsection-label {
    clear: both;
    color: $cc-color-dim-gray;
    font-size: 14px;
    margin: 22px 30px 16px 10px;
    overflow: hidden;
  }
  .cc-widget-tasks-taskslider {
    margin: 10px 0;
  }
  .cc-widget-tasks-timestamp {
    font-size: 11px;
    font-weight: bold;
    margin-top: -2px;
  }
  .cc-widget-tasks-upload {
    margin-top: 15px;
  }
  @media #{$small-only} {
    .cc-widget-tasks-container {
      padding: 0 10px 10px;
    }
  }
}
