// Text
.cc-text-big {
  font-size: 16px;
}
.cc-text-bold {
  font-weight: bold;
}
.cc-text-center {
  text-align: center;
}
.cc-text-green {
  color: $cc-color-salem;
}
.cc-text-green-plus {
  color: $cc-color-salem;
}
.cc-text-line-height {
  line-height: 1.6;
}
.cc-text-light {
  color: $cc-color-nobel;
}
.cc-text-pre-line {
  white-space: pre-line;
}
.cc-text-red {
  color: $cc-color-harley-davidson-orange;
}
.cc-text-right {
  text-align: right;
}
.cc-text-small {
  font-size: 12px;
}
.cc-text-uppercase {
  text-transform: uppercase;
}
