.cc-transfer-credit {
  table {
    .cc-requirements-designation {
      font-size: 12px;
      font-weight: bold;
      line-height: 12px;
      padding-left: 8px;
    }
    .cc-transfer-credit-section-header td {
      padding-bottom: 6px;
    }
    .cc-widget-table-hover, .cc-widget-table-hover-opened {
      .cc-toggle-triangle::after {
        top: 14px;
      }
    }
    tr:first-child td {
      padding-top: 10px;
    }
    tr:last-child td {
      padding-bottom: 10px;
    }
    td:first-child {
      width: 50%;
    }
    td:last-child, th:last-child {
      padding-right: 24px;
    }
  }
}
