@import 'src/react/stylesheets/colors';

// Colors
//
// Colors used throughout the entire calcentral portal.
// Hex to color naming obtained from http://chir.ag/projects/name-that-color
//
// sg-wrapper:
// <div style="border: #000 solid 2px; color: #000;"><sg-wrapper-content/></div>
//
// Styleguide 1

// Shades of Grey
//
// markup:
// <div style="background: $color-black; color:#fff; padding: 1rem;">&#36;color-black: #000;</div>
// <div style="background: $color-mine-shaft; color:#fff; padding: 1rem;">&#36;color-mine-shaft: #333;</div>
// <div style="background: $color-dove-gray; color:#fff; padding: 1rem;">&#36;color-dove-gray: #666;</div>
// <div style="background: $color-dusty-gray; color:#fff; padding: 1rem;">&#36;color-dusty-gray: #999;</div>
// <div style="background: $color-silver; color:#fff; padding: 1rem;">&#36;color-silver: #ccc;</div>
// <div style="background: $color-gallery; padding: 1rem;">&#36;color-gallery: #eee;</div>
// <div style="background: $color-wild-sand; padding: 1rem;">&#36;color-wild-sand: #f6f6f6;</div>
// <div style="background: $color-white; padding: 1rem;">&#36;color-white: #fff;</div>
//
// Styleguide 1.1
$color-black: #000;
$color-mine-shaft: #333;
$color-dove-gray: #666;
$color-dusty-gray: #999;
$color-silver: #ccc;
$color-gallery: #eee;
$color-wild-sand: #f6f6f6;
$color-white: #fff;

// Transparent Greys
//
// markup:
// <div style="background: $color-black-transparent; padding: 1rem;">&#36;color-black-transparent: rgba(0, 0, 0, .2);</div>
// <div style="background: $color-ironside-grey-transparent; padding: 1rem;">&#36;color-ironside-grey-transparent: rgba(113, 112, 107, .1);</div>
// <div style="background: $color-white-translucent; padding: 1rem;">&#36;color-white-translucent: rgba(255, 255, 255, .5);</div>
// <div style="background: $color-white-transparent; padding: 1rem;">&#36;color-white-transparent: rgba(255, 255, 255, 0);</div>
//
// Styleguide 1.2
$color-black-transparent: rgba(0, 0, 0, 0.2);
$color-ironside-grey-transparent: rgba(113, 112, 107, 0.1);
$color-white-translucent: rgba(255, 255, 255, 0.5);
$color-white-transparent: rgba(255, 255, 255, 0);

// Blue / Grey Shades
//
// markup:
// <div style="background: $color-san-juan; color: #fff; padding: 1rem;">&#36;color-san-juan: #2a4f6a;</div>
// <div style="background: $color-bismark; color: #fff; padding: 1rem;">&#36;color-bismark: #4a6a8a;</div>
// <div style="background: $color-wedgewood; color: #fff; padding: 1rem;">&#36;color-wedgewood: #427694;</div>
// <div style="background: $color-hoki; color: #fff; padding: 1rem;">&#36;color-hoki: #61889e;</div>
// <div style="background: $color-gumbo; color: #fff; padding: 1rem;">&#36;color-gumbo: #8098a5;</div>
// <div style="background: $color-casper; color: #000; padding: 1rem;">&#36;color-casper: #afc5d2;</div>
// <div style="background: $color-dew; color: #000; padding: 1rem;">&#36;color-dew: #efffff;</div>
// <div style="background: $color-mystic; color: #000; padding: 1rem;">&#36;color-mystic: #e6ebef;</div>
// <div style="background: $color-pale-sky; color: #fff; padding: 1rem;">&#36;color-pale-sky: #6e7a83;</div>
// <div style="background: $color-mako; color: #fff; padding: 1rem;">&#36;color-mako: #474f56;</div>
//
// Styleguide 1.3
$color-san-juan: #2a4f6a;
$color-bismark: #4a6a8a;
$color-wedgewood: #427694;
$color-hoki: #61889e;
$color-gumbo: #8098a5;
$color-casper: #afc5d2;
$color-dew: #efffff;
$color-mystic: #e6ebef;
$color-pale-sky: #6e7a83;
$color-mako: #474f56;

// Blue Shades
//
// markup:
// <div style="background: $color-midnight-blue; color: #fff; padding: 1rem;">&#36;color-midnight-blue: #003262;</div>
// <div style="background: $color-prussian-blue; color: #fff; padding: 1rem;">&#36;color-prussian-blue: #002e5b;</div>
// <div style="background: $color-venice-blue; color: #fff; padding: 1rem;">&#36;color-venice-blue: #065a7d;</div>
// <div style="background: $color-orient; color: #fff; padding: 1rem;">&#36;color-orient: #025a86;</div>
// <div style="background: $color-calypso; color: #fff; padding: 1rem;">&#36;color-calypso: #2b6281;</div>
// <div style="background: $color-matisse; color: #fff; padding: 1rem;">&#36;color-matisse: #1f7099;</div>
// <div style="background: $color-denim; color: #fff; padding: 1rem;">&#36;color-denim: #117CBE;</div>
// <div style="background: $color-steel-blue; color: #fff; padding: 1rem;">&#36;color-steel-blue: #4d88c4;</div>
// <div style="background: $color-aquamarine-blue; color: #000; padding: 1rem;">&#36;color-aquamarine-blue: #80c7de;</div>
// <div style="background: $color-regent-st-blue; color: #000; padding: 1rem;">&#36;color-regent-st-blue: #a0d3e8;</div>
// <div style="background: $color-foam; color: #000; padding: 1rem;">&#36;color-foam: #f2f9fe;</div>
//
// Styleguide 1.4
$color-midnight-blue: #003262;
$color-prussian-blue: #002e5b;
$color-venice-blue: #065a7d;
$color-orient: #025a86;
$color-calypso: #2b6281;
$color-matisse: #1f7099;
$color-denim: #117cbe;
$color-steel-blue: #4d88c4;
$color-aquamarine-blue: #80c7de;
$color-regent-st-blue: #a0d3e8;
$color-foam: #f2f9fe;

// Alert Colors
//
// Foreground and background colors (red, yellow, green)
//
// markup:
// <div style="background: $color-guardsman-red; color: #000; padding: 1rem;">&#36;color-guardsman-red: #c10006;</div>
// <div style="background: $color-thunderbird; color: #000; padding: 1rem;">&#36;color-thunderbird: #cf1715;</div>
// <div style="background: $color-cinderella; color: #000; padding: 1rem;">&#36;color-cinderella: #fce3e5;</div>
// <div style="background: $color-bianca; color: #000; padding: 1rem;">&#36;color-bianca: #fcfcf3;</div>
// <div style="background: $color-yellow; color: #000; padding: 1rem;">&#36;color-yellow: #ff0;</div>
// <div style="background: $color-pizazz; color: #000; padding: 1rem;">&#36;color-pizazz: #f79400;</div>
// <div style="background: $color-buttercup; color: #000; padding: 1rem;">&#36;color-buttercup: #f1a91e;</div>
// <div style="background: $color-lemon-ginger; color: #000; padding: 1rem;">&#36;color-lemon-ginger: #a79526;</div>
// <div style="background: $color-spring-rain; color: #000; padding: 1rem;">&#36;color-spring-rain: #b3c8b4;</div>
//
// Styleguide 1.5
$color-guardsman-red: #c10006;
$color-thunderbird: #cf1715;
$color-cinderella: #fce3e5;
$color-bianca: #fcfcf3;
$color-yellow: #ff0;
$color-pizazz: #f79400;
$color-buttercup: #f1a91e;
$color-lemon-ginger: #a79526;
$color-spring-rain: #b3c8b4;
