<div class="cc-widget">
  <div class="cc-widget-title">
    <h2 class="cc-left">Semesters</h2>
    <span class="cc-right cc-widget-title-link" data-ng-if="!isAdvisingStudentLookup && !api.user.profile.delegateActingAsUid">
      <a href="/academics/academic_summary">
        <strong>View Academic Summary</strong>
      </a>
    </span>
  </div>

  <div class="cc-widget-padding cc-flex-space-between-vertical-15">
    <div class="cc-table cc-academics-semester cc-academics-semester-{{semester.timeBucket}}" data-ng-repeat="semester in semesters | limitTo:pastSemestersLimit">
      <div>
        <h3 data-ng-if="!semester.hasWithdrawalData && semester.hasEnrollmentData && semester.slug && !isAdvisingStudentLookup"><a class="cc-left" data-ng-href="/academics/semester/{{semester.slug}}" data-ng-bind="semester.name"></a></h3>
        <h3 class="cc-left" data-ng-if="semester.hasWithdrawalData || !semester.hasEnrollmentData || !semester.slug || isAdvisingStudentLookup" data-ng-bind="semester.name"></h3>
        <h4 class="cc-left" data-ng-if="semester.hasWithdrawalData" data-ng-bind="semester.withdrawalStatus.withcnclTypeDescr"></h4>
        <h4 class="cc-left" data-ng-if="semester.hasWithdrawalData" data-ng-bind="semester.withdrawalStatus.withcnclFromDate"></h4>
        <h4 class="cc-left" data-ng-if="semester.notation" data-ng-bind="semester.notation"></h4>
        <a class="cc-right cc-academics-semester-title-link" data-ng-href="/academics/booklist/{{semester.slug}}" data-ng-if="semester.hasEnrollmentData && semester.slug && semester.timeBucket !== 'past' && !isAdvisingStudentLookup">Book List</a>
        <br>
        <div class="cc-widget-text" data-ng-if="!semester.hasEnrolledClasses && !semester.summaryFromTranscript && !semester.hasWithdrawalData">
          You are currently not enrolled in any classes for
          <span data-ng-bind="semester.name"></span>.
        </div>
        <table data-ng-if="!semester.hasWithdrawalData && (semester.hasEnrolledClasses || semester.summaryFromTranscript)">
          <thead>
            <tr>
              <th width="30%" scope="col">Class</th>
              <th width="50%" scope="col">Title</th>
              <th data-ng-if="!api.user.profile.canViewGrades" width="20%" scope="col" class="cc-table-center">Units</th>
              <th data-ng-if="api.user.profile.canViewGrades" width="10%" scope="col" title="Units" class="cc-table-center">Un.</th>
              <th data-ng-if="api.user.profile.canViewGrades" width="10%" scope="col" title="Grades" class="cc-table-center">Gr.</th>
            </tr>
          </thead>
          <tbody data-ng-if="!semester.summaryFromTranscript" data-ng-repeat="class in semester.classes">
              <tr data-ng-repeat-start="section in class.sections" data-ng-if="section.is_primary_section && !section.waitlisted && !class.transcript">
                <td>
                  <span data-ng-if="class.multiplePrimaries && section.url && !isAdvisingStudentLookup">
                    <a data-ng-href="{{section.url}}">
                      <span data-ng-bind-template="{{class.course_code}} {{section.section_label}}"></span>
                      <span data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})" class="cc-nowrap"></span>
                    </a>
                  </span>

                  <span data-ng-if="class.multiplePrimaries && (!section.url || isAdvisingStudentLookup)">
                    <span data-ng-bind-template="{{class.course_code}} {{section.section_label}}"></span>
                    <span data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})" class="cc-nowrap"></span>
                  </span>

                  <span data-ng-if="!class.multiplePrimaries && class.url && !isAdvisingStudentLookup">
                    <a data-ng-href="{{class.url}}">
                      <span data-ng-bind="class.course_code"></span>
                      <span data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})" class="cc-nowrap"></span>
                    </a>
                  </span>

                  <span data-ng-if="!class.multiplePrimaries && (!class.url || isAdvisingStudentLookup)">
                    <span data-ng-bind="class.course_code"></span>
                    <span data-ng-if="class.session_code" data-ng-bind-template="(Session {{class.session_code}})" class="cc-nowrap"></span>
                  </span>
                </td>
                <td data-ng-bind="class.title"></td>
                <td data-ng-bind="section.units | number:1" class="cc-table-center"></td>
                <td data-ng-if="api.user.profile.canViewGrades && class.midpointGrade" class="cc-table-center">
                  <span data-ng-click="api.widget.toggleShow($event, null, section, 'My Academics - Semesters')" class="cc-non-anchored-link">
                    <i class="fa fa-exclamation-triangle cc-icon-gold"></i> ?
                  </span>
                </td>
                <td data-ng-if="api.user.profile.canViewGrades && !class.midpointGrade" class="cc-table-center">&mdash;</td>
              </tr>
              <tr data-ng-repeat-end data-ng-if="section.is_primary_section && !section.waitlisted && class.midpointGrade && section.show">
                <td></td>
                <td colspan="3">
                  <table>
                    <tr>
                      <td><i class="fa fa-exclamation-triangle cc-icon-gold"></i></td>
                      <td>
                        Your midpoint grade is: <strong><span data-ng-bind="class.midpointGrade"></span></strong><br />
                        Your success is important to us.  Midpoint grades do not appear on transcripts. <br />
                        Please contact your instructor or an advisor as soon as possible. <br />
                        <span data-ng-click="api.widget.toggleShow($event, null, section, 'My Academics - Semesters')" class="cc-non-anchored-link">Hide</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr data-ng-if="class.transcript" data-ng-repeat="transcript in class.transcript">
                <td data-ng-if="class.url && !isAdvisingStudentLookup"><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a>
                <td data-ng-if="!class.url || isAdvisingStudentLookup" data-ng-bind="class.course_code"></td>
                <td data-ng-bind="class.title"></td>
                <td data-ng-bind="transcript.units | number:1" class="cc-table-center"></td>
                <td data-ng-if="api.user.profile.canViewGrades" data-ng-bind="transcript.grade" class="cc-table-center"></td>
              </tr>
          </tbody>
          <tbody data-ng-if="semester.summaryFromTranscript" data-ng-repeat="class in semester.classes">
            <tr data-ng-if="class.transcript" data-ng-repeat="transcript in class.transcript">
              <td data-ng-if="class.url && !isAdvisingStudentLookup"><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a>
              <td data-ng-if="!class.url || isAdvisingStudentLookup" data-ng-bind="class.course_code"></td>
              <td data-ng-bind="class.title"></td>
              <td data-ng-bind="transcript.units | number:1" class="cc-table-center"></td>
              <td data-ng-if="api.user.profile.canViewGrades" data-ng-bind="transcript.grade" class="cc-table-center"></td>
            </tr>
            <tr data-ng-if="!class.transcript && section.is_primary_section" data-ng-repeat="section in class.sections">
              <td data-ng-if="class.url && !isAdvisingStudentLookup"><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a>
              <td data-ng-if="!class.url || isAdvisingStudentLookup" data-ng-bind="class.course_code"></td>
              <td data-ng-bind="class.title"></td>
              <td data-ng-bind="section.units | number:1" class="cc-table-center"></td>
              <td data-ng-if="api.user.profile.canViewGrades" class="cc-table-center">&mdash;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div data-ng-if="pastSemestersCount > 1" data-cc-show-infinite-directive data-cc-show-infinite-limit="pastSemestersLimit"></div>
  </div>
</div>
