<div class="cc-widget">
  <div class="cc-widget-title">
    <h2 class="cc-left"><span data-ng-bind="widgetSemesterName"></span> Classes</h2>
    <a class="cc-academics-classes-booklist-link cc-right" data-ng-href="/academics/booklist/{{selectedSemester.slug}}" data-ng-if="selectedSemester.hasEnrollmentData && selectedSemester.timeBucket !== 'past'">Book List</a>
  </div>
  <div data-ng-if="selectedStudentSemester || ((selectedSemester.timeBucket === 'current') && !selectedTeachingSemester)">
    <div class="cc-academics-subtitle">
      <h3>Enrollments</h3>
    </div>
    <div class="cc-widget-padding">
      <h3 data-ng-if="selectedSemester.timeBucket === 'current'">Current</h3>
      <div class="cc-table">
        <table data-ng-if="enrolledCourses.length">
          <thead>
            <th scope="col" class="cc-table-right-spacing">Course</th>
            <th scope="col">Title</th>
            <th scope="col">Grade Option</th>
            <th class="cc-table-right" scope="col">Units</th>
          </thead>
          <tbody data-ng-repeat="course in enrolledCourses" data-ng-class-even="'cc-academics-even'">
            <tr>
              <td class="cc-table-right-spacing cc-academics-course-number">
                <a data-ng-href="{{course.url}}" data-ng-bind="course.course_code">
                </a>
                <div data-ng-repeat="section in course.sections">
                  <span data-ng-bind="section.section_label"></span>
                </div>
              </td>
              <td data-ng-bind="course.title"></td>
              <td data-ng-bind="course.gradeOption"></td>
              <td class="cc-table-right" data-ng-bind="course.units | number:1"></td>
            </tr>
          </tbody>
        </table>
        <div data-ng-if="!enrolledCourses.length">
          You are not currently enrolled in any courses for <span data-ng-bind="selectedSemester.name"></span>.
        </div>
      </div>
      <div data-ng-if="waitlistedCourses.length">
        <h3>Wait Lists</h3>
        <div class="cc-table">
          <table>
            <thead>
              <th>Course Number &amp; Section</th>
              <th>Title</th>
              <th>Waitlist Position / Class Size</th>
            </thead>
            <tbody data-ng-repeat="course in waitlistedCourses">
              <tr data-ng-repeat="section in course.sections">
                <td>
                  <a data-ng-href="{{course.url}}" data-ng-bind="course.course_code">
                  </a>
                  <span data-ng-bind="section.section_label"></span>
                </td>
                <td data-ng-bind="course.title"></td>
                <td>
                  <div data-ng-if="section.waitlisted && section.waitlistPosition">
                    <strong data-ng-bind="section.waitlistPosition"></strong> on list of class of <strong data-ng-bind="section.enroll_limit"></strong>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div data-ng-if="selectedTeachingSemester && (selectedTeachingSemester.gradingAssistanceLinkMidpoint || selectedTeachingSemester.gradingAssistanceLink || selectedTeachingSemester.gradingAssistanceLinkLaw)">
    <div class="cc-academics-subtitle">
      <h3>Grading</h3>
    </div>
    <div class="cc-academics-course-grading-header cc-widget-padding show-for-medium-up">
      <div class="cc-clearfix" data-ng-if="gradingPeriodMidpointStart || gradingPeriodFinalStart || gradingPeriodStartLaw">
        <h4 class="cc-academics-course-standard-grading-header cc-academics-course-grading-header-period">Standard Grading Entry Periods</h4>
      </div>
      <div class="cc-clearfix" data-ng-if="selectedTeachingSemester.gradingAssistanceLinkMidpoint">
        <span>
          <a data-ng-href="{{selectedTeachingSemester.gradingAssistanceLinkMidpoint}}" title="Assistance with midpoint grading for general classes">
            &#9632; Assistance with Midpoint Grading: General
          </a>
        </span>
        <span data-ng-if="selectedTeachingSemester.gradingPeriodMidpointStart && selectedTeachingSemester.gradingPeriodMidpointEnd" class="cc-academics-course-grading-header-period">
          <span class="cc-text-light">Midpoint Grades</span> Start: <strong><span data-ng-bind="selectedTeachingSemester.gradingPeriodMidpointStart"></span></strong> | Due: <strong><span data-ng-bind="selectedTeachingSemester.gradingPeriodMidpointEnd"></span></strong>
        </span>
      </div>
      <div class="cc-clearfix" data-ng-if="selectedTeachingSemester.gradingAssistanceLink">
        <span>
          <a data-ng-href="{{selectedTeachingSemester.gradingAssistanceLink}}" title="Assistance with grading for general classes">
            &#9632; Assistance with Grading: General
          </a>
        </span>
        <span data-ng-if="selectedTeachingSemester.gradingPeriodFinalStart && selectedTeachingSemester.gradingPeriodFinalEnd" class="cc-academics-course-grading-header-period">
          <span class="cc-text-light">Final Grades</span> Start: <strong><span data-ng-bind="selectedTeachingSemester.gradingPeriodFinalStart"></span></strong> | Due: <strong><span data-ng-bind="selectedTeachingSemester.gradingPeriodFinalEnd"></span></strong>
        </span>
      </div>
      <div class="cc-clearfix" data-ng-if="selectedTeachingSemester.gradingAssistanceLinkLaw">
        <span>
          <a data-ng-href="{{selectedTeachingSemester.gradingAssistanceLinkLaw}}" title="Assistance with grading for Law classes">
            &#9632; Assistance with Grading: Law
          </a>
        </span>
        <span data-ng-if="selectedTeachingSemester.gradingPeriodStartLaw && selectedTeachingSemester.gradingPeriodEndLaw" class="cc-academics-course-grading-header-period">
          <span class="cc-text-light">Final Grades (Law)</span> Start: <strong><span data-ng-bind="selectedTeachingSemester.gradingPeriodStartLaw"></span></strong> | Due: <strong><span data-ng-bind="selectedTeachingSemester.gradingPeriodEndLaw"></span></strong>
        </span>
      </div>
    </div>
    <div class="cc-widget-padding">
      <div class="cc-table">
        <table>
          <thead>
            <th width="15%" scope="col" class="cc-academics-course-number">Course</th>
            <th width="10%" scope="col" class="show-for-medium-up">Class Number</th>
            <th data-ng-attr-width="{{containsMidpointclass ? '35%' : '45%'}}" scope="col">Title</th>
            <th width="10%" scope="col" class="show-for-medium-up cc-academics-course-section">Section</th>
            <th width="10%" scope="col" class="show-for-medium-up cc-academics-course-grading cc-academics-course-grading-centered">Grading Links</th>
            <th data-ng-if="containsMidpointClass" width="10%" scope="col" class="show-for-medium up cc-academics-course-grading cc-academics-course-grading-centered">Midpoint Status</th>
            <th width="10%" scope="col" class="show-for-medium-up cc-academics-course-grading cc-academics-course-grading-centered">Final Status</th>
          </thead>
          <tbody data-ng-if="selectedTeachingSemester.classes.length" data-ng-repeat="course in selectedTeachingSemester.classes">
            <tr data-ng-repeat="section in course.sections">
              <td data-ng-if="section.is_primary_section">
                <div data-ng-repeat="listing in course.listings">
                  <span data-ng-bind="listing.course_code"></span>
                </div>
                <div class="show-for-small-only">
                  <span data-ng-bind="section.section_label"></span>
                </div>
              </td>
              <td data-ng-if="section.is_primary_section" class="show-for-medium-up">
                <div data-ng-bind="section.ccn"></div>
              </td>
              <td data-ng-if="section.is_primary_section" class="cc-academics-course-title" data-ng-bind="course.title"></td>
              <td data-ng-if="section.is_primary_section" class="show-for-medium-up">
                <div data-ng-bind="section.section_label"></div>
              </td>
              <td data-ng-if="section.is_primary_section && section.gradingLink.url" class="show-for-medium-up cc-academics-course-grading-centered">
                <a data-cc-campus-solutions-link-directive="section.gradingLink"
                  data-cc-campus-solutions-link-directive-cc-page-name="currentPage.name"
                  data-cc-campus-solutions-link-directive-cc-page-url="currentPage.url"
                  data-ng-disabled="!section.gradingLink.url"
                >Grades</a>
              </td>
              <td data-ng-if="section.is_primary_section && !section.gradingLink.url" class="show-for-medium-up cc-academics-course-grading-centered">
                &mdash;
              </td>
              <td data-ng-if="section.is_primary_section && containsMidpointClass" class="show-for-medium-up cc-academics-course-grading-centered" data-ng-switch="section.ccMidpointGradingStatus">
                <span data-ng-switch-when="periodNotStarted"><i class="fa fa-ban" aria-hidden="true"></i><p class="cc-visuallyhidden">Grade entry period not open</p></span>
                <span data-ng-switch-when="periodStarted"><i class="fa fa-file-o" aria-hidden="true"></i><p class="cc-visuallyhidden">Grade entry period open; grades not approved or posted</p></span>
                <span data-ng-switch-when="gradesPosted"><i class="fa fa-check-circle cc-icon-green" aria-hidden="true"></i><p class="cc-visuallyhidden">Grades posted. Note: All classes, with or without midpoint grades, will post</p></span>
                <span data-ng-switch-default><i class="fa fa-circle" aria-hidden="true"></i><p class="cc-visuallyhidden">Law class (no midpoint grades) OR you do not have grading permissions</p></span>
              </td>
              <td data-ng-if="section.is_primary_section" class="show-for-medium-up cc-academics-course-grading-centered" data-ng-switch="section.ccGradingStatus">
                <span data-ng-switch-when="periodNotStarted"><i class="fa fa-ban" aria-hidden="true"></i><p class="cc-visuallyhidden">Grade entry period not open</p></span>
                <span data-ng-switch-when="periodStarted"><i class="fa fa-file-o" aria-hidden="true"></i><p class="cc-visuallyhidden">Grade entry period open; grades not approved or posted</p></span>
                <span data-ng-switch-when="gradesApproved"><i class="fa fa-check cc-icon-green" aria-hidden="true"></i><p class="cc-visuallyhidden">Grades approved</p></span>
                <span data-ng-switch-when="gradesPosted"><i class="fa fa-check-circle cc-icon-green" aria-hidden="true"></i><p class="cc-visuallyhidden">Grades posted. Note: All classes, with or without midpoint grades, will post</p></span>
                <span data-ng-switch-when="gradesOverdue"><i class="fa fa-exclamation-circle cc-icon-red" aria-hidden="true"></i><p class="cc-visuallyhidden">Final grade entry period closed; grades overdue</p></span>
                <span data-ng-switch-default><i class="fa fa-ban" aria-hidden="true"></i><p class="cc-visuallyhidden">Grade entry period not open</p></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="cc-academics-course-grading-footer cc-widget-padding show-for-medium-up" aria-hidden="true">
      <h3>Grading Status Legend</h3>
      <div>
        <ul class="cc-academics-course-grading-icon">
          <li><i class="fa fa-ban cc-inline-block"></i> Grade entry period not open</li>
          <li data-ng-if="containsMidpointClass"><i class="fa fa-circle cc-inline-block"></i> Law class (no midpoint grades) <strong>OR</strong> you do not have grading permissions</li>
          <li data-ng-if="!containsMidpointClass"><i class="fa fa-circle cc-inline-block"></i> You do not have grading permissions</li>
          <li><i class="fa fa-file-o cc-inline-block"></i> Grade entry period open; grades not approved or posted</li>
          <li><i class="fa fa-check cc-icon-green cc-inline-block"></i> Grades approved</li>
          <li><i class="fa fa-check-circle cc-icon-green cc-inline-block"></i> Grades posted <strong>Note: </strong>All classes, with or without midpoint grades, will post.</li>
          <li><i class="fa fa-exclamation-circle cc-icon-red cc-inline-block"></i> Final grade entry period closed; grades overdue</li>
        </ul>
      </div>
    </div>
  </div>
  <div data-ng-if="selectedTeachingSemester">
    <div class="cc-academics-subtitle">
      <h3>Teaching</h3>
    </div>
    <div class="cc-widget-padding">
      <div class="cc-table">
        <table>
          <thead>
            <th scope="col" class="cc-table-right-spacing">Course</th>
            <th scope="col" class="show-for-medium-up">Class Number</th>
            <th scope="col">Title</th>
            <th scope="col" class="show-for-medium-up">Sections</th>
          </thead>
          <tbody data-ng-if="selectedTeachingSemester.classes.length" data-ng-repeat="course in selectedTeachingSemester.classes">
            <tr data-ng-class-even="'cc-academics-even'">
              <td class="cc-table-right-spacing cc-academics-course-number">
                <div data-ng-repeat="listing in course.listings">
                  <a data-ng-href="{{course.url}}"
                     data-ng-bind="listing.course_code">
                  </a>
                </div>
                <div class="show-for-small-only">
                  <span data-ng-bind="course.scheduledSectionCount"></span>
                  <span data-ng-pluralize count="course.scheduledSectionCount" when="{'1': 'section', 'other': 'sections'}">sections</span>
                </div>
              </td>
              <td class="show-for-medium-up">
                <div data-ng-if="!course.multiplePrimaries" data-ng-bind="course.sections[0].ccn"></div>
                <div data-ng-if="course.multiplePrimaries">Multiple</div>
              </td>
              <td data-ng-bind="course.title"></td>
              <td class="show-for-medium-up">
                <div data-ng-repeat="scheduledSection in course.scheduledSections">
                  <span data-ng-bind="scheduledSection.count"></span> <span data-ng-bind="scheduledSection.format"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
