<div class="cc-page-finaid" data-cc-spinner-directive="termsAndConditions.isLoading" data-ng-if="api.user.profile.features.csFinAid">
  <div class="row collapse">
    <div class="column">
      <h1 class="cc-heading-page-title cc-print-hide">
        <a href="/finances">My Finances</a> &raquo; Financial Aid and Scholarships
      </h1>
      <h1 class="cc-heading-page-title cc-hidden cc-print-show">
        Financial aid for <span data-ng-bind="api.user.profile.fullName"></span>
      </h1>
    </div>
    <div class="columns">
      <div
        data-cc-finaid-permissions-directive
        data-title="'Financial Aid Terms and Conditions'"
        data-header="termsAndConditions.mainHeader"
        data-text="termsAndConditions.mainBody"
        data-response-header="termsAndConditions.dynamicHeader"
        data-response-text="termsAndConditions.dynamicBody"
        data-button-text-approve="'I Agree'"
        data-button-action-approve="sendResponseTC(termsAndConditions.aidYear, 'Y')"
        data-button-go-back="true"
        data-can-post="api.user.profile.actAsOptions.canPost && !termsAndConditions.approved"
      ></div>
    </div>
  </div>
</div>
