<div class="cc-page-finaid" data-cc-spinner-directive="termsAndConditions.isLoading" data-ng-if="api.user.profile.features.csFinAid">
  <div class="row collapse">
    <div class="column">
      <h1 class="cc-heading-page-title cc-print-hide">
        <a href="/finances">My Finances</a> &raquo; Financial Aid and Scholarships
      </h1>
      <h1 class="cc-heading-page-title cc-hidden cc-print-show">
        Financial aid for <span data-ng-bind="api.user.profile.fullName"></span>
      </h1>
    </div>
    <div class="columns">
      <div data-ng-if="!termsAndConditions">
        <div class="medium-8 medium-centered columns cc-column-3 cc-clearfix-container">
          <div class="cc-widget cc-widget-permissions">
            <div class="cc-widget-title">
              <h2>Financial Aid Terms and Conditions</h2>
            </div>
            <div class="cc-widget-text">
              <h3>Terms and Conditions information is not yet available.</h3>
              <div>
                <i class="fa fa-exclamation-circle cc-icon-gold"></i>
                Please try again later or contact
                <a href="http://studentcentral.berkeley.edu"
                   title="Contact Cal Student Central"
                   target="_blank"
                   rel="noopener noreferrer">Cal Student Central
                  <span class="cc-visuallyhidden">, this link opens in new window</span></a> for assistance.
              </div>
              <hr>
              <div class="cc-text-left">
                <a class="cc-button cc-button-blue" href="/finances">Return to My Finances</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-cc-finaid-permissions-directive
        data-ng-if="termsAndConditions"
        data-title="'Financial Aid Terms and Conditions'"
        data-header="termsAndConditions.mainHeader"
        data-text="termsAndConditions.mainBody"
        data-response-header="termsAndConditions.dynamicHeader"
        data-response-text="termsAndConditions.dynamicBody"
        data-button-text-approve="'I Agree'"
        data-button-action-approve="sendResponseTC(termsAndConditions.aidYear, 'Y')"
        data-button-go-back="true"
        data-aid-year="termsAndConditions.aidYear"
        data-can-post="api.user.profile.actAsOptions.canPost && !termsAndConditions.approved"
      ></div>
    </div>
  </div>
</div>
