<div class="row cc-page-splash-container">
  <div class="cc-page-splash-card">
    <div class="cc-page-splash-logo-container">
      <div class="cc-page-splash-center">
        <div class="cc-image-responsive cc-page-splash-logo" title="CalCentral Logo"></div>
      </div>
    </div>
    <div class="cc-page-splash-buttons">
      <button class="radius cc-button cc-button-blue cc-button-large" data-ng-click="api.auth.signIn()"><strong>Sign In</strong></button><br>
      <div class="cc-page-splash-more">
        <a data-ng-click="splashMore = !splashMore">
          <span data-ng-hide="splashMore">New to CalCentral? <i class="fa fa-chevron-down"></i></span>
          <span data-ng-show="splashMore">Show Less <i class="fa fa-chevron-up"></i></span>
        </a>
      </div>
      <div data-ng-show="splashMore">
        <div class="cc-widget-padding"><strong>Getting started with CalCentral</strong><br><br>
          <p>
            Student, Staff, and Faculty<br>
            <a href="https://calnetweb.berkeley.edu/calnet-me/information-new-users" title="Create CalNet ID" target="_blank" rel="noopener noreferrer ">Create CalNet ID</a>
          </p>
          <p>
            Undergraduate Admits (Prior to accepting admission offer)<br>
            <a href="https://apply.berkeley.edu/account/login?r=https%3a%2f%2fapply.berkeley.edu%2fapply%2fstatus" title="Login with MAP@Berkeley" target="_blank" rel="noopener noreferrer ">Login with MAP@Berkeley</a>
          </p>
          <p>
            Delegates<br>
            <a href="https://sis.berkeley.edu/delegate-access" title="Delegate Access" target="_blank" rel="noopener noreferrer ">Delegate Access</a>
          </p>
          <p>
            <a href="https://sis.berkeley.edu/help/calcentral" title="Learn more about CalCentral" target="_blank" rel="noopener noreferrer ">Learn more about CalCentral</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="cc-page-splash-card">
    <div class="cc-splash-page-note-title">CalCentral News</div>
    <div class="row collapse cc-page-splash-blog-panel" data-ng-if="splashNote.title">
      <div class="medium-2 columns hide-for-small cc-page-splash-blog-date">
        <p>{{splashNote.timestamp.dateString}}</p>
      </div>
      <div class="medium-10 columns small-12">
        <p class="cc-page-splash-blog-title">
          <a data-ng-if="splashNote.link" data-ng-href="{{splashNote.link}}" data-ng-bind="splashNote.title"></a>
          <span data-ng-if="!splashNote.link" data-ng-bind="splashNote.title"></span>
        </p>
        <div data-ng-show="splashNote.snippet && !showFullBody">
          <div class="cc-page-splash-blog-summary" data-ng-bind-html="splashNote.snippet"></div>
          <button class="cc-button-link" data-ng-show="splashNote.body" data-ng-click="showFullBody=!showFullBody">Show more</button>
        </div>
        <div data-ng-show="!splashNote.snippet || showFullBody">
          <div class="cc-page-splash-blog-summary" data-ng-bind-html="splashNote.body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cc-splash-page-push"></div>

