<div class="row cc-page-splash-container">
  <div class="medium-6 columns">
    <div class="cc-page-splash-container-right">
      <div class="cc-page-splash-container-right-images">
        <div class="cc-page-splash-center">
          <div class="cc-page-splash-buttons">
            <button class="radius cc-button cc-button-blue cc-button-large" data-ng-click="api.user.signIn()">Sign In</button>
          </div>
        </div>
        <div class="row cc-page-splash-info cc-page-splash-center">
          <img src="/canvas/images/bcourses_righthand.png" alt="bCourses Support">
          <h1>ETS Support Utilities</h1>
        </div>
      </div>
    </div>
  </div>
</div>
