<div class="cc-page-status cc-page-sorry">
  <h1 class="cc-visuallyhidden">Problems with CalNet Login</h1>
  <div class="cc-widget cc-page-status-container">
    <div class="cc-widget-title">
      <h2>Unrecognized Login</h2>
    </div>

    <div class="cc-widget-padding">
      <div class="cc-left">
        <p>
          Sorry, CalCentral currently does not recognize your login. You may log out and try again, or contact our <a href="https://sis.berkeley.edu/help/calcentral-support">support team</a>.
        </p>
        <p>If you are a current applicant, you may view your application or admission status at <a href="http://admissions.berkeley.edu/myapplicationportal">MAP@Berkeley</a>.</p>
      </div>
    </div>
  </div>
</div>
