<div class="cc-page-status cc-page-sorry">
  <h1 class="cc-visuallyhidden">Problems with CalNet Login</h1>
  <div class="cc-widget cc-page-status-container">
    <div class="cc-widget-title">
      <h2>Unauthorized MAP(Slate) Login</h2>
    </div>

    <div class="cc-widget-padding">
      <div class="cc-left">
        <p>
          Sorry, CalCentral did not authorize your MAP(Slate) Credentials. You may log out and try again using your CalNet ID and Passphrase, or contact our <a href="https://sis.berkeley.edu/help/calcentral-support">support team</a>.
        </p>
      </div>
    </div>
  </div>
</div>
