<div class="cc-page-status cc-page-sorry">
  <h1 class="cc-visuallyhidden">Problems with CalNet Login</h1>
  <div class="cc-widget cc-page-status-container">
    <div class="cc-widget-title">
      <h2>Login Instructions</h2>
    </div>

    <div class="cc-widget-padding">
      <div class="cc-left">
        <p>
          You must now use your CalNet ID to log into CalCentral. Your MAP@Berkeley lD can no longer be used to log into CalCentral.
        </p>
        <p>
          Need help with your CalNet account? Visit <a href=" http://mycalnet.berkeley.edu/">mycalnet.berkeley.edu</a>.
        </p>
        <p>
          Use your MAP@Berkeley ID email and password if you wish to log into <a href=" http://mycalnet.berkeley.edu/">MAP@Berkeley</a>. For further assistance, visit <a href="https://sis.berkeley.edu/help/calcentral-support">support</a>.
        </p>
        <a href="#" data-ng-click="api.user.signOut()" class="cc-button cc-button-blue cc-page-status-button">Log in with CalNet ID</a>
      </div>
    </div>
  </div>
</div>
